nav.c-sidebar.c-my-account__sidebar.o-box-12.o-box-3-lg
    ul.c-sidebar-link-list.c-sidebar-link-list--primary
        li.c-sidebar-link-list-item
            a.c-sidebar-link-list-item__link.c-sidebar-link-list-item__link--is-selected(href="/output/account.html") Overview
        li.c-sidebar-link-list-item
            a.c-sidebar-link-list-item__link(href="/output/order-history.html") Order History
        li.c-sidebar-link-list-item
            a.c-sidebar-link-list-item__link(href="/output/profile-favourites.html") Favourites (1)
        li.c-sidebar-link-list-item
            a.c-sidebar-link-list-item__link(href="/output/our-picks.html") Our picks for you
    ul.c-sidebar-link-list.c-sidebar-link-list--secondary
        li.c-sidebar-link-list-item
            a.c-sidebar-link-list-item__link(href="/output/payment-detail.html") Payment
        li.c-sidebar-link-list-item
            a.c-sidebar-link-list-item__link(href="/output/address-book.html") Adress book
        li.c-sidebar-link-list-item
            a.c-sidebar-link-list-item__link(href="/output/profile-detail.html") Details
        li.c-sidebar-link-list-item
            a.c-sidebar-link-list-item__link Sign out