<!-- OPENED classı eklenince popup görünür. sepet gösterilirken body'e 'hidden-scroll' classı eklenecek -->
//c-overlay için visible classı eklenecek
.c-overlay
.basket-wrapper.o-drawer
    .o-drawer__body.c-scrollable
        header.basket-header
            h2.title.wf-sectra Shopping bag (2)
                span.head-dash(style="width: 70px; margin-left: 10px;")

            .header-sub-desc
                span.basket-notification Free shipping on all orders for a limited time.
                span.basket-order-number.wf-sectra ID: 240220003

            .u-btn.o-close-button
                a(href="#")
                    +icon-close()

        section.basket-content
            <!-- SEPETTE ÜRÜN YOKKEN -->
            .basket-empty.hidden
                span.empty-message.wf-sectra Your shopping bag is empty.
                a.link-basic-text.wf-patron(href="#") Continue shopping

            <!-- SEPETTE ÜRÜN VARKEN GÖRÜNECEK -->
            ul.basket-list
                li.basket-list-item
                    a.product-image(href="#")
                        img(src="//media.aldoshoes.com/v2/product/amriteresa/97/amriteresa_black_97_main_sq_wt_350x350.jpg")

                    .basket-list-item__detail
                        .header
                            h2.product-name Amriteresa
                            span.final-price $79.96

                        ul.price-breakdown
                            li
                                span Sale  —
                                span.u-text-strikethrough $80.00
                                span.product-item__discount $39.98

                        ul.choice-list
                            li Black
                            li Qty. 2

                        ul.action-list
                            li
                                a.action-button(href="#")
                                    +icon-edit()
                                    | Edit
                            li
                                a.action-button(href="#")
                                    +icon-remove()
                                    | Remove
                            li
                                a.action-button(href="#")
                                    +icon-like()
                                    | Move to favourites

            .cart-summary
                h3.cart-summary-title.wf-sectra Shopping bag summary
                table.cart-summary-table
                    tr.cart-summary-table__row
                        td.cart-summary-table__row-item Subtotal (CAD)
                        td  $79.96
                table.cart-summary-table
                    tr.cart-summary-table__row
                        td.cart-summary-table__row-item Shipping
                        td
                            .select
                                select
                                    option(value="") Select method
                                    option(value="") Standart Free
                                    option(value="") Express: $10

                table.cart-summary-table
                    tr.cart-summary-table__row
                        td.cart-summary-table__row-item Taxes
                        td
                            a.link-basic-text.wf-patron(href="#") Estimate

                table.cart-summary-table.cart-form-table
                    tr.cart-summary-table__row
                        td.cart-summary-table__row-item
                            .form-field
                                input(type="text", id="estimate-text")
                                label.field-name(for="estimate-text") Enter postal code
                        td
                            a.btn.btn--second.btn--small.wf-patron(href="#") Apply

                    tr
                        td
                            a.link-basic-text.wf-patron(href="#") Cancel

                <!-- promo code -->
                <!-- enter promo code'ye tıklanınca bu blok gizlenecek -->
                table.cart-summary-table.cart-form-table
                    tr.cart-summary-table__row
                        td.cart-summary-table__row-item
                            a.link-basic-text.wf-patron(href="#") Enter promo code

                <!-- enter promo code'ye tıklanınca bu blok gösterilecek  -->
                table.cart-summary-table.cart-form-table
                    tr.cart-summary-table__row
                        td.cart-summary-table__row-item
                            .form-field
                                input(type="text", id="estimate-text")
                                label.field-name(for="estimate-text") Enter postal code
                        td
                            a.btn.btn--second.btn--small.wf-patron(href="#") Apply

                    tr
                        td
                            a.link-basic-text.wf-patron(href="#") Cancel

                <!-- promo code -->

                table.cart-summary-table
                    tr.cart-summary-table__row
                        td.cart-summary-table__row-item Total (CAD)
                            span.total-description Taxes not yet calculated
                        td.cart-total-price  $79.96

                a.btn.btn--primary.btn--block.wf-patron.btn--regular(href="#") Checkout

