<!-- ŞİFREMİ UNUTTUM POPUP -->
<!-- OPENED classı eklenince popup görünür -->
.modal.modal--small
    .overlay
    .modal-wrapper
        .modal-header
            h3.modal-title Forgot password?
            .modal-paragraph.wf-patron
                a.link-basic-text(href="#") Sign in

            .modal-close-button.u-btn.o-close-button
                a(href="#")
                    +icon-close()

        .modal-content
            form.login-form.u-small-text
                .login-form-field
                    .form-field
                        input(type="text" id="email-address")
                        label.field-name(for="email-address") Email address

                .login-form-field
                    button.btn.btn--primary.btn--block.btn--regular.wf-patron Send reset password email
