<!-- OPENED classı eklenince popup görünür -->
.modal.modal--small
    .overlay
    .modal-wrapper
        .modal-header
            h3.modal-title Sign in to your Aldo account

            .modal-close-button.u-btn.o-close-button
                a(href="#")
                    +icon-close()

        .modal-content
            .login-option-modal-list.u-small-text.wf-patron
                a.btn.btn--facebook.btn--block.btn--regular(href="#")
                    +icon-facebook()
                    | Sign in with Facebook

                a.btn.btn--second.btn--block.btn--regular(href="#")
                    | Sign in with email

                .another-text New to Aldo?
                    a.link-basic-text(href="#") Create an account