<!-- LOGIN FORM POPUP -->
<!-- OPENED classı eklenince popup görünür -->
.modal.modal--small
    .overlay
    .modal-wrapper
        .modal-header
            h3.modal-title Sign into my account
            .modal-paragraph.wf-patron
                a.link-basic-text(href="#") Register
                span.u-small-text &nbsp;or&nbsp;
                a.link-basic-text(href="#") sign in with Facebook

            .modal-close-button.u-btn.o-close-button
                a(href="#")
                    +icon-close()

        .modal-content
            form.login-form.u-small-text
                .c-form-error-handling
                    .o-well.o-well--is-error
                        +icon-remove()
                        | Your username and/or password is incorrect
                .login-form-field
                    .form-field.invalid
                        input(type="text" id="email-address")
                        label.field-name(for="email-address") Email address
                        label.error Invalid email address

                .login-form-field.password-field
                    .form-field
                        input(type="password" id="password")
                        label.field-name(for="password") Password
                        a.show-password.link-basic-text.wf-patron Show

                .login-form-field
                    button.btn.btn--primary.btn--block.btn--regular.wf-patron Sign In

                .login-form-field.text-center.wf-patron
                    a.link-basic-text(href="#") Forgot your password?
