.c-overlay-filter.c-overlay--is-visible
    .c-dimmer.c-dimmer--is-visible.c-dimmer--is-white
    main.c-filters-overlay
        div.c-filters-overlay__inner
            .c-filters-overlay__transparent-clicker
            .o-container
                button.c-filters-overlay-btn.mobile-hidden Hide
                    <svg aria-hidden="true" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path d="M0 181.7h400v36.6H0z" role="presentation"></path></svg>
                div.mobile-filter-caption.mobile-visible
                    button.c-filters-overlay-btn Filter
                        <svg aria-hidden="false" aria-labelledby="Close filters-icon" class="c-icon c-filters-overlay__close-icon" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 400"><text class="c-icon--title" id="Close filters-icon">Close filters</text><path role="presentation" d="M393.1,359.4L233.5,200L393.2,40.5c4.4-4.4,6.8-10.3,6.8-16.6c0-6.3-2.5-12.2-7-16.6c-4.4-4.4-10.6-7-16.8-7c-6.3,0-12.2,2.4-16.4,6.8L200,166.7L40.3,7.3c-4.4-4.4-10.4-6.9-16.7-6.9S11.3,2.8,6.9,7.3c-9.3,9.3-9.2,23.9,0.2,33.2l159.7,159.3L7.1,359.4c-4.5,4.5-7,10.5-7,16.9c0,6.2,2.4,12.1,6.9,16.5c4.4,4.4,10.4,6.9,16.7,6.9c6.2,0,12.1-2.4,16.7-6.9l159.9-159.5l159.5,159.3c4.5,4.5,10.5,7,16.8,7c6.1,0,12.1-2.5,16.4-6.8c4.4-4.4,6.9-10.3,6.9-16.5C400,370,397.6,364,393.1,359.4z"></path></svg>
                    button.btn.btn--wide-padding.btn--tertiary.clear Clear Filters
                    button.btn.btn--wide-padding.btn--tertiary.apply Apply
            .c-filters-overlay__contents-wrapper
                .o-container.c-filters-overlay__contents
                    .c-filters-overlay__contents-inner
                        .o-box-3.o-box-3-lg.o-box-12-xs.mobile-accordion
                            .accordion-item__button
                                h2.c-heading Size
                                    small.mobile-visible All
                                <svg aria-hidden="true" class="c-icon c-accordion-item__icon mobile-visible" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M323.7 141.8c0-3-1.1-5.7-3.1-7.7-2.1-2.1-5-3.2-8.2-3.2-2.4 0-4.8.9-7.1 2.7l-.7.7-90.3 92.7-7.2 7.4-7.2 7.4-7.2-7.4-7.2-7.4-90.3-92.7-.7-.7c-2.3-1.8-4.7-2.7-7.1-2.7-3.2 0-6.1 1.1-8.2 3.2-2 2-3.1 4.7-3.1 7.7s1.1 5.7 3.2 8.1l111.3 115.7.2.3.2.3.2.3.1.1c1.6 1.4 4.9 2.7 8.4 2.7s6.8-1.3 8.4-2.7l.1-.1.2-.3.2-.3.2-.3 111.3-115.7c2.5-2.4 3.6-5.1 3.6-8.1z"></path></svg>
                            ul.option-list.active
                                -for (var i = 0; i < 10; i++)
                                    li
                                        a.number-list-item(href="#")
                                            span 1
                        .o-box-3.o-box-3-lg.o-box-12-xs.mobile-accordion
                            .accordion-item__button
                                h2.c-heading Colour
                                    small.mobile-visible All
                                <svg aria-hidden="true" class="c-icon c-accordion-item__icon mobile-visible" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M323.7 141.8c0-3-1.1-5.7-3.1-7.7-2.1-2.1-5-3.2-8.2-3.2-2.4 0-4.8.9-7.1 2.7l-.7.7-90.3 92.7-7.2 7.4-7.2 7.4-7.2-7.4-7.2-7.4-90.3-92.7-.7-.7c-2.3-1.8-4.7-2.7-7.1-2.7-3.2 0-6.1 1.1-8.2 3.2-2 2-3.1 4.7-3.1 7.7s1.1 5.7 3.2 8.1l111.3 115.7.2.3.2.3.2.3.1.1c1.6 1.4 4.9 2.7 8.4 2.7s6.8-1.3 8.4-2.7l.1-.1.2-.3.2-.3.2-.3 111.3-115.7c2.5-2.4 3.6-5.1 3.6-8.1z"></path></svg>
                            ul.option-list
                                -for (var i = 0; i < 4; i++)
                                    li.half
                                        a.style-option(href="#")
                                            .option-img
                                                img(src="//media.aldoshoes.com/v2/product/aurella/32/aurella_beige-taupe_32_sw_sq_24x24.jpg")
                                            span.text Beige/taupe
                        .o-box-3.o-box-3-lg.o-box-12-xs.mobile-accordion
                            .accordion-item__button
                                h2.c-heading Heel high
                                    small.mobile-visible All
                                <svg aria-hidden="true" class="c-icon c-accordion-item__icon mobile-visible" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M323.7 141.8c0-3-1.1-5.7-3.1-7.7-2.1-2.1-5-3.2-8.2-3.2-2.4 0-4.8.9-7.1 2.7l-.7.7-90.3 92.7-7.2 7.4-7.2 7.4-7.2-7.4-7.2-7.4-90.3-92.7-.7-.7c-2.3-1.8-4.7-2.7-7.1-2.7-3.2 0-6.1 1.1-8.2 3.2-2 2-3.1 4.7-3.1 7.7s1.1 5.7 3.2 8.1l111.3 115.7.2.3.2.3.2.3.1.1c1.6 1.4 4.9 2.7 8.4 2.7s6.8-1.3 8.4-2.7l.1-.1.2-.3.2-.3.2-.3 111.3-115.7c2.5-2.4 3.6-5.1 3.6-8.1z"></path></svg>
                            ul.option-list
                                 -for (var i = 0; i < 1; i++)
                                     li.full
                                         label.checkbox-label.centerfix.disabled
                                             .checkbox
                                                 input(type="checkbox")
                                                 span
                                             | Under 1"
                                 -for (var i = 0; i < 3; i++)
                                     li.full
                                         label.checkbox-label.centerfix
                                             .checkbox
                                                 input(type="checkbox")
                                                 span
                                             | 1" - 1.75"
                        .o-box-3.o-box-3-lg.o-box-12-xs.mobile-accordion
                            .accordion-item__button
                                h2.c-heading Price
                                    small.mobile-visible All
                                <svg aria-hidden="true" class="c-icon c-accordion-item__icon mobile-visible" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M323.7 141.8c0-3-1.1-5.7-3.1-7.7-2.1-2.1-5-3.2-8.2-3.2-2.4 0-4.8.9-7.1 2.7l-.7.7-90.3 92.7-7.2 7.4-7.2 7.4-7.2-7.4-7.2-7.4-90.3-92.7-.7-.7c-2.3-1.8-4.7-2.7-7.1-2.7-3.2 0-6.1 1.1-8.2 3.2-2 2-3.1 4.7-3.1 7.7s1.1 5.7 3.2 8.1l111.3 115.7.2.3.2.3.2.3.1.1c1.6 1.4 4.9 2.7 8.4 2.7s6.8-1.3 8.4-2.7l.1-.1.2-.3.2-.3.2-.3 111.3-115.7c2.5-2.4 3.6-5.1 3.6-8.1z"></path></svg>
                            ul.option-list
                                -for (var i = 0; i < 1; i++)
                                    li.full
                                        label.checkbox-label.centerfix.disabled
                                            .checkbox
                                                input(type="checkbox")
                                                span
                                            | $50 - $74.99
                                -for (var i = 0; i < 2; i++)
                                    li.full
                                        label.checkbox-label.centerfix
                                            .checkbox
                                                input(type="checkbox")
                                                span
                                            | $100 - $149.99
            .o-container
                div.mobile-filter-caption.mobile-visible
                    button.btn.btn--wide-padding.btn--tertiary.clear Clear Filters
                    button.btn.btn--wide-padding.btn--tertiary.apply Apply
        .c-filters-overlay-controls.mobile-hidden
            button.c-filters-overlay-controls__apply-btn Apply
            span.u-btn__content Clear Filters