<!-- Genel product item -->
mixin productItem(addClass)
    if (addClass == '')
        li.c-product-tile.o-box-6.o-box-4-xs-mid.o-box-3-lg.o-box(class='')
            .c-product-tile__inner
                a.c-product-tile__link-product(href="#")
                    span.c-product-tile__content-wrapper
                        picture.c-picture.c-product-tile__content
                            img(src="//media.aldoshoes.com/v2/product/scotch/97/scotch_black_97_main_rc_nt_500x635.jpg")

                .c-product-tile__footer
                    h3.c-product-tile__product-name Brilasen
                        span.head-dash(style="margin-left: 5px; width: 28px;")
                    .c-product-tile-info__item
                        .c-product-tile__product-price
                            span $55
                button.c-favourites-btn
                    +icon-favourites()

    else
        li.c-product-tile.o-box-12.o-box-8-xs-mid.o-box-6-lg.o-box(class=addClass)
            .c-product-tile__inner
                a.c-product-tile__link-product(href="#")
                    span.c-product-tile__content-wrapper
                        picture.c-picture.c-product-tile__content
                            img(src="//media.aldoshoes.com/v2/product/bentzen/97/bentzen_black_97_look-part_rc_nt_500x635.jpg")

                .c-product-tile__footer
                    h3.c-product-tile__product-name Brilasen
                        span.head-dash(style="margin-left: 5px; width: 28px;")
                    .c-product-tile-info__item
                        .c-product-tile__product-price
                            span $55