.footer {
	/*Footer menu social alan css*/
	&-container {
		@include centerfix;
		border-top: 1px solid #D8D5D5;

		@include minBreakpoint($small_desktop) {
			padding: 3.75rem 0;
		}

		@include breakpoint($small_desktop) {
			.centercontent {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.footer-link-list {
		@include centerfix;

		@include minMaxBreakpoint($mobile, $small_desktop) {
			padding: 2.5rem 2.8125rem;
		}

		&-col {
			float: left;
			width: 33.33333%;

			@include minBreakpoint($phablet) {
				width: 25%;
			}

			@include breakpoint($mobile) {
				width: 100%;
				padding: 2.125rem .9375rem 0.250rem;

				&:not(:last-child) {
					border-bottom: 1px solid #EFECF0;
				}
			}

			&:first-child {
				@include minBreakpoint($mobile) {
					width: 33.33333%;
				}
				@include minBreakpoint($phablet) {
					width: 50%;
				}
			}
		}

		&-title {
			font-size: .75rem;
			font-family: $font_second;
			text-transform: uppercase;
			margin-bottom: 1.875rem;

			@include minBreakpoint($mobile) {
				margin-bottom: 2.1875rem;
			}
		}

		dd {
			@include minBreakpoint($phablet) {
				&:not(.full) {
					-moz-columns: 2;
					columns: 2;
					display: block;
				}
			}
			@include breakpoint($mobile) {
				-moz-columns: 5;
				columns: 5;
				display: block;


				&:not(.social) {
					-moz-columns: 2;
					columns: 2;
					display: block;
				}
			}
		}

		&-item {
			display: block;
			margin-bottom: 1.875rem;

			&.social {
				a {
					border-bottom: none !important;

					&:hover {
						span {
							border-bottom-color: #D8D5D5;
						}
					}
				}
				i svg {
					fill: #3A2E2C;
					height: 1.375rem;
					margin-left: -.3125rem;
					position: relative;
					width: 1.5rem;

					@include minBreakpoint($small_desktop) {
						margin-right: .9375rem;
					}

					@include minBreakpoint($mobile) {
						height: .9375rem;
						margin-right: .625rem;
						vertical-align: top;
					}
				}

				span {
					display: inline-block;
					border-bottom: 1px solid transparent;

					@include breakpoint($mobile){
						display: none;
					}
				}

			}

			a {
				font-size: 1rem;
				color: #3A2E2C;
				border-bottom: 1px solid transparent;

				&:hover {
					border-bottom-color: #D8D5D5;
				}
			}
		}
	}

	&-cta {
		@include breakpoint($small_desktop) {
			padding-bottom: 2.5rem;
			padding-top: 2.5rem;
			width: 100%;
			background: #F5F3F5;
		}

		@include minMaxBreakpoint($mobile, $small_desktop) {
			-ms-flex-align: center;
			align-items: center;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: justify;
			justify-content: space-between;
			padding-left: 2.8125rem;
			padding-right: 2.8125rem;
		}

		@include minBreakpoint($small_desktop) {
			position: absolute;
			top: 0;
			right: 0;
		}

		@include breakpoint($mobile) {
			padding-left: .9375rem;
			padding-right: .9375rem;
		}

		h5 {
			font-size: 1.875rem;
			font-weight: 400;
			line-height: 1.875rem;
			margin-top: 0;

			@include minBreakpoint($small_desktop) {
				font-size: 3rem;
				font-weight: 400;
				line-height: 3rem;
				margin-bottom: 1.25rem;
				position: relative;
			}

			@include breakpoint($small_desktop) {
				margin-bottom: .9375rem;
			}
		}

		p {
			font-size: .875rem;
			line-height: 1.25rem;
			margin-top: 0;

			@include minBreakpoint($small_desktop) {
				margin-bottom: 1.875rem;
			}

			@include breakpoint($mobile) {
				margin-bottom: 1.875rem;
			}

			@include minBreakpoint($mobile) {
				font-size: 1.125rem;
				line-height: 1.5rem;
			}
		}

		.btn {
			@include minMaxBreakpoint($mobile, $phablet) {
				-ms-flex-preferred-size: auto;
				flex-basis: auto;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				padding-left: .9375rem;
				padding-right: .9375rem;
			}
		}
	}

	/*Footer kahverengi alan css*/
	&-legal {
		@include centerfix;
		background-color: #3A2E2C;
		color: #FFF;
		padding-bottom: 1.25rem;
		padding-top: 1.75rem;

		@include minBreakpoint($mobile) {
			padding: 1.875rem 0;
		}
	}

	&-logo-wrap {
		float: left;
		margin-right: 2.375rem;
		width: 6.25rem;

		svg {
			fill: $white;
			width: 6.25rem;
		}

		@include breakpoint($small_desktop) {
			width: 100%;
			display: block;
			margin-bottom: 25px;
		}

		@include breakpoint($mobile) {
			margin-bottom: 15px;
		}
	}

	&-copyright {
		float: left;
		font-size: .875rem;
		line-height: 1.25rem;

		@include breakpoint($phablet) {
			position: absolute;
			right: 0;
		}

		@include breakpoint($mobile) {
			position: relative;
			float: left;
			width: 100%;
		}
	}

	&-nav {
		position: absolute;
		right: 0;
		top: 0;
		font-family: $font_second;

		@include breakpoint($small_desktop) {
			top: 47px;
		}

		@include breakpoint($phablet) {
			top: 24px;
		}

		@include breakpoint($mobile) {
			position: relative;
			float: left;
			width: 100%;
			top: 0;
		}

		ul {
			li {
				float: left;
				margin-left: 1.75rem;

				@include breakpoint($mobile) {
					margin-bottom: 1.5625rem;
					width: 50%;
					margin-left: 0;
				}

				&:first-child {
					margin-left: 0;
				}

				a {
					font-size: .75rem;
					line-height: .75rem;
					color: rgba(255,255,255,.6);
					display: inline-block;

					&:hover {
						color: $white;
						text-decoration: underline;
					}
				}
			}
		}
	}
}