.header {
	@include centerfix();
	z-index: 10000;

	&-mobile {
		position: absolute;
		left: 0;
		top: 0;
	}

	&-container {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		perspective: 1000;
		position: fixed;
		transform: translateZ(0);
		background-color: $white;
		height: 3.125rem;
		padding-right: .9375rem;
		top: 0;
		width: 100vw;
		z-index: 30;
		transition: border .38s ease-out;

		@include minBreakpoint($phablet) {
			border-bottom: 1px solid transparent;
			height: 6.875rem;
			transition: border .38s ease-out;
		}

		@include minBreakpoint($small_desktop) {
			height: 7.5rem;
		}

		@include breakpoint($phablet) {
			padding-right: 0;
		}

		.centercontent {
			@include breakpoint($phablet) {
				margin: 0;
				float: left;
				width: 100%;
			}
		}

		//header top css
		&-top {
			@include minBreakpoint($phablet) {
				margin-top: .625rem;
				min-height: 1.3125rem;
				position: relative;
				transition: transform .54s cubic-bezier(.19,1,.22,1);
				z-index: 1;
			}
			//header top kampanya text
			&-campaign {
				float: left;
				font-size: .875rem;
				line-height: 1.25rem;
				color: #3300AD;
				font-weight: bolder;

				a {
					display: inline-block;
					font-size: .75rem;
					font-weight: 400;
					margin-left: .625rem;

					&:not(:hover) {
						color: #3A2E2C;
						border-bottom: 1px solid #D8D5D5;
					}
				}
			}
			//header top menü
			&-menu {
				@include minBreakpoint($phablet) {
					position: absolute;
					right: 0;
					top: 0;
				}

				> li {
					float: left;

					&:last-child {
						a {
							margin-right: 0;
						}
					}

					&.language-box:hover {
						.c-popover__inner {
							display: block;
							opacity: 1;
							transform: translateY(0px);
							border: 1px solid #efecf0;
						}

						.icon-arrow {
							transform: rotate(-180deg);
						}
					}

					> a {
						color: #3A2E2C;
						font-size: 1.125rem;
						font-weight: bolder;
						line-height: 1.5625rem;
						position: relative;

						&:hover {
							color: #3300AD;
						}

						@include minBreakpoint($phablet) {
							font-family: $font_primary;
							font-size: .75rem;
							text-transform: uppercase;
							display: inline-block;
							margin-right: 1.875rem;
							position: relative;
						}

						.c-icon:not(.icon-arrow) {
							height: 1.25rem;
							margin-right: .625rem;
							margin-top: -.3125rem;
							vertical-align: middle;
							width: 1.25rem;
						}

						.icon-arrow {
							height: .625rem;
							margin-left: .3125rem;
							vertical-align: middle;
							width: .625rem;
						}
					}
				}
			}
		}

		//header bottom css

	}

	// header mobile button css
	.mobile-menu-button {
		left: 0;
		padding: 1.0625rem;
		position: absolute;
		top: 0;
		color: $black;

		.c-icon {
			height: 1.125rem;
			width: 1.125rem;
		}
	}

	.mobile-search-icon {
		left: 38px;
		padding: 1.0625rem;
		position: absolute;
		top: 0;
		color: $black;

		.c-icon {
			height: 1.0625rem;
			width: 1.0625rem;
		}
	}

	//header bottom css

	//header logo
	&-logo-wrap {
		@include breakpoint($phablet) {
			margin: 1rem auto;
			position: relative;
			width: 4.6875rem;
			z-index: 30;
		}

		@include minBreakpoint($phablet) {
			left: 50%;
			position: absolute;
			transform: translate3d(-50%, 1.5rem, 0);
			transform-origin: center center;
			transition: all .58s cubic-bezier(.19,1,.22,1);
		}

		.header-logo {
			height: .875rem;

			@include minBreakpoint($phablet) {
				height: 1.3125rem;
			}

			@include minBreakpoint($small_desktop) {
				height: 1.5rem;
			}
		}
	}

	&-container-bottom {
		@include breakpoint($phablet) {
			position: absolute;
			right: 0;
			top: 0;
		}

		@include minBreakpoint($phablet) {
			transform: translate3d(0,1.0625rem,0);
			transition: transform .58s cubic-bezier(.19,1,.22,1);
		}
		// sepet ve favoriler link css
		.cart-menu-list {
			position: absolute;
			right: 20px;
			top: 0;

			@include minBreakpoint($phablet) {
				font-size: .875rem;
				font-weight: bolder;
				right: 0;
				top: 20px;
				z-index: 1;
			}
			@include breakpoint($phablet) {
				width: 104px;
				padding: .8375rem 0;
			}

			a {
				float: left;
				color: #3A2E2C;
				border-left: 1px solid #EFECF0;

				&:first-child {
					border-left: none;
				}
				@include breakpoint($phablet) {
					padding: .1000rem .9375rem;
				}

				@include minBreakpoint($phablet) {
					margin-left: 1.25rem;
					padding-left: 1.25rem;
				}

				.c-icon-favourites {
					height: 1.25rem;
					vertical-align: text-bottom;
					width: 1.375rem;
				}

				.c-icon-cart {
					height: 1.125rem;
					vertical-align: text-bottom;
					width: .875rem;
				}

				span {
					display: none;
					@include minBreakpoint($phablet) {
						display: inline-block;
						margin-left: .625rem;
					}
				}
			}
		}

		//main menu css
		.header-main-nav {
			@include centerfix();

			ul {
				display: block;

				> li.c-navigation-main-item {
					@include minBreakpoint($phablet) {
						display: inline-block;
					}

					> a.c-navigation--primary__title-button {
						font-family: $font_primary;
						color: #3A2E2C;
						display: inline-block;

						@include minBreakpoint($phablet) {
							font-size: .875rem;
							padding: 1.25rem 1.875rem 1.625rem 0;
							text-transform: uppercase;
						}

						@include minBreakpoint($small_desktop) {
							padding: 1.25rem 1.875rem 2.3125rem 0;
						}

						.icon-arrow {
							height: .625rem;
							width: .625rem;
							margin-left: 0.5rem;
						}

						&.active {
							text-decoration: underline;
							color: #3300AD;
							fill: #3300AD;

							.icon-arrow {
								transform: rotate(-180deg);
							}
						}
					}
				}
			}
		}

	}
}

.c-header--is-skinny {
	.header-container {
		@include minBreakpoint($phablet) {
			border-bottom: 1px solid #F5F3F5;
			height: 3.125rem;
			transition-delay: .24s;
		}

	}
	.header-logo-wrap {
		@include minBreakpoint($phablet) {
			transform: translate3d(-50%,-1rem,0) scale(.8);
		}

		svg {
			@include minBreakpoint($phablet) {
				height: 1.25rem;
			}
		}
	}

	.header-container-top {
		@include minBreakpoint($phablet) {
			transform: translate3d(0,-2.1875rem,0);
		}
	}

	.header-container-bottom {
		@include minBreakpoint($phablet) {
			transform: translate3d(0,-2.2rem,0);
		}
	}
}

/*Header mega menu css*/
.c-navigation-mega-menu {
	left: 100%;
	opacity: 0;
	position: absolute;
	top: -1px;
	width: 16.875rem;
	z-index: 110;
	transition: opacity .24s linear .1s;

	&:before {
		background-color: #F5F3F5;
		content: "";
		display: block;
		height: .0625rem;
		margin: 0 auto;
		width: 100%;
	}

	@include minBreakpoint($phablet) {
		height: auto;
		left: 0;
		margin: 0 -2.8125rem;
		max-height: 0;
		right: 0;
		top: 96%;
		visibility: hidden;
		width: 100vw;
		z-index: 59;
		transition: max-height .44s cubic-bezier(.19,1,.22,1);
		background-color: $white;

		.c-header--is-skinny & {
			top: 72%;
		}
	}

	@include minBreakpoint($small_desktop) {
		margin-left: -3.75rem;
		margin-right: -3.75rem;
		width: auto;
	}

	&--is-closing, &--is-visible {
		opacity: 1;
	}
	&--is-visible {
		visibility: visible;
		max-height: 494px;

		.c-navigation-mega-menu__inner {
			@include minBreakpoint($phablet) {
				transition: .74s cubic-bezier(.19,1,.22,1),opacity .3s linear .2s;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	&--is-closing {
		@include minBreakpoint($phablet) {
			max-height: 0;
			opacity: 1;
			visibility: visible;

			&:before {
				background-color: transparent;
			}
		}
	}

	&__inner {
		@include minBreakpoint($phablet) {
			opacity: 0;
			transform: translateY(-12.5rem);
		}
		@include minBreakpoint($small_desktop) {
			margin: 0 !important;
			max-width: inherit !important;
		}
		&:not(.c-navigation-mega-menu--sale__inner):not(.c-navigation-mega-menu__custom) {
			@include minBreakpoint($small_desktop) {
				padding-left: 3.75rem;
				padding-right: 3.75rem;
			}
		}
	}

	&__divider {
		&:after {
			background-color: #D8D5D5;
			content: " ";
			display: block;
			height: 100%;
			left: 50%;
			margin: 0 auto;
			position: absolute;
			top: 0;
			width: .0625rem;
		}
	}
	.c-navigation--primary__list-heading {
		display: block;
		color: #3A2E2C;
		font-size: 1.125rem;
		font-weight: bolder;
		line-height: 1.5rem;
		margin: 0;
		text-align: left;

		@include minBreakpoint($phablet) {
			margin: 1.3125rem 0;
		}
	}
	.c-navigation__link {
		color: #3A2E2C;
		display: inline-block;
		position: relative;
		@include minBreakpoint($phablet) {
			border-bottom: 1px solid transparent;
		}

		&:hover {
			border-bottom: 1px solid #D8D5D5;
		}
	}

	.c-navigation__list-item {
		border-bottom: 1px solid #EFECF0;
		padding: 0;
		width: 100%;

		@include minBreakpoint($phablet) {
			border-bottom: 0;
			font-size: .875rem;
			font-weight: 400;
			line-height: 1.25rem;
			margin: 0 0 1rem;
		}

		&--special {
			border-bottom: 1px solid #EFECF0;
			display: block;

			@include minBreakpoint($phablet) {
				border-color: #D8D5D5;
			}

			@include minMaxBreakpoint($phablet, $small_desktop) {
				border-bottom: 0;
				border-top: 1px solid #D8D5D5;
				display: inline-block;
				margin-right: 3%;
				vertical-align: top;
				width: 30%;
			}
		}
	}

	.o-box {
		@include minBreakpoint($phablet) {
			padding-top: .625rem;
			padding-bottom: 2.8125rem;
		}
	}

	.c-navigation__list {
		padding-top: 0;
		padding-bottom: 0;
	}

	&__featured-area {
		.c-navigation-featured-content {
			padding-right: 1.25rem;
			&__heading {
				font-size: 1.5rem;
				font-weight: 400;
				line-height: 1.875rem;
				margin: 1.25rem 0 .75rem;
			}

			&__footer-wrapper {
				display: none;
				width: 100%;
			}
		}

		.flex-direction-nav {
			display: none !important;
		}

		.custom-flex-direction-nav {
			position: relative;
			padding: .75rem .1875rem 0;
			margin: 0 -.3125rem;
		}

		.flex-control-nav {
			z-index: 99999;
			right: 1.125rem;
			padding: .75rem .1875rem;

			li {
				float: left;
			}
		}
	}


	/*sale menu css*/
	&--sale {
		&-split__inner {
			background-color: #E5E0E6;
			-ms-flex-align: start;
			align-items: flex-start;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			padding: 1.25rem;
			width: 100%;

			@include minBreakpoint($phablet) {
				padding: 2.5rem;
				width: 50%;
			}

			&:first-child {
				flex-direction: column;
			}

			.c-navigation-mega-menu--sale-split__inner {
				@include minBreakpoint($phablet) {
					padding: 0 1.25rem;
				}
				.c-navigation--primary__list-heading {
					margin-top: 0;
				}
			}
		}
	}

	&--is-sale {

		.centercontent {
			@include breakpoint($small_desktop) {
				margin: 0;
			}
		}

		&-type-feature__eyebrow {
			font-size: 1.125rem;
			line-height: 1.875rem;
			font-style: italic;
			font-weight: 400;
			margin: 0.83em 0;
		}
		&-type-feature__title {
			font-size: 4.5rem;
			font-weight: 700;
			line-height: 4.5rem;
			margin: 0;

			@include minBreakpoint($phablet) {
				font-size: 9rem;
				line-height: 9rem;
				margin-bottom: -.5rem;
			}

			@include minBreakpoint($small_desktop) {
				font-size: 12rem;
				line-height: 12rem;
				margin-bottom: -1.25rem;
			}
		}
		&-type-feature__text {
			font-size: .875rem;
			line-height: 1.25rem;
			margin-bottom: 1.5625rem;

			@include minBreakpoint($mobile) {
				font-size: 1.125rem;
				line-height: 1.5rem;
			}
		}

		.c-navigation-sale-list {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.c-navigation-sale-list__item:first-child:after {
			border-bottom: 1px solid #7F7776;
			content: "";
			display: block;
			margin: 1.875rem 0;
			width: 5rem;
		}
	}
}

.header-overlay {
	z-index: 9999 !important;
}

.c-popover {
	&__inner {
		background-color: #FFF;
		display: none;
		min-width: 12.5rem;
		overflow: hidden;
		position: absolute;
		width: auto;
		right: 0;
		opacity: 0;
		transform: translateY(-20px);

		.c-region-selector__language-list {
			margin-left: 2rem;
			.c-region-selector__language-item {
				font-size: .75rem;
				position: relative;
				margin-bottom: .3125rem;
			}
		}

		.c-region-selector__popover-link {
			font-size: .75rem;
			padding: 1.25rem;
			font-family: $font_second;

			.c-icon {
				margin-top: -.3125rem;
				position: absolute;
				right: 20px;
				top: 50%;
				height: .625rem;
				vertical-align: middle;
				width: .625rem;
			}
		}
	}

	&__item {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: relative;
		text-align: left;
		width: 100%;
		background-color: $white;
		color: #3A2E2C;
		padding: 1.25rem;

		&:not(.c-popover__item--is-active) {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}

		&:hover {
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
		}

		&:not(:last-child) {
			border-bottom: 1px solid #EFECF0;
		}

		.c-icon {
			height: .9375rem;
			width: 1.375rem;
			margin-right: .625rem;
			vertical-align: middle;
		}
	}
}

@include breakpoint($phablet) {
	.c-header__navigation {
		background-color: #EFECF0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		padding: 0;
		position: fixed;
		top: 0;
		transform-style: preserve-3d;
		width: 16.875rem;
		z-index: 99999;
		transform:translateX(-100%);
		transition: .44s cubic-bezier(.19,1,.22,1);

		&--is-visible {
			transform:translateX(0%);
		}

		.c-navigation__scroll-container {
			height: 100%;
			position: absolute;
			width: 100%;
		}

		.c-navigation__scroller {
			background-color: #EFECF0;
			height: calc(100% - 3.125rem);
			transform: translateZ(0);
			position: relative;
			transition: transform .44s cubic-bezier(.19,1,.22,1);
			-webkit-overflow-scrolling: touch;

			&.is-level-1 {
				transform: translate3d(-100%,0,0);
			}

			&.is-level-2 {
				transform: translate3d(-200%,0,0);
			}
		}

		.c-navigation__control {
			height: 3.125rem;
		}

		.c-navigation__item {
			background-color: #FFF;
			border-bottom: 1px solid #EFECF0;
			padding: 0;
			width: 100%;

			.c-icon-arrow-right {
				height: .625rem;
				width: .625rem;
			}
		}

		.c-navigation--primary__list-item {
			border-bottom: 1px solid #EFECF0;
			line-height: 1;
		}

		.c-navigation--primary__title-button {
			color: #3A2E2C;
			cursor: pointer;
			display: inline-block;
			line-height: 1;
			position: relative;
			font-size: 1.125rem;
			font-weight: bolder;
			padding: 1.3125rem 1.25rem;
			text-align: left;
			width: 100%;

			.c-icon {
				margin-top: -.3125rem;
				position: absolute;
				right: 20px;
				top: 50%;
			}
		}

		.c-navigation__control-back {
			font-size: .875rem;
			line-height: 1.25rem;
			color: #3A2E2C;
			height: 2.5rem;
			left: 20px;
			min-height: inherit;
			opacity: 0;
			position: absolute;
			top: 5px;
			transition: opacity .24s linear 50ms;
			visibility: hidden;

			.c-icon {
				height: .625rem;
				margin-right: .3125rem;
				width: .625rem;
			}

			&--is-visible {
				opacity: 1;
				visibility: visible;
			}
		}
		.c-navigation__control-close {
			height: 2.5rem;
			min-height: inherit;
			position: absolute;
			right: 0;
			top: 5px;
			width: 2.5rem;

			.c-icon {
				height: .8125rem;
				width: .8125rem;
			}
		}

		.c-navigation__item--secondary {
			background-color: #EFECF0;

			.c-icon:not(.c-icon-arrow-right) {
				height: 1.25rem;
				margin-right: .625rem;
				margin-top: -.3125rem;
				vertical-align: middle;
				width: 1.25rem;
			}

			.c-navigation__btn {
				background-color: #EFECF0;
			}
		}

		.c-navigation__btn {
			display: block;
			padding: .9375rem;
			text-align: left;
			width: 100%;
		}

		.c-navigation__btn-account {
			color: #3A2E2C;
			font-size: 1.125rem;
			font-weight: bolder;
			line-height: 1.5625rem;
			position: relative;
			border-bottom: 1px solid #D8D5D5;
		}

		.c-region-selector__icon-wrapper {
			font-size: 1.125rem;
			line-height: 1.25rem;
			color: #3A2E2C;
			position: relative;
			font-weight: bolder;

			.c-region-selector__language-list {
				display: block;
				margin: .625rem 0 .625rem 1.875rem;
				font-weight: 400;
			}
		}

		.language-box {
			a {
				font-size: .75rem;
				line-height: .8125rem;
				font-weight: 400;
				border-top: 1px solid #D8D5D5;
				padding-top: 1.25rem;
				padding-bottom: 1.25rem;
				font-family: $font_second;
			}

			.c-icon {
				margin-top: -.3125rem;
				position: absolute;
				right: 20px;
				top: 50%;
			}
		}

		.c-navigation-mega-menu {
			left: 100%;
			opacity: 0;
			position: absolute;
			top: -1px;
			width: 16.875rem;
			z-index: 110;

			&--is-visible {
				opacity: 1;
			}

			&__wrapper {
				-webkit-overflow-scrolling: touch;
				overflow-y: auto;
				background-color: #FFF;
				height: calc(100vh - 3.125rem);
				padding-bottom: 3.125rem;
			}
		}

	}
}