extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.subpage-content
		.centercontent
			.page-header
				h1.title.page-title Sayfa Adı
					span.head-dash(style="width: 70px; margin-left: 1rem")