extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.subpage-content
		.centercontent
			.breadcrumb-header
				h1.title Hi Emrah,
					span.head-dash(style="margin-left: 22px; width: 144px;")

			aside.my-account-aside
				.o-section--main.o-box-12.o-box-9-lg
					<!-- get inspired başlangıç -->
					section.homepage-editorial-block.get-inspired-block
						.centercontent
							.homepage-editorial-block-header
								h3.editorial-title From our style seekers
								a.link-basic-text.wf-patron(href="#") Visit the Aldo Instagram
							.row.editorial-grid
								-for(var i = 0; i < 3; i++)
									.o-box.o-box-12.o-box-4-xs-mid.editorial-grid-item
										img.img-responsive(src="//d28m5bx785ox17.cloudfront.net/v1/img/F1LfZiNl1XxRMP2UMcUeVkJvOkyG5cGPN86xP7upg40=/sc/600x600?spatialTags=0.688119:0.645545")
										.centerfix.grid-footer
											.username @stylesarah
											.like-count
												+icon-like()
												| 20 likes
					<!-- get inspired bitiş -->
				include components/account-sidebar
