extends layout/checkout-layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.c-checkout.o-section-payment-wrapper
		.o-container-under-lg.u-flex-lg
			.o-section--primary
				header.c-header-light
					a.c-header-light__link(href="#")
						+icon-arrow-left()
						span.u-link Continue shopping

					.c-header-light__help Need help?
						a.u-btn.u-reset-button.u-link.u-link--underlined
							span.u-btn__content Chat online

					.c-logo
						a(href="/")
							+logo('currentColor')

				section
					<!-- Guest kullancıılara gösterilecek -->
					.c-login-header
						.c-login-header__title-wrapper
							h1.c-login-header__title Checkout
								span.head-dash(style="margin-left: 11px; width: 72px;")

							button.btn.btn--second.btn--small.wf-patron Sign in

						table.c-cart-summary-total.cart-summary-table.c-checkout__header-total
							tr.cart-summary-table__row
								td.cart-summary-table__row-item
									span.c-cart-summary__total-label Total (CAD)
									span.c-cart-summary__total-description Shipping & taxes calculated

								td.cart-total-price $158.20

					<!-- active iken 'c-editable-group--is-active', doldurulup ilerlendiğinde 'c-editable-group--is-done' classı eklenecek -->
					<!-- DOLDURULMUŞ ALANA ÖRNEKTİR AŞAĞIDAKİ ALAN -->
					.c-editable-group.c-editable-group--is-done
						.c-editable-group__indicator
							.c-editable-group__indicator-label 1
							.c-editable-group__indicator-icon
								+icon-check()

						button.btn.btn--tertiary.btn--small.btn--edit Edit

						.c-editable-group__wrapper
							.c-editable-group__wrapper-inner
								h2.c-editable-group__heading Who is placing this order?

							.c-editable-group__contents
								form.o-grid--with-spacing
									.row
										.o-box.o-box-12-xs.o-box-6-xs-mid
											.form-field.invalid
												input(type="text" id="first-name")
												label.field-name(for="first-name") First Name
												label.error Invalid user name

										.o-box.o-box-12-xs.o-box-6-xs-mid
											.form-field
												input(type="text" id="last-name")
												label.field-name(for="last-name") Last Name

										.o-box.o-box-12
											.form-field
												input(type="text" id="email-address")
												label.field-name(for="email-address") Email address
										.o-box.o-box-12
											label.checkbox-label.centerfix.form-field__label
												.checkbox
													input(type="checkbox")
													span
												| Yes, please send me Aldo newsletters

										.o-box.o-box-12
											button.btn.btn--primary.btn--regular.wf-patron.btn--wide-padding(type="submit") Continue to shipping

					<!-- DOLDURULMAMIŞ ALANA ÖRNEKTİR AŞAĞIDAKİ ALAN -->
					.c-editable-group.c-editable-group--is-active
						.c-editable-group__indicator
							.c-editable-group__indicator-label 2
							.c-editable-group__indicator-icon
								+icon-check()

						button.btn.btn--tertiary.btn--small.btn--edit Edit

						.c-editable-group__wrapper
							.c-editable-group__wrapper-inner
								h2.c-editable-group__heading Where are we sending your items?

							.c-editable-group__contents
								.row
									.o-box.o-box-12.o-box-6-xs-mid
										label.radio-label
											.radio
												input(type="radio")
												span
											.c-form-field-header-label__wrapper-text
												h3.c-form-field-header-label__header Ship to store
												.c-form-field-header-label__subhead Always free!

									.o-box.o-box-12.o-box-6-xs-mid
										label.radio-label
											.radio
												input(type="radio")
												span
											.c-form-field-header-label__wrapper-text
												h3.c-form-field-header-label__header Ship by mail
												.c-form-field-header-label__subhead Sorry, no P.O. boxes


								.c-checkout__ship-by-mail-message We ship to any valid Canadian address, except A.P.O./F.P.O. and P.O. box.

								form.o-grid--with-spacing
									.row
										.o-box.o-box-12-xs.o-box-6-xs-mid
											.form-field
												input(type="text" id="first-name")
												label.field-name(for="first-name") First Name
										.o-box.o-box-12-xs.o-box-6-xs-mid
											.form-field
												input(type="text" id="last-name")
												label.field-name(for="last-name") Last Name

										.o-box.o-box-12
											.form-field
												input(type="text" id="street-address")
												label.field-name(for="street-address") Street address

										.o-box.o-box-12
											.form-field
												input(type="text" id="apartment")
												label.field-name(for="apartment") Apartment Suite

										.o-box.o-box-8
											.form-field
												input(type="text" id="city")
												label.field-name(for="city") City

										.o-box.o-box-4
											.form-field
												.select
													select
														option 1
														option 1
														option 1
														option 1
												label.field-name(for="city") Province

										.o-box.o-box-12
											.form-field
												input(type="text" id="postal-code")
												label.field-name(for="postal-code") Postal Code

										.o-box.o-box-12
											h5.c-editable-group__header-small Contact information

										.o-box.o-box-12-xs.o-box-6-xs-mid
											.form-field
												input(type="text" id="phone-number")
												label.field-name(for="phone-number") Phone Number

										.o-box.o-box-12-xs.o-box-6-xs-mid
											.form-field
												input(type="text" id="last-name")
												label.field-name(for="last-name") Last Name

										.o-box.o-box-12-xs.o-box-6-xs-mid
											small.u-text-body.u-color--gray We’ll only call if we need assistance delivering your order.

										.o-box.o-box-12
											h5.c-editable-group__header-small Delivery method


										.o-box.o-box-12.o-box-6-xs-mid
											label.radio-label
												.radio
													input(type="radio")
													span
												.c-form-field-header-label__wrapper-text
													h3.c-form-field-header-label__header Standard Free
													.c-form-field-header-label__subhead Estimated delivery date: 3-6 business days


										.o-box.o-box-12.o-box-6-xs-mid
											label.radio-label
												.radio
													input(type="radio")
													span
												.c-form-field-header-label__wrapper-text
													h3.c-form-field-header-label__header Express: $10.00
													.c-form-field-header-label__subhead Estimated delivery date: 2-3 business days

										.o-box.o-box-12
											button.btn.btn--primary.btn--regular.wf-patron.btn--wide-padding(type="submit") Continue to payment


					<!-- DOLDURULMAMIŞ ALANA ÖRNEKTİR AŞAĞIDAKİ ALAN -->
					.c-editable-group.c-editable-group--is-disabled
						.c-editable-group__indicator
							.c-editable-group__indicator-label 3
							.c-editable-group__indicator-icon
								+icon-check()

						button.btn.btn--tertiary.btn--small.btn--edit Edit

						.c-editable-group__wrapper
							.c-editable-group__wrapper-inner
								h2.c-editable-group__heading How would you like to pay?


					<!-- DOLDURULMAMIŞ ALANA ÖRNEKTİR AŞAĞIDAKİ ALAN -->
					.c-editable-group.c-editable-group--is-disabled
						.c-editable-group__indicator
							.c-editable-group__indicator-label 4
							.c-editable-group__indicator-icon
								+icon-check()

						button.btn.btn--tertiary.btn--small.btn--edit Edit

						.c-editable-group__wrapper
							.c-editable-group__wrapper-inner
								h2.c-editable-group__heading Review your order



			section.c-checkout__order-details.o-section--secondary.o-section--secondary-payment
				.c-cart-details
					.c-cart-details__header
						h2.c-cart-header__title Summary
						span.c-cart-header__cart-id.c-cart-header__cart-id--without-notification ID: 243695851

					ul.c-cart-details__list
						li.c-product-list-item
							.c-product-list-item__content-wrapper
								.c-product-list-item__thumbnail-details-wrapper
									.c-product-list-item__thumbnail
										img(src="//media.aldoshoes.com/v2/product/lucio/29/lucio_brown_29_main_sq_gy_300x300.jpg")


									.c-product-list-item__details
										.c-product-list-item__header
											h3.c-product-list-item__product-name Lucio
											span.c-product-list-item__final-price $100

										ol.c-product-list-item__price-breakdown
											li Original price  —  $175.00
											li You saved 20% on regular priced merchandise!  —
												span.product-item__discount $35.00 off

										ul.c-product-list-item__choice-list
											li.c-product-list-item__choice Rust
											li.c-product-list-item__choice Size 9.5
											li.c-product-list-item__choice Qty. 1



					.c-cart-summary.c-cart-details__summary
						table.cart-summary-table
							tr.cart-summary-table__row
								td.cart-summary-table__row-item Subtotal (CAD)
								td.cart-summary-subtotal-value  $79.96

						table.cart-summary-table
							tr.cart-summary-table__row
								td.cart-summary-table__row-item Shipping
								td.cart-summary-subtotal-value  Free

						.c-cart-summary-taxes
							table.cart-summary-table
								tr.cart-summary-table__row.cart-summary-table-taxes-header
									td.cart-summary-table__row-item
										.c-cart-summary-taxes__title Taxes for N6G 3Y9

								tr.cart-summary-table__row
									td.cart-summary-table__row-item.cart-summary-taxe-item HST/TVH
									td.c-cart-summary-tax-item__amount $140.00

						.c-cart-summary-promotion-add
							a.link-basic-text.wf-patron Enter promo code


						table.c-cart-summary-total.cart-summary-table
							tr.cart-summary-table__row
								td.cart-summary-table__row-item
									span.c-cart-summary__total-label Total (CAD)
									span.c-cart-summary__total-description Shipping & taxes calculated

								td.cart-total-price $158.20

						.c-policy-details
							.c-cms-accordion.c-accordion
								<!-- açık olana opened classı eklenecek. -->
								.c-accordion-item-header.opened
									.c-accordion-item__button
										h2.u-module-heading Return policy
										+icon-arrow-down()

								.c-accordion-item
									<!-- c-accordion-item__content açılıp kapatılacak slidetoggle  -->
									.c-accordion-item__content
										.c-accordion-item__content-inner
											p We guarantee to refund unworn or unwashed items when you return it in sellable condition, with the original receipt and packaging, within 60 days of purchase.

								.c-accordion-item-header
									.c-accordion-item__button
										h2.u-module-heading Delivery detail
										+icon-arrow-down()
								.c-accordion-item
									.c-accordion-item__content
										.c-accordion-item__content-inner
											p We guarantee to refund unworn or unwashed items when you return it in sellable condition, with the original receipt and packaging, within 60 days of purchase.















