extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.subpage-content
		.signup-top
			.centercontent
				.page-header
					h1.title.page-title Register My Account
					p Create an Aldo account for faster checkout.
					p.small-p Already an Aldo A-List member?

					.row
						.o-box.o-box-12-md
							a.btn.btn--facebook.btn--wide-padding.btn--small.wf-patron.o-box-12-md(href="#") Sign in with Facebook
						.o-box.o-box-12-md
							a.btn.btn--tertiary.btn--white-button.btn--wide-padding.btn--small.wf-patron.o-box-12-md(href="#") Sign in with Email

		.signup-content
			.centercontent
				.o-form-page
					form
						.form-field
							input(type="text" id="email-address")
							label.field-name(for="email-address") Email address
						.row
							.o-box.o-box-12-xs.o-box-6-xs-mid
								.form-field
									input(type="text" id="first-name")
									label.field-name(for="first-name") First Name
							.o-box.o-box-12-xs.o-box-6-xs-mid
								.form-field
									input(type="text" id="last-name")
									label.field-name(for="last-name") Last Name

						.form-field
							input(type="password" id="password")
							label.field-name(for="password") Password
							a.show-password.link-basic-text.wf-patron Show

						span.u-text-body.wf-sectra Must be between 6 and 40 characters and must contain at least 1 uppercase letter, 1 lowercase letter and 1 number.

						.form-field
							input(type="password" id="re-enter-password")
							label.field-name(for="re-enter-password") Re-enter Password
							a.show-password.link-basic-text.wf-patron Show

						.o-well.signup-agreement
							label.checkbox-label.centerfix
								.checkbox
									input(type="checkbox")
									span
								| Sign up to receive Aldo newsletters

							label.checkbox-label.centerfix
								.checkbox
									input(type="checkbox")
									span
								| Join Aldo A-List

							p.u-text-body.wf-sectra Become an A-List member today and receive exclusive VIP offers including free shipping, birthday rewards and 15% off your first purchase.

						button.btn.btn--primary.btn--block.btn--regular.wf-patron(type="submit") Create Account

					.signup-legal
						p By submitting your email address, you allow us, The Aldo Group Inc., to include you on our email lists to send you information on products, services and promotions of Aldo and our various divisions. You may unsubscribe at any time. We are committed to protecting the privacy of our customers. We do not share any of our customer's personal information with any third parties. Please read our privacy policy. View the Terms & Conditions and FAQs for more information.
