extends layout/layout

block head
    - var title = "Anasayfa";
    - var description = "Anasayfa description";
    - var keywords = "Anasayfa keywords";

block content
    section.subpage-content
        .centercontent.c-favourites-wrapper
            header.c-favourites-header.c-favourites__header
                h1.c-favourites-header__title
                    +icon-favourites()
                    span Favourites (11)
                        span.head-dash(style="margin-left: 22px; width: 144px;")

            section.c-favourites__content-wrapper
                <!-- Eğer favori yoksa bu kısım görünecek -->
                .c-favourites-empty
                    h2.c-heading.c-favourites-empty__title
                        span.c-favourites-empty__title--part1 You have no favourites yet.
                        | Add the product you like in your list by tapping on the
                        +icon-favourites()
                        | icon on the product.

                    a.btn.btn--tertiary.c-favourites-empty__btn.wf-patron Shop New Arrivals for Women
                    a.btn.btn--tertiary.c-favourites-empty__btn.wf-patron Shop New Arrivals for Men

                .c-favourites.hidden
                    ul.c-product-list.c-favourites__list
                        <!-- Sade görünümü -->
                        li.c-favourites-list-item.c-favourites-list-item--has-border
                            .c-favourites-list-item__content-wrapper
                                .c-favourites-list-item__thumbnail-details-wrapper
                                    a.c-favourites-list-item__thumbnail
                                        picture.c-picture.c-picture--is-loaded
                                            img(src="//media.aldoshoes.com/v2/product/lucio/29/lucio_brown_29_main_sq_wt_250x250.jpg")

                                    .c-favourites-list-item__details
                                        .c-favourites-list-item__header
                                            .c-favourites-list-item__product-name
                                                h2.c-favourites-list-item__product-name Lucio

                                            .c-favourites-list-item__header-inner
                                                .c-favourites-list-item__product-price
                                                    span.c-favourites-list-item__final-price $175

                                                .c-favourites-list-item__product-cta
                                                    button.btn.btn--primary.btn--wide-padding.c-favourites-list-item__edit-sizes-btn.wf-patron Add to bag


                                        ul.c-favourites-list-item__choice-list
                                            li.c-favourites-list-item__choice Brown

                                        ul.c-favourites-list-item__edit-actions-list
                                            li.c-favourites-list-item__edit-action
                                                button.c-favourites-list-item__remove-button.wf-patron
                                                    +icon-remove()
                                                    | Remove

                        <!-- add to bag tıklanınca oluşacak markup örneği 'opened classı eklendi' -->
                        li.c-favourites-list-item.c-favourites-list-item--has-border.opened
                            .c-favourites-list-item__content-wrapper
                                .c-favourites-list-item__thumbnail-details-wrapper
                                    a.c-favourites-list-item__thumbnail
                                        picture.c-picture.c-picture--is-loaded
                                            img(src="//media.aldoshoes.com/v2/product/lucio/29/lucio_brown_29_main_sq_wt_250x250.jpg")

                                    .c-favourites-list-item__details
                                        .c-favourites-list-item__header
                                            .c-favourites-list-item__product-name
                                                h2.c-favourites-list-item__product-name Lucio

                                            .c-favourites-list-item__header-inner
                                                .c-favourites-list-item__product-price
                                                    span.c-favourites-list-item__final-price $175

                                                .c-favourites-list-item__product-cta
                                                    button.btn.btn--primary.btn--wide-padding.c-favourites-list-item__edit-sizes-btn.wf-patron Add to bag



                                        ul.c-favourites-list-item__choice-list
                                            li.c-favourites-list-item__choice Brown

                                        ul.c-favourites-list-item__edit-actions-list
                                            li.c-favourites-list-item__edit-action
                                                button.c-favourites-list-item__remove-button.wf-patron
                                                    +icon-remove()
                                                    | Remove

                                        .c-product-list-item-edit__product-options
                                            .c-product-option.c-product-option__sizes
                                                .c-product-option.c-product-option__sizes
                                                    .c-product-option__header
                                                        label.c-product-option__label Size

                                                    ul.c-product-option__list.c-product-option__list--size
                                                        li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7
                                                        li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7
                                                        li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7
                                                        li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7
                                                        li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7

                                        .button.btn.btn--wide-padding.btn--block.wf-patron.u-link--underlined.c-product-list-item-edit__button--cancel
                                            span.u-btn__content Don't add to bag now



            aside.c-favourites__sidebar
                .c-auth-cta
                    .c-auth-cta__inner
                        h3.c-auth-cta__title.u-module-heading Join A-List <br />and save 15%.
                        .c-markdown.c-auth-cta__copy A-list members can save their favourites list and get 15% off their first order
                        a.btn.btn--block.btn--small.btn--second.c-auth-cta__cta.wf-patron Sign up now
                        a.link-basic-text.wf-patron Have an account? Log in