extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	<!-- Üst kampanya slider alanı başlangıç -->
	.manshet-campaign-slider.flexslider
		ul.slides
			-for(var i = 0; i<3; i++)
				li(style="color: rgb(255, 255, 255); background-color: rgb(0, 48, 87);")
					.centercontent
						a.close-wrapper
							+icon-close()

						.wrapper
							span.mini-title Black Friday deals start now | In stores & online
							p Extra 30% off all Sale. Prices as shown.
								a(href="#")
									+icon-detail()

							.links
								a(href="#") Shop Women's Sales
								a(href="#") Shop Women's Sales

	<!-- Üst kampanya slider alanı bitiş -->

	<!-- Main slider alanı başlangıç -->
	section.homepage-editorial-block.homepage-top-slider
		.centercontent
			.homepage-top-slider-top-block
				a.link-basic-text.wf-patron(href="#") Track an existing order
			-for (var i = 0; i < 3; i++)
				.row.homepage-editorial-block-header
					.o-box-9-md-mid
						h3.editorial-title Party Shop #{i}
							span.head-dash(style="width: 120px; margin-left: 11px;")

						p Everything you need to celebrate the festive season in style.

					.o-box-12-xs.o-box-3-md-mid
						a.btn.btn--wide-padding.btn--tertiary.btn--small.btn--block.wf-patron(href="#") Shop Men

			ul.custom-flex-direction-nav.homepage-campaign-slider-nav
				li
					a.flex-prev(href="#")
						+icon-arrow-left
				li
					a.flex-next(href="#")
						+icon-arrow-right
			.homepage-campaign-slider
				ul.slides
					-for(var i = 0; i<3; i++)
						li
							a(href="#")
								picture.c-picture
									img(src="//media.aldoshoes.com/assets/aldo/2017/44/ca/default/fancyfootwork/web_w_lk_rc_fancyfootworkhp_1160x580.jpg")

	<!-- Main slider alanı bitiş -->

	<!-- get inspired başlangıç -->
	section.homepage-editorial-block.get-inspired-block
		.centercontent
			.homepage-editorial-block-header
				h3.editorial-title Get Inspired
					span.head-dash(style="width: 71px; margin-left: 11px;")

				a.link-basic-text.wf-patron(href="#") Follow us on Instagram

			.row.editorial-grid
				-for(var i = 0; i < 12; i++)
					.o-box.o-box-12.o-box-4-xs-mid.editorial-grid-item
						img.img-responsive(src="//d28m5bx785ox17.cloudfront.net/v1/img/F1LfZiNl1XxRMP2UMcUeVkJvOkyG5cGPN86xP7upg40=/sc/600x600?spatialTags=0.688119:0.645545")
						.centerfix.grid-footer
							.username @stylesarah
							.like-count
								+icon-like()
								| 20 likes
			.centerfix.load-more
				a.btn.btn--tertiary.wf-patron See more styles
	<!-- get inspired bitiş -->

	<!-- track order başlangıç -->
	section.homepage-editorial-block.track-order-wrap.c-helper
		.centercontent
			.wrapper
				h2.heading.c-heading Track an existing order
				.form-field
					input(type="text" id="order-number")
					label.field-name(for="order-number") Order number
				.postal-code
					.form-field
						<!-- focus classı eklenirse field name yukarıda kalıyor -->
						input.focus(type="text" id="postal-code")
						label.field-name(for="postal-code") Postal code
				<!-- disabled için btn--disabled classı eklenecek -->
				button.btn.btn--second.btn--block.btn--small.wf-patron(type="button") Track Order
	<!-- track order bitiş -->

block scripts
	script.
		console.log('custom js')