extends layout/international-layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.c-intl-dispatch
		.centercontent
			nav.c-extra-light-dispatch__title
				.c-logo
					+logo("", "")

			h1.c-intl-dispatch__header Select your <br/>location
				span.head-dash(style="margin-left: 18px; width: 120px;")

	section.c-intl-dispatch__list
		.centercontent
			.c-accordion
				<!-- açık olana opened classı eklenecek. -->
				.c-accordion-item-header.opened
					.c-accordion-item__button
						h2.u-module-heading.c-intl-dispatch__region-title Asia Pacific
						+icon-arrow-down()

				.c-accordion-item
					<!-- c-accordion-item__content açılıp kapatılacak slidetoggle  -->
					.c-accordion-item__content
						.c-accordion-item__content-inner
							.c-intl-dispatch__item__shopping
								h3.c-intl-dispatch__item__subheader Start shopping now

								ul.c-intl-dispatch__item__shopping-list
									li.c-intl-dispatch__country
										a.c-intl-dispatch__country__link
											img.c-intl-dispatch__icon-flag(src="//media.aldoshoes.com/fedtest/content/nirvana-cms/dev3/flags/kr.svg")
											| Korean

								.c-intl-dispatch__item__learn
									h3.c-intl-dispatch__item__subheader Learn more about Aldo International

									ul.c-intl-dispatch__item__learn-list
										-for(var i = 0; i < 20; i++)
											li
												a.c-intl-dispatch__country__link(href="#") Australia

				<!-- Kapalı accordion -->
				.c-accordion-item-header
					.c-accordion-item__button
						h2.u-module-heading.c-intl-dispatch__region-title America
						+icon-arrow-down()

				.c-accordion-item
					<!-- c-accordion-item__content açılıp kapatılacak slidetoggle  -->
					.c-accordion-item__content
						.c-accordion-item__content-inner
							.c-intl-dispatch__item__shopping
								h3.c-intl-dispatch__item__subheader Start shopping now

								ul.c-intl-dispatch__item__shopping-list
									li.c-intl-dispatch__country
										a.c-intl-dispatch__country__link
											img.c-intl-dispatch__icon-flag(src="//media.aldoshoes.com/fedtest/content/nirvana-cms/dev3/flags/kr.svg")
											| Korean

								.c-intl-dispatch__item__learn
									h3.c-intl-dispatch__item__subheader Learn more about Aldo International

									ul.c-intl-dispatch__item__learn-list
										-for(var i = 0; i < 20; i++)
											li
												a.c-intl-dispatch__country__link(href="#") Australia

