extends layout/layout

block head
    - var title = "Anasayfa";
    - var description = "Anasayfa description";
    - var keywords = "Anasayfa keywords";

block content
    section.subpage-content
        .centercontent
            .breadcrumb-header.account-breadcrumb
                ul.breadcrumb
                    li
                        a(href="#") Account /
                h1.title Order history
                    span.head-dash(style="margin-left: 22px; width: 144px;")

            aside.my-account-aside
                .o-section--main.o-box-12.o-box-9-lg
                    .my-account-order-history
                        section.my-account-order-history-empty
                            .c-section-header
                                h2.c-section-header__title Order history
                            p.u-large-body-2 We don't see any orders associated with your account.
                        .c-open-content
                            .c-open-content__body
                                .c-open-content__content-wrapper
                                    .c-my-account-order-search
                                        .c-section-header
                                            h2.c-section-header__title Look up an order
                                        p.u-large-body-2 If you checked out as a guest and used a different e-mail address, your order won't show up in this account.
                                        p.u-large-body-2 No problem though, you can look up your order to track. Or to start a return, click here.
                                .c-open-content__helper
                                    .o-well
                                        h3.c-heading Track an existing order
                                        form
                                            .form-field
                                                input(type="text" id="order-number")
                                                label.field-name(for="order-number") Order Number
                                            .form-field
                                                input(type="text" id="postal-code")
                                                label.field-name(for="postal-code") Postal Code
                                            button.btn.btn--primary.btn--block.btn--regular.wf-patron.c-btn--is-disabled(type="submit") Track Order



                include components/account-sidebar
