extends layout/layout

block head
    - var title = "Anasayfa";
    - var description = "Anasayfa description";
    - var keywords = "Anasayfa keywords";

block content
    section.subpage-content
        .centercontent
            .breadcrumb-header.account-breadcrumb
                ul.breadcrumb
                    li
                        a(href="#") Account /
                h1.title Payment
                    span.head-dash(style="margin-left: 22px; width: 144px;")

            aside.my-account-aside
                .o-section--main.o-box-12.o-box-9-lg
                    .my-account__max-width-wrapper
                        h2.c-heading Saved credit cards
                        .editable-group__contents
                            .u-react-measure-offset
                                button.c-my-account-editable-group__add-new
                                    span
                                        <svg aria-hidden="true" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400" data-reactid="1433"><polygon role="presentation" points="218.3,181.7 218.3,0 181.7,0 181.7,181.7 0,181.7 0,218.3 181.7,218.3 181.7,400 218.3,400 218.3,218.3 400,218.3 400,181.7" data-reactid="1434"></polygon></svg> Add New Credit Card
                            .o-box-12
                                form
                                    .form-field
                                        input(type="text" id="card-number")
                                        label.field-name(for="card-number") Card Number

                                    .row
                                        .o-box.o-box-12-xs.o-box-6-xs-mid
                                            .form-field
                                                input(type="text" id="mm-yy")
                                                label.field-name(for="mm-yy") Exp. MM/YY
                                        .o-box.o-box-12-xs.o-box-6-xs-mid
                                            .form-field
                                                input(type="text" id="cvc")
                                                label.field-name(for="cvc") CVC

                                    .form-field
                                        input(type="text" id="street-address")
                                        label.field-name(for="street-address") Street address

                                    .form-field
                                        input(type="text" id="apartment-suit")
                                        label.field-name(for="apartment-suit") Apartment/Suit #

                                    .row
                                        .o-box.o-box-12-xs.o-box-8-xs-mid
                                            .form-field
                                                input(type="text" id="city")
                                                label.field-name(for="city") City
                                        .o-box.o-box-12-xs.o-box-4-xs-mid
                                            .form-field
                                                .select.wf-patron.select--small
                                                    select
                                                        option(value="") Province
                                                        option(value="") AB
                                                        option(value="") BC
                                    .form-field
                                        input(type="text" id="postal-code")
                                        label.field-name(for="postal-code") Postal Code

                                    .form-field
                                        h3.c-heading Contact information

                                    .row
                                        .o-box.o-box-12-xs.o-box-8-xs-mid
                                            .form-field
                                                input(type="text" id="phone-number")
                                                label.field-name(for="phone-number") Phone Number
                                        .o-box.o-box-12-xs.o-box-4-xs-mid
                                            .form-field
                                                input(type="text" id="ext")
                                                label.field-name(for="ext") Ext.

                                    .o-well.signup-agreement
                                        label.checkbox-label.centerfix
                                            .checkbox
                                                input(type="checkbox")
                                                span
                                            | Set as primary

                                    button.btn.btn--primary.btn--regular.wf-patron.account-btn.disabled(type="submit") Add new address
                                    button.btn-link Cancel

                        .disclaimer
                            <svg aria-hidden="false" aria-labelledby="More information-icon" class="c-icon c-disclaimer__icon" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 400" data-reactid="1438"><text class="c-icon--title" id="More information-icon" data-reactid="1439">More information</text><path role="presentation" d="M200 2C89.4 2 0 90.6 0 200.2c0 109.3 89.4 198.2 200 198.2 110.5 0 200-88.8 200-198.2C400 90.6 310.5 2 200 2zm0 375.3c-98.7 0-178.8-79.3-178.8-177.1S101.3 23 200 23c98.7 0 178.8 79.4 178.8 177.2 0 97.8-80.1 177.1-178.8 177.1zm2.3-269.2c-27.9 0-48.4 18-52.4 46.8l24.4 2.5c1.6-16.6 11.9-28.1 27.5-28.1 14.7 0 25.2 11.8 25.2 26.5s-11.5 25.1-21.7 34.8c-15 14.5-16.8 20.5-16.8 35.2v14.9h22.8v-11c0-13.5 1.6-16.8 11.9-27.1l16.6-17.8c6.3-8.5 10-17.4 10-30.2.2-26.2-17.6-46.5-47.5-46.5zm13.1 167.3c0-9.1-6.6-16.4-15.8-16.4-9.2 0-15.6 7.3-15.6 16.4 0 9.1 6.5 16.7 15.6 16.7 9.2 0 15.8-7.6 15.8-16.7z" data-reactid="1440"></path></svg>
                            .c-open-content__body
                                p Don't worry we don't mess with security.Read more about our payment security methods.
                                p Looking for your gift card balance? Click here.
                include components/account-sidebar
