extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.subpage-content
		.centerfix.product-detail-top-wrapper
			.centercontent
				ul.breadcrumb
					li
						a(href="#") All footwear
					li
						a(href="#") Ankle boots

				.product-detail-container.o-grid-no-gutters
					.left-wrapper.o-box.o-box-7-lg.o-box-8-md-high.o-box-12.clear-space
						.c-carousel-product-overview__header Meaven. — $125
						.product-images.flexslider-slide.centerfix#product-detail-slider(data-custom-direction-nav="#product-detail-slider")
							button.add-favourite
								+icon-favourites()
							ul.slides
								-for(var i = 0; i < 3; i++)
									li
										img(src="//media.aldoshoes.com/v2/product/aurella/44/aurella_green_44_main_sq_gy_800x800.jpg")

							button.zoom-photo
								+icon-zoom()

							ul.custom-flex-direction-nav
								li
									a.flex-prev(href="#")
										+icon-arrow-left
								li
									a.flex-next(href="#")
										+icon-arrow-right

						<!-- ürün açıklama alanı -->
						.product-description.centerfix(style="background-image: url(//media.aldoshoes.com/v2/product/aurella/56/aurella_pink-purple_56_detail_rc_nt_769x1730.jpg)")
							.o-box.o-box-12.o-box-6-md-mid.o-box-12-md-high.o-box-8-lg.product-detail-buy-info-content.u-visible-sm-mid
								header.c-buy-module
									h1.product-name Aurella
										span.head-dash(style="margin-left: 15px; width: 48px;")

									.c-buy-module__price-review-wrap
										span.u-text-strikethrough.price-original $100
										span.discount-price.product-item__discount $50

										.reviews
											+icon-star()
											+icon-star()
											+icon-star()
											+icon-star()
											+icon-star()

											span.reviews-count (3)

								<!-- Desen seçimi -->
								.product-option-block
									.option-header
										span.field-name Colour /
										span.current-value Black

									ul.option-list
										-for (var i = 0; i < 4; i++)
											li
												a.style-option(href="#")
													img(src="//media.aldoshoes.com/v2/product/aurella/32/aurella_beige-taupe_32_sw_sq_24x24.jpg")

								<!-- Beden seçimi -->
								.product-option-block
									.option-header
										span.field-name Size /
										span.current-value 6

										a.link-basic-text.pull-right.wf-patron(href="#") Size Chart

									ul.option-list
										-for (var i = 0; i < 4; i++)
											li
												a.number-list-item(href="#")
													span 1

								<!-- c true fit -->
								.c-true-fit
									<!-- TRUE FIT THIRD PARTY OLDUGUNDAN BUTONU KONULMADI--->
									a.c-true-tooltip
										+icon-detail()

								a.btn.btn--primary.btn--block.btn--regular.btn--small.wf-patron(href="#") Add to bag

								a.btn.btn--tertiary.btn--block.btn--regular.btn--small.wf-patron(href="#") Find in store

								ul.share-social-list
									li
										a(href="#")
											+icon-facebook()
									li
										a(href="#")
											+icon-twitter()
									li
										a(href="#")
											+icon-pinterest()

							.product-description__inner
								.description-featured
									h3.desc-title Style notes
									p Pointed toes and block heels are currently the rage and this boot fits the bill. Zipper back and modern euro shape works equally well with skirts as it does with your sexiest jeans.

								-for (var i = 0; i < 3; i++)
									.product-description-section
										h4.title Details
										ul
											li Ankle boot
											li Ankle boot
											li Ankle boot
											li Ankle boot

					.product-detail-bg-wrapper.o-box.o-box-5-lg.o-box-4-md-high.o-box-12.clear-space.u-hidden-sm-mid
						.product-big-image
							img(src="//media.aldoshoes.com/v2/product/aurella/56/aurella_pink-purple_56_detail_rc_nt_769x1730.jpg")
						.o-box.o-box-12.o-box-6-md-mid.o-box-12-md-high.o-box-8-lg.product-detail-buy-info-content
							header.c-buy-module
								h1.product-name Aurella
									span.head-dash(style="margin-left: 15px; width: 48px;")

								.c-buy-module__price-review-wrap
									span.u-text-strikethrough.price-original $100
									span.discount-price.product-item__discount $50

									.reviews
										+icon-star()
										+icon-star()
										+icon-star()
										+icon-star()
										+icon-star()

										span.reviews-count (3)

							<!-- Desen seçimi -->
							.product-option-block
								.option-header
									span.field-name Colour /
									span.current-value Black

								ul.option-list
									-for (var i = 0; i < 4; i++)
										li
											a.style-option(href="#")
												img(src="//media.aldoshoes.com/v2/product/aurella/32/aurella_beige-taupe_32_sw_sq_24x24.jpg")

							<!-- Beden seçimi -->
							.product-option-block
								.option-header
									span.field-name Size /
									span.current-value 6

									a.link-basic-text.pull-right.wf-patron(href="#") Size Chart

								ul.option-list
									-for (var i = 0; i < 4; i++)
										li
											a.number-list-item(href="#")
												span 1

							<!-- c true fit -->
							.c-true-fit
								<!-- TRUE FIT THIRD PARTY OLDUGUNDAN BUTONU KONULMADI--->
								a.c-true-tooltip
									+icon-detail()

							a.btn.btn--primary.btn--block.btn--regular.btn--small.wf-patron(href="#") Add to bag

							a.btn.btn--tertiary.btn--block.btn--regular.btn--small.wf-patron(href="#") Find in store

							ul.share-social-list
								li
									a(href="#")
										+icon-facebook()
								li
									a(href="#")
										+icon-twitter()
								li
									a(href="#")
										+icon-pinterest()
		<!-- ÜRÜN YORUMLARI -->
		.product-detail-section.product-reviews-wrapper.centerfix
			.centercontent
				.reviews-top.o-grid
					.o-box.o-box-12.o-grid-no-gutters
						.o-box.o-box-12.o-box-6-md-mid.o-box-4-lg
							h3.product-detail-section-title 8 reviews
								span.head-dash(style="margin-left: 15px;  width: 96px;")

					.o-box.o-box-12.o-box-6-xs-mid.o-box-4-lg
						.star-block.large
							.star-list
								+icon-star()
								+icon-star()
								+icon-star()
								+icon-star()
								+icon-star()

							span.star-count 3.4

					.o-box.o-box-12.o-box-6-xs-mid.o-box-4-lg
						table.c-fit-scales
							tr
								th.c-fit-scales__col.c-fit-scales__col--label Sizing
								td.c-fit-scales__col.c-fit-scales__col--min-max Small
								td.c-fit-scales__col.c-fit-scales__col--line
									.c-fit-scales__line-wrapper
										span.c-fit-scales__dot(style="left:50%;")
										span.c-fit-scales__line
								td.c-fit-scales__col.c-fit-scales__col--min-max Big
							tr
								th.c-fit-scales__col.c-fit-scales__col--label Width
								td.c-fit-scales__col.c-fit-scales__col--min-max Narrow
								td.c-fit-scales__col.c-fit-scales__col--line
									.c-fit-scales__line-wrapper
										span.c-fit-scales__dot(style="left:50%;")
										span.c-fit-scales__line
								td.c-fit-scales__col.c-fit-scales__col--min-max Wide
							tr
								th.c-fit-scales__col.c-fit-scales__col--label Calf width
								td.c-fit-scales__col.c-fit-scales__col--min-max Narrow
								td.c-fit-scales__col.c-fit-scales__col--line
									.c-fit-scales__line-wrapper
										span.c-fit-scales__dot(style="left:50%;")
										span.c-fit-scales__line
								td.c-fit-scales__col.c-fit-scales__col--min-max Wide


					.o-box.o-box-12.o-box-4-lg.clear-space.c-reviews__btns
						.row.o-grid
							.o-box.o-box-6
								a.btn.btn--tertiary.btn--regular.btn--small.wf-patron.btn--block Write a review
							.o-box.o-box-6
								a.btn.btn--second.btn--regular.btn--small.wf-patron.btn--block Show all reviews


				<!-- YORUM LİSTELEME -->
				.c-reviews__inner
					.c-reviews__inner-measure
						.c-reviews__sort-wrapper
							.c-reviews__count Reviews 1-8 of 8
							.select.wf-patron.select--small
								select
									option(value="") Sort by most recent
									option(value="") Sort by rating (high to low)
									option(value="") Sort by rating (low to high)
						<!-- yorum item başlangıç -->
						.c-review
							h3.o-box-12.c-review__heading Amazing boots
							.row
								.c-review__top-row.o-box-12.o-box-6-md-mid.o-box-4-lg.o-box
									.star-block.c-review__stars
										.star-list
											+icon-star()
											+icon-star()
											+icon-star()
											+icon-star()
											+icon-star()

									.c-delimited-list
										span.c-delimited-list__item Danny28
										span.c-delimited-list__item 6 days ago

								.o-box.o-box-12.o-box-6-md-mid.o-box-4-lg
									table.c-fit-scales
										tr
											th.c-fit-scales__col.c-fit-scales__col--label Sizing
											td.c-fit-scales__col.c-fit-scales__col--min-max Small
											td.c-fit-scales__col.c-fit-scales__col--line
												.c-fit-scales__line-wrapper
													span.c-fit-scales__dot(style="left:50%;")
													span.c-fit-scales__line
											td.c-fit-scales__col.c-fit-scales__col--min-max Big
										tr
											th.c-fit-scales__col.c-fit-scales__col--label Width
											td.c-fit-scales__col.c-fit-scales__col--min-max Narrow
											td.c-fit-scales__col.c-fit-scales__col--line
												.c-fit-scales__line-wrapper
													span.c-fit-scales__dot(style="left:50%;")
													span.c-fit-scales__line
											td.c-fit-scales__col.c-fit-scales__col--min-max Wide
										tr
											th.c-fit-scales__col.c-fit-scales__col--label Calf width
											td.c-fit-scales__col.c-fit-scales__col--min-max Narrow
											td.c-fit-scales__col.c-fit-scales__col--line
												.c-fit-scales__line-wrapper
													span.c-fit-scales__dot(style="left:50%;")
													span.c-fit-scales__line
											td.c-fit-scales__col.c-fit-scales__col--min-max Wide

								.c-delimited-list.o-box-12.o-box-4-lg.o-box.large-spacing.pull-right
									span.c-delimited-list__item United Kingdom

							.c-review__row-wrapper.o-box-12.clear-space.o-box
								.o-box.o-box-12.clear-space
									p.c-review__body I bough this month ago for my birthday, and I’m so happy I did. Colour is amazing and also they are so comfortable

								.hidden-sm
									h5.c-review__occasions-heading Wear it for
									p.c-review__occasions-body Night Out/Party, Work/Professional, Outdoor Activities, Casual

							.c-review-feedback
								h6.c-review-feedback__title Was this review helpful?
								button.u-btn.u-btn--outline.u-btn--is-small.c-review-feedback__btn Yes - 2
								button.u-btn.u-btn--outline.u-btn--is-small.c-review-feedback__btn No - 2

								button.pull-right.wf-patron.btn.u-link.clear-btn
									span.link-basic-text Report
						<!-- Yorum item bitiş -->

		<!-- SHOP TO LOOK -->
		.product-detail-section.centerfix
			.centercontent
				.o-box.o-box-12
					h3.product-detail-section-title Shop the look
						span.head-dash(style="margin-left: 15px;  width: 96px;")

				.o-grid-no-gutters.c-complete-the-look
					.o-box.o-box-12.o-box-6-md-mid.clear-space.c-complete-the-look__wrapper.c-complete-the-look__wrapper--elevated
						img.img-responsive(src="//media.aldoshoes.com/v2/product/aurella/56/aurella_pink-purple_56_look-full_sq_nt_800x800.jpg")

					.c-complete-the-look__decoration
						+icon-plus()

					.o-box.o-box-12.o-box-6-md-mid.clear-space.c-complete-the-look__wrapper.c-complete-the-look__wrapper--carousel
						.c-carousel-complete-the-look.c-carousel-slide.centerfix(data-custom-direction-nav="true")
							ul.slides
								-for(var i = 0; i < 3; i++)
									li
										.c-product-tile.c-product-tile--no-image-zoom.o-box-12.o-box.clear-space(class='')
											.c-product-tile__inner
												a.c-product-tile__link-product(href="#")
													span.c-product-tile__content-wrapper
														picture.c-picture.c-product-tile__content
															img(src="//media.aldoshoes.com/v2/product/amriteresa/97/amriteresa_black_97_main_sq_gy_400x400.jpg")

												button.c-favourites-btn
													+icon-favourites()

						ul.custom-flex-direction-nav.c-carousel-slide-nav
							li
								a.flex-prev(href="#")
									+icon-arrow-left
							li
								a.flex-next(href="#")
									+icon-arrow-right

						.c-carousel-complete-the-look__footer
							.c-carousel-complete-the-look__btn-wrapper
								button.btn.btn--second.btn--wide-padding.btn--small.c-carousel-complete-the-look__btn.wf-patron Add to bag
							h3.c-product-tile__product-name Brilasen
								span.head-dash(style="margin-left: 5px; width: 28px;")
							.c-product-tile-info__item
								.c-product-tile__product-price
									span $55



		<!-- More from this collection -->
		.product-detail-section.centerfix.collection-wrapper
			.centercontent
				.o-collections
					.o-collections__wrapper-header
						.o-collections__header-content
							h3.product-detail-section-title More from <br />this collection
								span.head-dash(style="margin-left: 15px;  width: 96px;")

							h4.o-collections__subtitle Ankle approved

							.o-box.o-box-12.clear-space
								a.btn.btn--tertiary.btn--small.wf-patron Shop this collection
					.row
						ul.o-collections__product-list.o-grid.o-grid--with-spacing
							include components/product-item
							+productItem('o-tile--is-large o-collections__product-tile')

							- for (var i = 0; i < 2; i++)
								+productItem('')