extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.subpage-content
		.product-list
			include components/product-list-filter
			.product-detail-section.centerfix.collection-wrapper
				.centercontent
					.o-collections
						.o-collections__wrapper-header
							.o-collections__header-content
								ul.breadcrumb
									li
										a(href="#") Women
									li
										a(href="#") Footwear

								h3.product-detail-section-title New arrivals
									span.head-dash(style="margin-left: 15px;  width: 96px;")

								.o-box.o-box-12.clear-space
									a.btn.btn--tertiary.btn--small.wf-patron.u-btn--content Filter
										<svg aria-hidden="true" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400" data-reactid="1458"><polygon role="presentation" points="218.3,181.7 218.3,0 181.7,0 181.7,181.7 0,181.7 0,218.3 181.7,218.3 181.7,400 218.3,400 218.3,218.3 400,218.3 400,181.7" data-reactid="1459"></polygon></svg>
									.select
										select
											option(value="") Sort by most recent
											option(value="") Sort by rating (high to low)
											option(value="") Sort by rating (low to high)
									.results-count 39 items
						.row
							ul.o-collections__product-list.o-grid.o-grid--with-spacing
								include components/product-item
								+productItem('o-tile--is-large o-collections__product-tile')

								- for (var i = 0; i < 10; i++)
									+productItem('')
							.centerfix.load-more
								a.btn.btn--tertiary.wf-patron View All
			section.homepage-editorial-block.get-inspired-block
				.centercontent
					.homepage-editorial-block-header
						h3.editorial-title More ways to shop our 50% off sale
							span.head-dash(style="width: 71px; margin-left: 11px;")


					.row.editorial-grid
						-for(var i = 0; i < 3; i++)
							.o-box.o-box-12.o-box-4-xs-mid.editorial-grid-item
								a(href="#")
									img.img-responsive(src="https://media.aldoshoes.com/assets/aldo/2017/39/ca/default/highlight/web_w_hgl_wspecialbuysftw_400x508.jpg")
								.centerfix.grid-footer
									.grid-item-name Women's Best Sellers at 50% off