extends layout/layout

block head
	- var title = "Anasayfa";
	- var description = "Anasayfa description";
	- var keywords = "Anasayfa keywords";

block content
	section.subpage-content
		.centercontent
			.breadcrumb-header.account-breadcrumb
				ul.breadcrumb
					li
						a(href="#") Account /
				h1.title <svg aria-hidden="true" class="c-icon c-breadcrumb-header__icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M353.8,31.5c-20.8-11.2-39.9-15.5-57.2-15.5c-60.1,0-96.8,52.7-96.8,52.7s-36.7-52.7-96.8-52.7c0,0,0,0,0,0l0,14 c21.4,0,42.2,7.7,61.6,22.8c15.1,11.8,23.6,23.8,23.7,23.9l11.5,16.5l11.5-16.5c0.3-0.5,33.1-46.7,85.3-46.7 c16.5,0,33.5,4.7,50.5,13.8c23.6,12.7,36.1,29.6,38.5,51.8c4.4,41.9-27.1,102.7-91,176c-37.4,42.9-76.1,78.5-93.2,93.7 c-17.2-15.1-56.3-50.7-94.2-93.7c-65-73.5-97-134.5-92.7-176.4c2.3-22,14.7-38.8,38.2-51.4c17.1-9.2,34.1-13.8,50.5-13.8l0-14 c-17.2,0-36.4,4.3-57.2,15.5c-161.6,86.9,155.5,352.4,155.5,352.4S515.4,118.4,353.8,31.5z"></path></svg> Favourites (3)
					span.head-dash(style="margin-left: 22px; width: 144px;")

			aside.my-account-aside
				.o-section--main.o-box-12.o-box-9-lg
					<!-- favoriler listesi başlangıç -->
					section.homepage-editorial-block.get-inspired-block
						.c-favourites
							ul.c-product-list.c-favourites__list
								<!-- Sade görünümü -->
								li.c-favourites-list-item.c-favourites-list-item--has-border
									.c-favourites-list-item__content-wrapper
										.c-favourites-list-item__thumbnail-details-wrapper
											a.c-favourites-list-item__thumbnail
												picture.c-picture.c-picture--is-loaded
													img(src="//media.aldoshoes.com/v2/product/lucio/29/lucio_brown_29_main_sq_wt_250x250.jpg")

											.c-favourites-list-item__details
												.c-favourites-list-item__header
													.c-favourites-list-item__product-name
														h2.c-favourites-list-item__product-name Lucio

													.c-favourites-list-item__header-inner
														.c-favourites-list-item__product-price
															span.c-favourites-list-item__final-price $175

														.c-favourites-list-item__product-cta
															button.btn.btn--primary.btn--wide-padding.c-favourites-list-item__edit-sizes-btn.wf-patron Add to bag


												ul.c-favourites-list-item__choice-list
													li.c-favourites-list-item__choice Brown

												ul.c-favourites-list-item__edit-actions-list
													li.c-favourites-list-item__edit-action
														button.c-favourites-list-item__remove-button.wf-patron
															+icon-remove()
															| Remove

								<!-- add to bag tıklanınca oluşacak markup örneği 'opened classı eklendi' -->
								li.c-favourites-list-item.c-favourites-list-item--has-border.opened
									.c-favourites-list-item__content-wrapper
										.c-favourites-list-item__thumbnail-details-wrapper
											a.c-favourites-list-item__thumbnail
												picture.c-picture.c-picture--is-loaded
													img(src="//media.aldoshoes.com/v2/product/lucio/29/lucio_brown_29_main_sq_wt_250x250.jpg")

											.c-favourites-list-item__details
												.c-favourites-list-item__header
													.c-favourites-list-item__product-name
														h2.c-favourites-list-item__product-name Lucio

													.c-favourites-list-item__header-inner
														.c-favourites-list-item__product-price
															span.c-favourites-list-item__final-price $175

														.c-favourites-list-item__product-cta
															button.btn.btn--primary.btn--wide-padding.c-favourites-list-item__edit-sizes-btn.wf-patron Add to bag



												ul.c-favourites-list-item__choice-list
													li.c-favourites-list-item__choice Brown

												ul.c-favourites-list-item__edit-actions-list
													li.c-favourites-list-item__edit-action
														button.c-favourites-list-item__remove-button.wf-patron
															+icon-remove()
															| Remove

												.c-product-list-item-edit__product-options
													.c-product-option.c-product-option__sizes
														.c-product-option.c-product-option__sizes
															.c-product-option__header
																label.c-product-option__label Size

															ul.c-product-option__list.c-product-option__list--size
																li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7
																li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7
																li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7
																li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7
																li.c-product-option-list__list-item.o-option-rectangle.o-option-rectangle--size 7
					<!-- favoriler listesi bitiş -->
				include components/account-sidebar
