extends layout/layout

block head
    - var title = "Anasayfa";
    - var description = "Anasayfa description";
    - var keywords = "Anasayfa keywords";

block content
    section.subpage-content
        .centercontent
            .breadcrumb-header.account-breadcrumb
                ul.breadcrumb
                    li
                        a(href="#") Account /
                h1.title Details
                    span.head-dash(style="margin-left: 22px; width: 144px;")

            aside.my-account-aside
                .o-section--main.o-box-12.o-box-9-lg
                    .my-account__max-width-wrapper
                        h2.c-heading My info
                            button.c-btn--edit Edit
                        .my-account__empty.profile
                            |Özbek Zeynep
                            span zeynep_ozbek_35@hotmail.com
                        .editable-group__contents
                            .o-box-12
                                form
                                    .row
                                        .o-box.o-box-12-xs.o-box-6-xs-mid
                                            .form-field
                                                input(type="text" id="first-name")
                                                label.field-name(for="first-name") First Name
                                        .o-box.o-box-12-xs.o-box-6-xs-mid
                                            .form-field
                                                input(type="text" id="last-name")
                                                label.field-name(for="last-name") Last Name

                                    .form-field
                                        input(type="text" id="e-mail")
                                        label.field-name(for="e-mail") E-mail

                                    .form-field
                                        input(type="text" id="password")
                                        label.field-name(for="password") Current Password
                                        a.show-password.link-basic-text.wf-patron Show
                                    button.btn.btn--primary.btn--regular.wf-patron.account-btn.disabled(type="submit") Save
                                    button.btn-link Cancel
                    .my-account__max-width-wrapper
                        h2.c-heading Password
                            button.c-btn--edit Edit
                        .my-account__empty.profile
                            | *********
                        .editable-group__contents
                            .o-box-12
                                form
                                    .form-field
                                        input(type="text" id="current-password")
                                        label.field-name(for="current-password") Current password
                                        a.show-password.link-basic-text.wf-patron Show

                                    .form-field
                                        input(type="text" id="new-password")
                                        label.field-name(for="new-password") New password
                                        a.show-password.link-basic-text.wf-patron Show

                                    .form-field
                                        input(type="text" id="re-enter-password")
                                        label.field-name(for="re-enter-password") Re-enter new Password

                                    button.btn.btn--primary.btn--regular.wf-patron.account-btn.disabled(type="submit") Save
                                    button.btn-link Cancel
                include components/account-sidebar
