/**
	Accordion css
 */
.c-accordion {
	&-item-header {

	}
}

.c-accordion-item__button {
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: .3125rem 0;
	padding: 1.375rem 0;
	width: 100%;

	@include minBreakpoint($mobile) {
		padding: 1.1875rem 0;
	}

	svg {
		-ms-flex-preferred-size: 10px;
		flex-basis: 0.625rem;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		fill: #3A2E2C;
		height: .625rem;
		margin-left: 1.25rem;
		transition: transform .24s;
	}

	.opened & {
		svg {
			transform: rotate(180deg);
		}
	}
}

.c-accordion-item {
	border-bottom: 1px solid #D8D5D5;
	transform: translateZ(0);

	&__content {
		margin-left: -.1875rem;
		margin-right: -.1875rem;
		max-height: 0;
		overflow: hidden;
		padding-left: .1875rem;
		transform: translateZ(0);
		padding-right: 1.375rem;
		font-size: .875rem;
		line-height: 1.25rem;
	}
}