.flexslider, .flexslider-slide, .header-nav-slide, .homepage-campaign-slider, .c-carousel-slide {
	.flex-control-nav {
		position: absolute;
		z-index: 9;

		li {
			-ms-flex-align: center;
			align-items: center;
			display: -ms-flexbox;
			display: flex;

			a {
				display: inline-block;
				color: #7F7776;
				height: 1.25rem;
				pointer-events: auto;
				width: 1.5625rem;
				font-size: 0px;

				&::before {
					background-color: currentColor;
					border-radius: 50%;
					content: "";
					display: block;
					height: .625rem;
					margin: 0 auto;
					transform: scale(.5);
					transition: none;
					width: .625rem;
					border: 2px solid currentColor;
				}

				&.flex-active::before {
					background-color: transparent;
					border: 2px solid #3A2E2C;
					transform: scale(0.8);
					transition: transform .25s cubic-bezier(1,0,1,3) 50ms;
				}
			}
		}
	}
}

.custom-flex-direction-nav {
	position: absolute;
	z-index: 9;

	li {
		display: inline-block;
		height: 1.25rem;
		margin: 0 .3125rem;
		pointer-events: auto;
		width: 1.25rem;

		a {
			display: inline-block;
			fill: #3A2E2C;
			height: .875rem;
			vertical-align: middle;
			width: .875rem;

			.c-icon {
				fill: #3A2E2C;
				height: .875rem;
				vertical-align: middle;
				width: .875rem;
			}
		}
	}
}