
.o-box-1 {
	width: 8.33%
}
.o-box-2 {
	width: 16.66%
}
.o-box-3 {
	width: 25%
}
.o-box-4 {
	width: 33.33%
}
.o-box-5 {
	width: 41.66%
}
.o-box-6 {
	width: 50%
}
.o-box-7 {
	width: 58.33%
}
.o-box-8 {
	width: 66.66%
}
.o-box-9 {
	width: 75%
}
.o-box-10 {
	width: 83.33%
}
.o-box-11 {
	width: 91.66%
}
.o-box-12 {
	width: 100%
}

@media (min-width: 34.375em) and (max-width: 47.499em) {
	.o-box-1-md-low-only {
		width: 8.33%
	}
	.o-box-2-md-low-only {
		width: 16.66%
	}
	.o-box-3-md-low-only {
		width: 25%
	}
	.o-box-4-md-low-only {
		width: 33.33%
	}
	.o-box-5-md-low-only {
		width: 41.66%
	}
	.o-box-6-md-low-only {
		width: 50%
	}
	.o-box-7-md-low-only {
		width: 58.33%
	}
	.o-box-8-md-low-only {
		width: 66.66%
	}
	.o-box-9-md-low-only {
		width: 75%
	}
	.o-box-10-md-low-only {
		width: 83.33%
	}
	.o-box-11-md-low-only {
		width: 91.66%
	}
	.o-box-12-md-low-only {
		width: 100%
	}
}
@media (min-width: 47.5em) {
	.o-container-md-mid {
		margin: 0 2.8125rem
	}
	.o-box-1-md-mid {
		width: 8.33%
	}
	.o-box-2-md-mid {
		width: 16.66%
	}
	.o-box-3-md-mid {
		width: 25%
	}
	.o-box-4-md-mid {
		width: 33.33%
	}
	.o-box-5-md-mid {
		width: 41.66%
	}
	.o-box-6-md-mid {
		width: 50%
	}
	.o-box-7-md-mid {
		width: 58.33%
	}
	.o-box-8-md-mid {
		width: 66.66%
	}
	.o-box-9-md-mid {
		width: 75%
	}
	.o-box-10-md-mid {
		width: 83.33%
	}
	.o-box-11-md-mid {
		width: 91.66%
	}
	.o-box-12-md-mid {
		width: 100%
	}
}
@media (min-width: 34.375em) {
	.o-container-xs-mid {
		margin: 0 2.8125rem
	}
	.o-box-1-xs-mid {
		width: 8.33%
	}
	.o-box-2-xs-mid {
		width: 16.66%
	}
	.o-box-3-xs-mid {
		width: 25%
	}
	.o-box-4-xs-mid {
		width: 33.33%
	}
	.o-box-5-xs-mid {
		width: 41.66%
	}
	.o-box-6-xs-mid {
		width: 50%
	}
	.o-box-7-xs-mid {
		width: 58.33%
	}
	.o-box-8-xs-mid {
		width: 66.66%
	}
	.o-box-9-xs-mid {
		width: 75%
	}
	.o-box-10-xs-mid {
		width: 83.33%
	}
	.o-box-11-xs-mid {
		width: 91.66%
	}
	.o-box-12-xs-mid {
		width: 100%
	}
}
@media (min-width: 53.75em) {
	.o-container-md-high {
		margin: 0 2.8125rem
	}
	.o-box-1-md-high {
		width: 8.33%
	}
	.o-box-2-md-high {
		width: 16.66%
	}
	.o-box-3-md-high {
		width: 25%
	}
	.o-box-4-md-high {
		width: 33.33%
	}
	.o-box-5-md-high {
		width: 41.66%
	}
	.o-box-6-md-high {
		width: 50%
	}
	.o-box-7-md-high {
		width: 58.33%
	}
	.o-box-8-md-high {
		width: 66.66%
	}
	.o-box-9-md-high {
		width: 75%
	}
	.o-box-10-md-high {
		width: 83.33%
	}
	.o-box-11-md-high {
		width: 91.66%
	}
	.o-box-12-md-high {
		width: 100%
	}
}
@media (min-width: 100em) {
	.o-box-1-xl {
		width: 8.33%
	}
	.o-box-2-xl {
		width: 16.66%
	}
	.o-box-3-xl {
		width: 25%
	}
	.o-box-4-xl {
		width: 33.33%
	}
	.o-box-5-xl {
		width: 41.66%
	}
	.o-box-6-xl {
		width: 50%
	}
	.o-box-7-xl {
		width: 58.33%
	}
	.o-box-8-xl {
		width: 66.66%
	}
	.o-box-9-xl {
		width: 75%
	}
	.o-box-10-xl {
		width: 83.33%
	}
	.o-box-11-xl {
		width: 91.66%
	}
	.o-box-12-xl {
		width: 100%
	}
}
@media (min-width: 68.75em) {
	.o-box-1-lg {
		width: 8.33%
	}
	.o-box-2-lg {
		width: 16.66%
	}
	.o-box-3-lg {
		width: 25%
	}
	.o-box-4-lg {
		width: 33.33%
	}
	.o-box-5-lg {
		width: 41.66%
	}
	.o-box-6-lg {
		width: 50%
	}
	.o-box-7-lg {
		width: 58.33%
	}
	.o-box-8-lg {
		width: 66.66%
	}
	.o-box-9-lg {
		width: 75%
	}
	.o-box-10-lg {
		width: 83.33%
	}
	.o-box-11-lg {
		width: 91.66%
	}
	.o-box-12-lg {
		width: 100%
	}
}
@include breakpoint($mobile) {
	.o-box-1-xs {
		width: 8.33%
	}
	.o-box-2-xs {
		width: 16.66%
	}
	.o-box-3-xs {
		width: 25%
	}
	.o-box-4-xs {
		width: 33.33%
	}
	.o-box-5-xs {
		width: 41.66%
	}
	.o-box-6-xs {
		width: 50%
	}
	.o-box-7-xs {
		width: 58.33%
	}
	.o-box-8-xs {
		width: 66.66%
	}
	.o-box-9-xs {
		width: 75%
	}
	.o-box-10-xs {
		width: 83.33%
	}
	.o-box-11-xs {
		width: 91.66%
	}
	.o-box-12-xs {
		width: 100%
	}
}
@include breakpoint($phablet) {
	.o-box-1-md {
		width: 8.33%
	}
	.o-box-2-md {
		width: 16.66%
	}
	.o-box-3-md {
		width: 25%
	}
	.o-box-4-md {
		width: 33.33%
	}
	.o-box-5-md {
		width: 41.66%
	}
	.o-box-6-md {
		width: 50%
	}
	.o-box-7-md {
		width: 58.33%
	}
	.o-box-8-md {
		width: 66.66%
	}
	.o-box-9-md {
		width: 75%
	}
	.o-box-10-md {
		width: 83.33%
	}
	.o-box-11-md {
		width: 91.66%
	}
	.o-box-12-md {
		width: 100%
	}
}

.row {
	margin-left: -.4375rem;
	margin-right: -.4375rem;

	@include minBreakpoint($mobile) {
		margin-left: -.5625rem;
		margin-right: -.5625rem;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.o-box {
	padding-left: .4375rem;
	padding-right: .4375rem;
	position: relative;
	display: inline-block;
	vertical-align: top;

	@include minBreakpoint($small_desktop) {
		padding-left: .625rem;
		padding-right: .625rem;
	}
}

.o-grid--with-spacing {
	margin-top: -.875rem;

	@include minBreakpoint($mobile) {
		margin-top: -1.125rem;
	}

	@include minBreakpoint($small_desktop) {
		margin-bottom: 1.25rem;
		margin-top: -1.25rem;
	}

	.o-box {
		padding-top: .875rem;

		@include minBreakpoint($mobile) {
			padding-top: 1.125rem;
		}
	}
}

.o-form-page {
	margin: 1.25rem auto;
	width: 100%;
	@include minBreakpoint($small_desktop) {
		margin: 2.5rem auto;
		width: 66.6%;
	}
}

.clear-space {
	margin: 0;
	padding: 0;
}

.o-grid-no-gutters {
	margin: 0;
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.o-grid {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.img-responsive {
	max-width: 100%;
}

.hidden-sm {
	@include breakpoint($mobile) {
		display: none;
	}
}

.u-flex-lg {
	@include minBreakpoint($small_desktop) {
		display: -ms-flexbox;
		display: flex;
	}
}
.o-container-under-lg {
	margin: 0 .9375rem;
	@include minBreakpoint($mobile) {
		margin: 0 2.8125rem;
	}
	@include minBreakpoint($small_desktop) {
		margin: 0 auto;
	}
}

.u-show-lg {
	display: none;
	@include minBreakpoint($small_desktop) {
		display: block;
	}
}

.u-hidden-xs {
	display: none;
	@include minBreakpoint($phablet) {
		display: block;
	}
}

.u-visible-xs {
	display: block;
	@include minBreakpoint($phablet) {
		display: none;
	}
}

.u-hidden-sm-mid {
	display: none;
	@include minBreakpoint($tablet) {
		display: block;
	}
}

.u-visible-sm-mid {
	display: block;
	@include minBreakpoint($tablet) {
		display: none;
	}
}