/**
	Login vs. kullanılan lightbox style
 */

.modal {
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transition: opacity .6s cubic-bezier(.19,1,.22,1);
	width: 100%;
	z-index: 999;
	padding: .9375rem .9375rem;
	display: none;

	&--small {
		.modal-wrapper {
			max-width: 375px;

			@include minBreakpoint($mobile) {
				width: 60%;
			}
			@include minBreakpoint($small_desktop) {
				width: 40%;
			}

			.modal-content {
				@include minBreakpoint($mobile) {
					padding-bottom: 2.875rem !important;
				}
			}
		}
	}

	&.opened {
		display: block;
		opacity: 1;

		.modal-wrapper {
			opacity: 1;
			margin-top: 0;
		}
	}

	.overlay {
		background-color: #000;
		height: 120%;
		left: 0;
		opacity: 0.5;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.modal-wrapper {
		margin-top: 20px;
		transition: all .6s cubic-bezier(.19,1,.22,1);
		opacity: 0;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: $white;
		max-height: calc(100% - 1.875rem);
		max-width: 98.125rem;
		min-width: 18.125rem;

		@include minBreakpoint($mobile) {
			@include center(true, true);
			opacity: 0;
			overflow-x: hidden;
			overflow-y: auto;
			margin-top: 20px;
			transition: all .6s cubic-bezier(.19,1,.22,1);
		}

		@include breakpoint($mobile) {
			height: calc(100% - 1.875rem);
			position: relative;
			margin: 0 auto;
		}

		.modal-header {
			background-color: #EFECF0;
			padding: 1.25rem 3.75rem 2.0625rem 1.25rem;

			@include minBreakpoint($mobile) {
				padding: 2.75rem 3.5rem;
			}

			.modal-title {
				font-size: 1.5rem;
				line-height: 1.5rem;

				@include breakpoint($mobile) {
					margin-top: .5625rem;
				}

				@include minBreakpoint($mobile) {
					font-size: 1.875rem;
					line-height: 1.875rem;
				}
			}

			.modal-paragraph {
				padding-top: 1rem;
			}
		}

		.modal-content {
			font-size: 1.125rem;
			padding: 2.5rem 1.25rem 1.5625rem;

			@include minBreakpoint($mobile) {
				padding: 2.875rem 3.5rem .375rem;
			}
		}

	}
}