/**
	Profile css
 */
.breadcrumb-header.account-breadcrumb{
  .breadcrumb{
    padding: 0;
    li{
      a,span{
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }
  }
  .title{
    padding-top: 1.25rem;
    .c-breadcrumb-header__icon{
      fill: rgb(191,191,191);
      margin-right: .625rem;
      width: 1.5625rem;
      @include minBreakpoint($small_desktop){
        margin-right: 1.5625rem;
        width: 3.4375rem;
      }
      @include minBreakpoint($mobile){
        margin-right: 1.5625rem;
        width: 2.8125rem;
      }
    }
  }
  @include minBreakpoint($small_desktop){
    padding: 3.1rem 0 4.375rem;
  }
}

.my-account-aside {
  .o-section--main{
    float: right;
    .get-inspired-block{
      background-color: transparent;
      padding-top: 0px;
      margin-top:0;
      .centercontent{
        margin-left: 0px;
        margin-right: 0px;

        .editorial-title{
          font-size: 2.25rem;
          font-weight: 400;
          line-height: 1;
        }
        .link-basic-text{
          background-color: #FFF;
          border-color: #7F7776;
          border: 1px solid;
          color: #3A2E2C;
          font-size: .75rem;
          line-height: 1.125rem;
          position: relative;
          text-align: center;
          padding: 13px 15px;
          width: 288px;

          &:hover{
            background-color: #3A2E2C;
            border-color: transparent;
            color: #FFF;
          }
        }
      }
    }
    .my-account-order-history{
      font-family: Sectra !important;

      .c-section-header{
        -ms-flex-align: end;
        align-items: flex-end;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 1.875rem;
        @include minBreakpoint($small_desktop) {
          padding-bottom: 2.5rem;
        }

        .c-section-header__title{
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.5rem;
          line-height: 1;
          margin: 0;
          color: #3A2E2C;

          @include minBreakpoint($mobile) {
            font-size: 2.25rem;
            font-weight: 400;
            line-height: 2.25rem;
            line-height: 1;
          }
        }
      }

      .u-large-body-2{
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }

      .u-large-body-2:nth-child(3){
        margin-top: 1.375rem;
      }

      .my-account-order-history-empty{
        margin-bottom: 2.8125rem;
        @include minBreakpoint($small_desktop) {
          margin-bottom: 3.75rem;
        }
        @include minBreakpoint($mobile) {
          margin-bottom: 3.75rem;
        }
      }

      .c-open-content{
        margin-top: 1.875rem;
        @include minBreakpoint($mobile) {
          margin-top: 3.125rem;
        }
        .c-open-content__body{
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -ms-flex-pack: justify;
          justify-content: space-between;

          .c-open-content__content-wrapper{
            width: 100%;
            margin-bottom: 1.875rem;
            @include minBreakpoint($mobile) {
              -ms-flex-preferred-size: 55%;
              flex-basis: 55%;
              -ms-flex-positive: 1;
              flex-grow: 1;
              -ms-flex-negative: 0;
              flex-shrink: 0;
              margin-bottom: 3.125rem;
            }

            .c-my-account-order-search{
              @include minBreakpoint($small_desktop) {
                padding-right: 16.66%;
              }
            }
          }

          .c-open-content__helper{
            -ms-flex-preferred-size: 274px;
            flex-basis: 17.125rem;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            margin-bottom: 1.875rem;

            @include minBreakpoint($mobile) {
              margin-bottom: 3.125rem;
            }

            .c-heading{
              font-size: 1.125rem;
              line-height: 1.5rem;
              margin-bottom: 1.5rem;
              margin-top: 0;
              color: #3A2E2C;
            }

            .btn--regular{
              -webkit-tap-highlight-color: transparent;
              padding-bottom: .8125rem;
              padding-top: .8125rem;
              font-size: .75rem;
              line-height: 1.125rem;
              &.c-btn--is-disabled{
                background-color: #E5E5E5;
                border-color: #E5E5E5;
                color: #767676;
              }
            }
          }
        }
      }
    }
    // account form css
    .my-account__max-width-wrapper{
      margin-bottom: 32px;

      @include minBreakpoint($phablet) {
        max-width: 38.125rem;
      }
      .c-heading{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5rem;
        line-height: 1;
        font-weight: 400;
        margin-top: 0;
        color: #3A2E2C;

        .c-btn--edit{
          background-color: #FFF;
          border-color: #7F7776;
          padding: 12px 15px;
          font-size: .75rem;
          line-height: 1.125rem;
          border: 1px solid;
          color: #3A2E2C;
          float: right;
          font-family: Patron !important;

          &:hover{
            background-color: #3A2E2C;
            border-color: transparent;
            color: #FFF;
          }
        }

        @include minBreakpoint($mobile){
          font-size: 2.25rem;
          font-weight: 700;
          line-height: 2.25rem;
          line-height: 1;
          margin-bottom: 30px;
        }
      }
      .my-account__empty{
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 1.875rem;

        &.profile{
          border-bottom: 0px;
        }
        span{
          float: left;
          width: 100%;
          margin-top: 0.25rem;
        }
      }
      .editable-group__contents{
        margin-top: 2.125rem;
        padding-bottom: 2.125rem;
        border-bottom: 1px solid #E5E5E5;
        font-size: 1.125rem;
        line-height: 1.875rem;
        color: #3A2E2C;

        .u-react-measure-offset{
          padding: .0625rem;

          .c-my-account-editable-group__add-new{
            font-size: 1.125rem;
            line-height: 1.5rem;
            text-align: left;
            width: 100%;
            margin-top: .1875rem;
            padding-top: .1875rem;
            background: transparent;
            border: 0;
            outline: none;

            svg{
              height: 1.125rem;
              margin-right: .625rem;
              width: 1.125rem;
            }
          }
        }

        .form-field{
          margin-top: 1.875rem;
          .c-heading{
            font-size: .875rem;
            line-height: 1.25rem;
            color: #3A2E2C;
            margin-top: 2rem;
          }
          .select{
            select{
              color: #7F7776;
              margin-bottom: 12px;
            }
          }
          .u-text-body{
            font-size: .875rem;
            line-height: 1.25rem;
            color: #767676;
          }
        }
        .o-well{
          background-color: transparent;
          margin-left: 0px;
          padding-left: 0px;
          margin-bottom: 2.5rem;
        }
        .account-btn{
          font-size: .75rem;
          line-height: 1.125rem;
          width: 180px;
          &.disabled{
            background-color: #E5E5E5;
            border-color: #E5E5E5;
            color: #767676;
          }
        }
        .btn-link{
          background-color: transparent;
          border:0;
          border-bottom: 1px solid #D8D5D5;
          color: #3A2E2C;
          font-size: .75rem;
          margin-left: 1.25rem;
        }
      }
      .disclaimer{
        font-size: .875rem;
        line-height: 1.25rem;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 1.25rem;
        margin-top: 3.75rem;

        .c-disclaimer__icon{
          -ms-flex-preferred-size: auto;
          flex-basis: auto;
          -ms-flex-positive: 0;
          flex-grow: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          height: 1.125rem;
          margin-right: .5rem;
          width: 1.3125rem;
        }

        .c-open-content__body{
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -ms-flex-pack: justify;
          justify-content: space-between;

          p{
            font-size: .875rem;
            line-height: 1.25rem;
            color: #3A2E2C;
            margin-top: 0px;
          }
        }

        @include minBreakpoint($mobile){
          margin-bottom: 2.5rem;
          margin-top: 2.5rem;
        }
      }
    }
    .c-favourites-list-item__remove-button{
      background-color: transparent;
    }
  }
}