/**
	Sepet css
 */

.c-overlay {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: $black;
	height: 120%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transform: translateZ(0);
	transition: opacity .6s cubic-bezier(.19,1,.22,1);
	z-index: 9998;
	width: 100%;
	display: none;

	&.visible {
		display: block;
		animation: dimmer-fade-in .6s;
		animation-timing-function: cubic-bezier(.19,1,.22,1);
		opacity: .5;
	}
}
@keyframes dimmer-fade-in{0%{opacity:0}}

.o-drawer {
	background-color: #FFF;
	height: 100%;
	max-width: 68.75rem;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate3d(110%,0,0);
	width: 100%;
	z-index: 9999;

	&.visible {
		transform: translateZ(0);

		.o-drawer__body {
			opacity: 1;
		}
	}

	&__body {
		height: 100%;
		opacity: 0;
		transition: opacity 2.4s cubic-bezier(.19,1,.22,1);
		transition-delay: .3s;
	}
}

.basket-wrapper {
	.basket-header {
		display: inline-block;
		margin: 0 .9375rem;
		padding: 1.25rem 0;
		width: calc(100% - 1.875rem);

		@include minBreakpoint($mobile) {
			background-color: #FFF;
			margin: 0;
			padding: 3.25rem 2.8125rem 2.5rem;
			width: 100%;
			-ms-flex-align: baseline;
			align-items: baseline;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}

		@include minBreakpoint($small_desktop) {
			padding-left: 6.125rem;
			padding-right: 6.125rem;
		}

		.title {
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 1.5rem;
			margin-bottom: .5rem;

			@include minBreakpoint($mobile) {
				font-size: 1.875rem;
				font-weight: 700;
				line-height: 1.875rem;
			}
			@include minBreakpoint($small_desktop) {
				font-size: 2.25rem;
				font-weight: 700;
				line-height: 2.25rem;
			}
		}

		.header-sub-desc {
			@include centerfix();

			@include breakpoint($mobile) {
				padding-top: 20px;
			}

			@include minBreakpoint($mobile) {
				margin-top: 0.75rem;
			}

			.basket-notification {
				font-size: 1.125rem;
				line-height: 1.5rem;
			}

			.basket-order-number {
				float: right;
				font-size: .875rem;
				line-height: 1.25rem;
				color: #767676;

				@include breakpoint($mobile) {
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}

	/*Basket empty*/
	.basket-empty {
		padding: 1.25rem .9375rem 5rem;
		width: 100%;

		@include minBreakpoint($mobile) {
			padding: 1.25rem 2.8125rem 7.8125rem;
		}
		@include minBreakpoint($small_desktop) {
			padding: 1.25rem 6.125rem 7.8125rem;
		}

		.empty-message {
			display: block;
			color: #767676;
			font-style: italic;
			font-weight: 400;
			margin-bottom: 1.25rem;
			margin-top: 0;
			font-size: 1.5em;

			@include minBreakpoint($mobile) {
				margin-bottom: 2.5rem;
			}
		}
	}

	/*Basket ürün listeleme*/
	.basket-list {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		background-color: $white;
		padding: 0 .9375rem;

		@include minBreakpoint($mobile) {
			padding: 0 2.8125rem;
		}

		@include minBreakpoint($small_desktop) {
			padding: 0 6.125rem;
		}

		&::before {
			background-color: #EFECF0;
			content: "";
			display: block;
			height: .0625rem;
			width: 100%;
		}

		.basket-list-item {
			-ms-flex-align: start;
			align-items: flex-start;
			display: -ms-flexbox;
			display: flex;
			min-width: 100%;
			position: relative;
			padding: 50px 0;

			.product-image {
				-ms-flex-preferred-size: 33.33%;
				flex-basis: 33.33%;
				-ms-flex-positive: 0;
				flex-grow: 0;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				margin-top: -1.325rem;
				width: 33.33%;

				@include breakpoint($mobile) {
					margin-left: -6.66%;
				}

				@include minBreakpoint($mobile) {
					-ms-flex-preferred-size: 175px;
					flex-basis: 10.9375rem;
					width: 10.9375rem;
				}

				@include minBreakpoint($small_desktop) {
					width: 10.9375rem;
				}

				img {
					max-width: 100%;
				}
			}

			&__detail {
				-ms-flex-preferred-size: 75%;
				flex-basis: 75%;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-ms-flex-negative: 1;
				flex-shrink: 1;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				padding-left: .875rem;
				width: 75%;

				@include minBreakpoint($phablet) {
					padding-left: 2.5rem;
				}

				.header {
					padding-top: .0625rem;
					width: 100%;

					.product-name {
						display: inline-block;
						font-size: 1.125rem;
						font-weight: 400;
						line-height: 1.125rem;
						margin: 0;
						padding-right: .625rem;
						text-overflow: ellipsis;
						white-space: nowrap;

						@include minBreakpoint($small_desktop) {
							font-size: 1.875rem;
							font-weight: 400;
							line-height: 1.875rem;
						}
					}

					.final-price {
						float: right;
						font-size: 1.125rem;
						line-height: 1.125rem;
						@include minBreakpoint($small_desktop) {
							font-size: 1.875rem;
							font-weight: 400;
							line-height: 1.875rem;
						}
					}
				}

				.price-breakdown {
					display: inline-block;
					font-size: .875rem;
					line-height: 1.25rem;
					padding-bottom: 1.25rem;
					padding-right: 20%;
					padding-top: 1.25rem;
					width: 100%;

					@include minBreakpoint($small_desktop) {
						padding-right: 30%;
					}
				}

				.choice-list {
					font-size: .875rem;
					line-height: 1.25rem;
					-ms-flex-positive: 1;
					flex-grow: 1;
					-ms-flex-negative: 1;
					flex-shrink: 1;

					@include minBreakpoint($mobile) {
						width: 40%;
					}

					@include minBreakpoint($small_desktop) {
						display: -ms-flexbox;
						display: flex;
						min-width: 12.5rem;
					}

					li {
						display: inline-block;
						padding-right: 1em;
					}
				}

				.action-list {
					display: -ms-flexbox;
					display: flex;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					padding-right: .1875rem;
					-ms-flex-pack: end;
					justify-content: flex-end;

					@include breakpoint($phablet) {
						-ms-flex-pack: start;
						justify-content: flex-start;
						margin-top: 1.25rem;
					}

					@include minBreakpoint($phablet) {
						-ms-flex-preferred-size: auto;
						flex-basis: auto;
						-ms-flex-positive: 0;
						flex-grow: 0;
						-ms-flex-negative: 0;
						flex-shrink: 0;
					}

					li {
						font-size: .75rem;
						font-family: $font_second;

						@include breakpoint($phablet) {
							margin-top: 0.75rem;
						}

						&:not(:last-child) {
							margin-right: 1.25rem;
						}

						a {
							color: $black;
						}

						svg {
							display: inline-block;
							vertical-align: middle;
							fill: #767676;
							height: 1rem;
							width: 1.0625rem;
							margin-right: .5rem;

							&.c-icon-edit, &.c-icon-remove {
								height: 1rem;
								width: 1.0625rem;
							}
						}
					}
				}

			}
		}
	}

	/*Cart summary*/
	.cart-summary {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		background-color: #F5F3F5;
		padding: 1.875rem .9375rem 2.5rem;

		@include minBreakpoint($mobile) {
			padding: 3rem 2.8125rem 3.875rem;
		}

		@include minBreakpoint($small_desktop) {
			padding: 3rem 6.125rem 3.875rem;
		}

		.cart-summary-title {
			font-size: .875rem;
			font-weight: 700;
			line-height: .875rem;
			margin: 0;
			padding-bottom: 2.5rem;

			@include minBreakpoint($mobile) {
				font-size: .875rem;
				font-weight: 700;
				line-height: .875rem;
			}
		}
	}
}


.cart-summary-table {
	font-size: 1.125rem;
	line-height: 1.5rem;
	max-width: 100%;
	table-layout: fixed;
	width: 100%;

	&.cart-form-table {
		.cart-summary-table__row {
			padding-bottom: 0;
		}
		.cart-summary-table__row-item {
			padding-right: 20px;
		}

		.btn {
			margin-top: 28px;
		}
	}

	tr {
		-ms-flex-align: start;
		align-items: flex-start;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-bottom: 2.5rem;

		td {
			&.cart-summary-table__row-item {
				-ms-flex-preferred-size: auto;
				flex-basis: auto;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-ms-flex-negative: 1;
				flex-shrink: 1;
				display: inline-block;
			}

			&.cart-total-price {
				font-size: 2.25rem;
				font-weight: 700;
				line-height: 2.25rem;

				@include minBreakpoint($mobile) {
					font-size: 3rem;
					font-weight: 700;
					line-height: 3rem;
				}
			}

			.total-description {
				font-size: .875rem;
				line-height: 1.25rem;
				display: block;
				font-style: italic;
			}

			.select select {
				background-position-y: 2px;
				font-size: 1.125rem;
				height: auto;
				line-height: 1.125rem;
				padding-bottom: .25rem;
			}
		}
	}
}