/*breadcrumb header css*/

.breadcrumb-header {
	padding: 1.875rem 0 2.5rem;

	@include minBreakpoint($mobile) {
		padding: 5.175rem 0 4.375rem;
	}

	@include minBreakpoint($small_desktop) {
		padding: 4.275rem 0 4.375rem;
	}

	.title {
		font-size: 1.875rem;
		font-weight: 700;
		line-height: 1.875rem;
		margin: 0;

		@include minBreakpoint($mobile) {
			font-size: 3.75rem;
			font-weight: 700;
			line-height: 3.75rem;
		}

		@include minBreakpoint($small_desktop) {
			font-size: 4.5rem;
			font-weight: 700;
			line-height: 4.5rem;
		}
	}
}