/*breadcrumb css*/

.breadcrumb {
	padding: 1rem 0;
	width: 100%;
	-ms-flex-align: baseline;
	align-items: baseline;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;

	li {
		padding-right: .3125rem;
		font-size: .875rem;
		line-height: 1.25rem;

		@include minBreakpoint($mobile) {
			font-size: .75rem;
			line-height: 1.125rem;
		}

		@include minBreakpoint($phablet) {
			padding-right: .625rem;
		}

		@include minBreakpoint($small_desktop) {
			padding-right: .8125rem;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}

		a {
			border-bottom: 1px solid transparent;
			color: #3A2E2C;
			display: inline-block;
		}

		&::after {
			content: "/";
			padding-left: .3125rem;

			@include minBreakpoint($phablet) {
				padding-left: .625rem;
			}

			@include minBreakpoint($small_desktop) {
				padding-left: .8125rem;
			}
		}
	}
}