/**
	Ödeme css
 */
.checkout-page {
	padding: 0;

	.checkout-page--footer{
		.footer-container{
			padding: 1.19rem 0;
			.footer-left, .footer-right{
				float: left;
				dl{
					float: left;
					width: 100%;
				}
				.footer-link-list{
					padding-top: inherit;
					padding-bottom: inherit;
					.footer-link-list-item{
						margin-bottom: 0px;
						float: left;
						line-height: 2.5rem;
						@include minBreakpoint($mobile){
							margin-right: 2.5rem;
						}
						@include breakpoint($mobile){
							width: 100%;
						}
					}
				}
			}
			.footer-right{
				.footer-link-list{
					display: flex;
					justify-content: flex-end;
					.c-icon{
						height: 40px;
						vertical-align: middle;
						width: 80px;
					}
					.img-responsive{
						width: 80px;
						height: auto;
					}
					.footer-link-list-item{
						margin-bottom: 0px;
						float: left;
						line-height: 2.5rem;
						a{
							border:none;
						}
						@include minBreakpoint($mobile){
							margin-right: 1.25rem;
							.c-icon{
								height: auto;
								width: 60px;
							}
							.img-responsive{
								width: 60px;
								height: auto;
							}
						}
						@include breakpoint($mobile){
							width: 100%;
						}
					}
					@include breakpoint($mobile){
						justify-content: center;
						border-top: 1px solid #EFECF0;
					}
					@include minBreakpoint($mobile){
						justify-content: center;
					}
				}
			}
			@include minBreakpoint($phablet){
				.footer-link-list-col:first-child {
					width: 66.66%;
				}
				.footer-link-list dd:not(.full) {
					-moz-columns: auto;
					columns: auto;
					display: block;
				}
			}
			@include breakpoint($phablet){
				.footer-link-list-col:first-child {
					width: 100%;
				}
			}
			@include minBreakpoint($mobile){
				.footer-link-list-col:first-child {
					width: 100%;
				}
			}
		}
	}
}
.c-checkout {
	.o-section--primary {
		@include minBreakpoint($small_desktop) {
			-ms-flex-preferred-size: 66.66%;
			flex-basis: 66.66%;
			-ms-flex-positive: 0;
			flex-grow: 0;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			max-width: 66.66%;
			padding-left: 7.4%;
			padding-right: 7.4%;
		}
	}

	.c-header-light {
		font-size: .875rem;
		line-height: 1.25rem;
		color: #3A2E2C;
		padding-top: .8125rem;

		&__link {
			color: #3A2E2C;
			svg {
				height: .5rem;
				vertical-align: inherit;
				width: .5rem;
				margin-right: .625rem;
			}
		}

		&__help {
			float: right;
			color: #3A2E2C;

			.u-link {
				font-weight: 700;
				line-height: 1;
				color: #3A2E2C;
				border-bottom: 1px solid #D8D5D5;
			}
		}

		.c-logo {
			margin: 1rem auto;
			position: relative;
			width: 4.6875rem;
			z-index: 30;

			@include minBreakpoint($mobile) {
				margin: 3.5rem 0 3.5625rem;
			}

			@include minBreakpoint($small_desktop) {
				margin-top: 3.125rem;
			}

			svg {
				fill: #3A2E2C;
				height: .875rem;
				width: 100%;

				@include minBreakpoint($mobile) {
					height: 1.5rem;
					width: 8.3125rem;
				}
			}
		}
	}

	.c-login-header {
		margin-bottom: 2.5rem;

		@include minBreakpoint($mobile) {
			margin-bottom: 5rem;
		}

		&__title-wrapper {
			-ms-flex-align: center;
			align-items: center;
			display: -ms-flexbox;
			display: flex;
		}

		&__title {
			font-size: 1.875rem;
			font-weight: 700;
			line-height: 1.875rem;
			-ms-flex-preferred-size: auto;
			flex-basis: auto;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-ms-flex-negative: 1;
			flex-shrink: 1;
			margin-top: 0;

			@include minBreakpoint($mobile) {
				font-size: 2.25rem;
				font-weight: 700;
				line-height: 2.25rem;
				margin-bottom: 0;
			}
		}
	}

	&__header-total {
		border-bottom: 1px solid #EFECF0;
		border-top: 1px solid #EFECF0;
		margin: 1.875rem -.9375rem 0;
		max-width: calc(100% + 2 * .9375rem);
		padding: 1.875rem;
		width: calc(100% + 2 * .9375rem);
		
		@include minBreakpoint($mobile) {
			display: none;
		}

		.cart-summary-table__row {
			padding-bottom: 1.625rem;
			padding-top: 1.875rem;
			padding-left: .9375rem;
			padding-right: .9375rem;
		}
	}

	.c-editable-group {
		margin-top: 4rem;
		position: relative;

		.btn--edit {
			font-family: $font_second;
		}

		.btn--primary {
			@include breakpoint($mobile) {
				width: 100%;
			}
		}

		&--is-done {
			.c-editable-group__indicator {
				border-color: #BAB6B5;
				color: #767676;
			}

			.c-editable-group__indicator-label {
				opacity: 0;
				transition: opacity .34s ease-out;
			}

			.c-editable-group__indicator-icon {
				transition: width .64s ease-in-out;
				width: 100%;
			}

			.c-editable-group__heading {
				color: #BAB6B5;
			}

			.c-editable-group__contents {
				font-size: 1.125rem;
				line-height: 1.875rem;
				color: #3A2E2C;
			}
		}

		&--is-disabled {
			.c-editable-group__indicator {
				border-color: #D8D5D5;
				color: #D8D5D5;
			}

			.c-editable-group__heading {
				color: #D8D5D5;
			}

			.c-editable-group__contents {
				font-size: 1.125rem;
				line-height: 1.875rem;
				color: #3A2E2C;
			}
		}

		&__indicator {
			border: 1px solid #3A2E2C;
			border-radius: 38px;
			display: block;
			float: left;
			font-size: .875rem;
			height: 2.25rem;
			line-height: .875rem;
			padding: .625rem;
			position: relative;
			text-align: center;
			width: 2.25rem;
			font-family: $font_second;

			@include breakpoint($mobile) {
				display: none;
			}

			&-label {
				opacity: 1;
			}

			&-icon {
				height: .625rem;
				left: 0;
				overflow: hidden;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 0;

				.c-icon {
					fill: #3A2E2C;
					height: .875rem;
					left: 10px;
					position: absolute;
					width: .875rem;
				}
			}
		}

		&__wrapper {
			@include minBreakpoint($mobile) {
				margin-left: 16%;
				max-width: 38.125rem;
			}

			@include minMaxBreakpoint($mobile, $phablet) {
				padding-right: 0;
			}

			@include minMaxBreakpoint($mobile, $small_desktop) {
				margin: 0 auto;
				max-width: 45.625rem;
				padding-left: 3.75rem;
				padding-right: 3.75rem;
			}

			@include minBreakpoint($small_desktop) {
				margin: 0 0 0 16%;
				max-width: none;
				padding-left: 0;
				padding-right: 0;
			}
		}

		&__heading {
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 1.5rem;
			margin-bottom: 1.875rem;
			padding-right: 5rem;

			@include minBreakpoint($mobile) {
				font-size: 2.25rem;
				font-weight: 400;
				line-height: 2.25rem;
			}

			@include minBreakpoint($small_desktop) {
				font-size: 2.25rem;
				font-weight: 400;
				line-height: 2.25rem;
			}
		}

		&__contents {
			margin: 0 -.1875rem 1.875rem;
			padding: 0 .1875rem;
		}

		&__header-small {
			font-size: .875rem;
			line-height: 1.25rem;
			margin-top: 1.5625rem;
			color: #3A2E2C;
			margin-bottom: 1rem;
		}
	}

	&__find-in-store-message, &__ship-by-mail-message {
		font-size: .875rem;
		line-height: 1.25rem;
		margin: 1.25rem 0;

		@include minBreakpoint($mobile) {
			font-size: 1.125rem;
			line-height: 1.5rem;
		}

		@include minBreakpoint($phablet) {
			margin-bottom: 2.3125rem;
			margin-top: 2.3125rem;
		}
	}

	/*Ödeme sayfası summary*/
	&__order-details {
		position: relative;
		background-color: #EFECF0;

		@include minMaxBreakpoint($mobile, $small_desktop) {
			padding-bottom: 3.75rem;
			padding-top: 3.75rem;
			margin: 0 auto;
			max-width: 45.625rem;
			padding-left: 3.75rem;
			padding-right: 3.75rem;
		}

		@include minBreakpoint($small_desktop) {
			-ms-flex-preferred-size: 33.33%;
			flex-basis: 33.33%;
			-ms-flex-positive: 0;
			flex-grow: 0;
			-ms-flex-negative: 1;
			flex-shrink: 1;
			-ms-flex-align: center;
			align-items: center;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			max-width: 33.33%;
			padding: 7.5rem 3.0625rem 15rem;

			&:after, &:before {
				display: none;
			}

		}

		&:after, &:before {
			background-color: #EFECF0;
			content: "";
			height: 100%;
			position: absolute;
			right: -1000px;
			top: 0;
			width: 62.5rem;
		}

		&:after {
			left: -1000px;
			right: auto;
		}

		.c-cart-details {
			width: 100%;
			overflow: hidden;

			@include breakpoint($mobile) {
				padding: 1.875rem .9375rem;
			}

			&__header {
				-ms-flex-align: baseline;
				align-items: baseline;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-ms-flex-pack: justify;
				justify-content: space-between;
				width: 100%;

				@include minBreakpoint($small_desktop) {
					display: block;
				}
			}
			.c-cart-header__title {
				font-size: 1.125rem;
				font-weight: 700;
				line-height: 1.125rem;
				-ms-flex-preferred-size: 100%;
				flex-basis: 100%;
				-ms-flex-positive: 0;
				flex-grow: 0;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				margin: 0;

				@include minBreakpoint($mobile) {
					margin-bottom: 1.25rem;
					font-size: 1.5rem;
					font-weight: 700;
					line-height: 1.5rem;
					-ms-flex-preferred-size: auto;
					flex-basis: auto;
					-ms-flex-positive: 1;
					flex-grow: 1;
					-ms-flex-negative: 0;
					flex-shrink: 0;
				}
			}

			&__list {

				@include breakpoint($small_desktop) {
					display: none;
				}

				.c-product-list-item {
					-ms-flex-align: start;
					align-items: flex-start;
					display: -ms-flexbox;
					display: flex;
					margin: 0;
					min-width: 100%;
					padding: 0;
					position: relative;
					transition: height .4s cubic-bezier(.215,.61,.355,1);

					&__content-wrapper {
						-ms-flex-preferred-size: auto;
						flex-basis: auto;
						-ms-flex-positive: 1;
						flex-grow: 1;
						-ms-flex-negative: 1;
						flex-shrink: 1;
						padding-bottom: 3.125rem;
						padding-top: 3.125rem;

						@include minBreakpoint($small_desktop) {
							padding-bottom: 3.75rem;
							padding-top: 3.75rem;
						}
					}

					&__thumbnail-details-wrapper {
						-ms-flex-align: start;
						align-items: flex-start;
						animation-duration: .4s;
						animation-name: a-fade-in;
						display: -ms-flexbox;
						display: flex;
						width: 100%;
					}

					&__thumbnail {
						-ms-flex-preferred-size: 33.33%;
						flex-basis: 33.33%;
						-ms-flex-positive: 0;
						flex-grow: 0;
						-ms-flex-negative: 0;
						flex-shrink: 0;
						margin-top: -3.125rem;
						width: 33.33%;
						padding-top: 1.875rem;

						@include minBreakpoint($phablet) {
							margin-bottom: -3.125rem;
						}

						@include minBreakpoint($small_desktop) {
							margin-bottom: -3.75rem;
							margin-left: -6.66%;
							margin-top: -2.5rem;
						}

						img {
							width: 100%;
						}
					}

					&__details {
						-ms-flex-preferred-size: 75%;
						flex-basis: 75%;
						-ms-flex-positive: 1;
						flex-grow: 1;
						-ms-flex-negative: 1;
						flex-shrink: 1;
						display: -ms-flexbox;
						display: flex;
						-ms-flex-wrap: wrap;
						flex-wrap: wrap;
						padding-left: .875rem;

						@include minBreakpoint($phablet) {
							padding-left: 2.5rem;
						}

						@include minBreakpoint($small_desktop) {
							-ms-flex-preferred-size: 49%;
							flex-basis: 49%;
							-ms-flex-positive: 1;
							flex-grow: 1;
							-ms-flex-negative: 1;
							flex-shrink: 1;
							display: -ms-flexbox;
							display: flex;
							-ms-flex-wrap: wrap;
							flex-wrap: wrap;
							padding-left: .875rem;
						}
					}

					&__header {
						display: -ms-flexbox;
						display: flex;
						-ms-flex-pack: justify;
						justify-content: space-between;
						padding-top: .0625rem;
						width: 100%;

						.c-product-list-item__product-name {
							font-size: 1.125rem;
							font-weight: 400;
							line-height: 1.125rem;
							-ms-flex-preferred-size: auto;
							flex-basis: auto;
							-ms-flex-positive: 1;
							flex-grow: 1;
							-ms-flex-negative: 1;
							flex-shrink: 1;
							margin: 0;
							padding-right: .625rem;
							text-overflow: ellipsis;
							white-space: nowrap;
							color: #3A2E2C;
						}

						.c-product-list-item__final-price {
							-ms-flex-preferred-size: auto;
							flex-basis: auto;
							-ms-flex-positive: 0;
							flex-grow: 0;
							-ms-flex-negative: 1;
							flex-shrink: 1;
							font-size: 1.125rem;
							line-height: 1.125rem;
						}
					}

					.c-product-list-item__price-breakdown {
						font-size: .875rem;
						line-height: 1.25rem;
						padding-bottom: 1.25rem;
						padding-right: 20%;
						padding-top: 1.25rem;
						width: 100%;
					}

					.c-product-list-item__choice-list {
						font-size: .875rem;
						line-height: 1.25rem;
						-ms-flex-positive: 1;
						flex-grow: 1;
						-ms-flex-negative: 1;
						flex-shrink: 1;
						-ms-flex-preferred-size: 100%;
						flex-basis: 100%;
					}

					&__choice {
						padding-right: 1em;
					}
				}
			}

			&__summary {
				padding-top: 2.5rem;

				@include minBreakpoint($small_desktop) {
					border-top: 1px solid #D8D5D5;
				}

				.cart-summary-table-taxes-header {
					display: block;
					padding-bottom: 1.25rem;
				}
				.cart-summary-taxe-item {
					font-size: .875rem;
				}

				.c-cart-summary-promotion-add {
					border-bottom: 2px solid transparent;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-pack: justify;
					justify-content: space-between;
					margin-bottom: 2.5rem;
				}
			}
		}

		.c-cart-header__cart-id {
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
			-ms-flex-positive: 0;
			flex-grow: 0;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			display: -ms-flexbox;
			display: flex;
			font-size: .875rem;
			line-height: 1.25rem;
			color: #767676;

			@include minBreakpoint($mobile) {
				-ms-flex-order: 1;
				order: 1;
				-ms-flex-pack: end;
				justify-content: flex-end;
			}
		}
	}


	.c-cart-summary-total {
		.cart-summary-table__row {
			@include minBreakpoint($small_desktop) {
				border-top: 1px solid #D8D5D5;
				padding-top: 2.5rem;
			}
		}
		.c-cart-summary__total-label {
			display: block;
			font-weight: 700;
		}
		.c-cart-summary__total-description {
			font-size: .875rem;
			line-height: 1.25rem;
			display: block;
			font-style: italic;
		}
	}
}

.c-policy-details {
	position: relative;
	width: 100%;

	@include breakpoint($mobile) {
		margin-left: -.9375rem;
		margin-right: -.9375rem;
		width: calc(100% + 2 * .9375rem);
		z-index: 10;

		.c-accordion-item-header {
			border-top: 1px solid #D8D5D5;
			padding: 0 .9375rem;
		}
	}
}