/*collection css*/
.o-collections {
	position: relative;

	&:not(.c-product-detail__section) {
		margin-top: 1.875rem;

		@include minBreakpoint($mobile) {
			margin-top: 2.5rem;
		}
		@include minBreakpoint($small_desktop) {
			margin-top: 3.75rem;
		}
	}

	&__header-content {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		height: 100%;
		-ms-flex-pack: end;
		justify-content: flex-end;
		position: relative;
		width: 100%;
	}

	&__wrapper-header {
		@include breakpoint($mobile) {
			padding-bottom: 1.875rem;
		}
		@include minMaxBreakpoint($mobile, $small_desktop) {
			padding-bottom: 2.5rem;
		}
		@include minBreakpoint($small_desktop) {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			-ms-flex-pack: center;
			justify-content: center;
			padding-bottom: 1.1875rem;
			padding-right: 1.25rem;
			width: 50%;
		}
	}

	&__subtitle {
		font-size: 1.5rem;
		line-height: 2.25rem;
		color: #3A2E2C;
		font-weight: 400;
		margin-bottom: 1em;

		@include minBreakpoint($mobile) {
			font-size: 1.875rem;
			line-height: 2.25rem;
		}

		@include minBreakpoint($small_desktop) {
			font-size: 2.25rem;
			line-height: 3rem;
		}
	}

	&__header {
		position: relative;
		-ms-flex-align: end;
		align-items: flex-end;
		display: -ms-flexbox;
		display: flex;
	}

	&__product-list {
		@include minBreakpoint($small_desktop) {
			-ms-flex-align: end;
			align-items: flex-end;
		}
	}

	&__product-list {
		.o-tile--is-large {
			.c-product-tile__inner {
				@include minMaxBreakpoint($mobile, $small_desktop) {
					height: calc(200% - 1.125rem);
					position: absolute;
					width: calc(100% - 1.125rem);
				}
			}
			@include minBreakpoint($small_desktop) {
				margin-top: -50%;
			}
		}
		.c-product-tile {
			&:nth-child(2) {
				@include minBreakpoint($mobile) {
					-ms-flex-order: -1;
					order: -1;
				}
			}
			&:nth-child(2), &:nth-child(3) {
				@include minBreakpoint($small_desktop) {
					-ms-flex-order: -1;
					order: -1;
				}
			}
			&:nth-child(3) {
				@include minMaxBreakpoint($mobile, $small_desktop) {
					margin-right: 66.66%;
				}
			}
		}

	}
}
