/*Favorilerim css*/
.c-favourites-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;

	@include minBreakpoint($tablet) {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.c-favourites {
	&__header.c-favourites-header {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		margin: 0;
		padding: 1.25rem 0;
		width: 100%;

		@include minBreakpoint($mobile) {
			background-color: #FFF;
			margin: 0;
			padding: 3.25rem 0 2.5rem;
			width: 100%;
		}

		@include minBreakpoint($small_desktop) {
			padding-left: 0;
			padding-right: 0;
		}

		.c-favourites-header__title {
			font-size: 1.875rem;
			font-weight: 700;
			line-height: 1.875rem;
			margin: 0;

			@include minBreakpoint($mobile) {
				font-size: 3.75rem;
				font-weight: 700;
				line-height: 3.75rem;
			}

			@include minBreakpoint($small_desktop) {
				font-size: 4.5rem;
				font-weight: 700;
				line-height: 4.5rem;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: center;
				align-items: center;
			}

			.c-icon {
				margin-right: .625rem;
				width: 1.5625rem;
				fill: rgb(191,191,191);

				@include minBreakpoint($mobile) {
					margin-right: 1.5625rem;
					width: 2.8125rem;
				}

				@include minBreakpoint($small_desktop) {
					margin-right: 1.5625rem;
					width: 3.4375rem;
				}

			}
		}
	}

	&__sidebar {
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		width: 100%;

		@include minBreakpoint($tablet) {
			padding-top: 0;
		}

		@include minBreakpoint($small_desktop) {
			-ms-flex-preferred-size: 25%;
			flex-basis: 25%;
			-ms-flex-positive: 0;
			flex-grow: 0;
			-ms-flex-negative: 0;
			flex-shrink: 0;
		}
	}

	&__content-wrapper {
		@include minBreakpoint($tablet) {
			-ms-flex-preferred-size: 50%;
			flex-basis: 50%;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			padding-left: .625rem;
		}

		@include minBreakpoint($small_desktop) {
			-ms-flex-preferred-size: 70%;
			flex-basis: 70%;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-ms-flex-negative: 0;
			flex-shrink: 0;
		}

		.c-favourites {
			-ms-flex-preferred-size: auto;
			flex-basis: auto;
			-ms-flex-positive: 0;
			flex-grow: 0;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;

			&:last-child {
				-ms-flex-preferred-size: auto;
				flex-basis: auto;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-ms-flex-negative: 0;
				flex-shrink: 0;
			}
		}
	}

	&__list {
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		-ms-flex-positive: 0;
		flex-grow: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		background-color: #FFF;

		&:before {
			background-color: #EFECF0;
			content: "";
			display: block;
			height: .0625rem;
			width: 100%;
		}
	}

	&-list {
		&-item {
			-ms-flex-align: start;
			align-items: flex-start;
			display: -ms-flexbox;
			display: flex;
			margin: 0;
			min-width: 100%;
			padding: 0;
			position: relative;
			transition: height .4s cubic-bezier(.215,.61,.355,1);

			&.opened {
				.c-product-list-item-edit__button--cancel {
					margin-top: 80px;
				}
				.c-favourites-list-item__details {
					padding-bottom: 0;
				}
				.c-favourites-list-item__product-cta {
					bottom: 60px;
				}
			}

			&__thumbnail-details-wrapper {
				-ms-flex-align: start;
				align-items: flex-start;
				animation-duration: .4s;
				animation-name: a-fade-in;
				display: -ms-flexbox;
				display: flex;
				width: 100%;
			}

			&__thumbnail {
				-ms-flex-preferred-size: 33.33%;
				flex-basis: 33.33%;
				-ms-flex-positive: 0;
				flex-grow: 0;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				margin-top: -3.125rem;
				width: 33.33%;

				@include minBreakpoint($phablet) {
					margin-bottom: -3.125rem;
					max-width: 10.9375rem;
				}

				@include minBreakpoint($small_desktop) {
					margin-top: -3.75rem;
				}
			}

			&__details {
				position: relative;
				-ms-flex-preferred-size: 75%;
				flex-basis: 75%;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-ms-flex-negative: 1;
				flex-shrink: 1;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				padding-left: .875rem;

				@include minBreakpoint($phablet) {
					padding-left: 2.5rem;
				}

				@include breakpoint($phablet) {
					padding-bottom: 70px;
				}
			}

			&__header {
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-ms-flex-pack: justify;
				justify-content: space-between;
				padding-top: .0625rem;
				width: 100%;
				-ms-flex-align: center;
				align-items: center;
				display: -ms-flexbox;
				display: flex;

				@include minBreakpoint($phablet) {
					-ms-flex-wrap: nowrap;
					flex-wrap: nowrap;
				}
			}

			&__product-name {
				font-size: 1.125rem;
				font-weight: 400;
				line-height: 1.125rem;
				-ms-flex-preferred-size: auto;
				flex-basis: auto;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-ms-flex-negative: 1;
				flex-shrink: 1;
				margin: 0;
				padding-right: .625rem;
				text-overflow: ellipsis;
				white-space: nowrap;

				@include minBreakpoint($mobile) {
					font-size: 1.875rem;
					font-weight: 400;
					line-height: 1.875rem;
				}
			}

			&__header-inner {
				-ms-flex-align: center;
				align-items: center;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: center;
				justify-content: center;
			}

			&__product-price {
				@include minBreakpoint($mobile) {
					-ms-flex-preferred-size: auto;
					flex-basis: auto;
					-ms-flex-positive: 1;
					flex-grow: 1;
					-ms-flex-negative: 0;
					flex-shrink: 0;
				}
			}

			&__product-cta {
				@include breakpoint($phablet) {
					position: absolute;
					bottom: 0;
					right: 0;
					left: .875rem
				}

				@include minBreakpoint($phablet) {
					-ms-flex-preferred-size: auto;
					flex-basis: auto;
					-ms-flex-positive: 1;
					flex-grow: 1;
					-ms-flex-negative: 1;
					flex-shrink: 1;
				}
			}

			&__final-price {
				-ms-flex-preferred-size: auto;
				flex-basis: auto;
				-ms-flex-positive: 0;
				flex-grow: 0;
				-ms-flex-negative: 1;
				flex-shrink: 1;
				font-size: 1.125rem;
				line-height: 1.125rem;

				@include minBreakpoint($mobile) {
					font-size: 1.875rem;
					line-height: 1.875rem;
				}
			}

			&__choice-list {
				font-size: .875rem;
				line-height: 1.25rem;
				-ms-flex-preferred-size: auto;
				flex-basis: auto;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-ms-flex-negative: 1;
				flex-shrink: 1;

				&:nth-child(2) {
					padding-top: 1.25rem;

					&~.c-favourites-list-item__edit-actions-list {
						padding-top: 1.25rem;
					}
				}
			}

			&__choice {
				padding-right: 1em;
			}

			&__edit-actions-list {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				padding-right: .1875rem;
				-ms-flex-pack: end;
				justify-content: flex-end;

				@include minBreakpoint($phablet) {
					-ms-flex-preferred-size: auto;
					flex-basis: auto;
					-ms-flex-positive: 1;
					flex-grow: 1;
					-ms-flex-negative: 0;
					flex-shrink: 0;
				}
			}

			&__remove-button {
				margin-top: -.125rem;
				border: none;
				font-size: .75rem;
				line-height: 1.25rem;

				.c-icon {
					height: 1rem;
					width: 1.0625rem;
					fill: #767676;
					margin-right: .5rem;
					vertical-align: middle;
				}
			}

			&__edit-sizes-btn {
				margin-top: .625rem;
				width: 100%;
				white-space: nowrap;

				@include minBreakpoint($phablet) {
					margin-top: 0;
					margin-left: 2.8125rem;
					width: auto;
				}
			}

			&__content-wrapper {
				-ms-flex-preferred-size: auto;
				flex-basis: auto;
				-ms-flex-positive: 1;
				flex-grow: 1;
				-ms-flex-negative: 1;
				flex-shrink: 1;
				overflow: hidden;
				padding-top: 3.75rem;
				padding-bottom: 3.75rem;
			}
		}
	}
}

.c-auth-cta {
	background-color: #F5F3F5;
	margin-bottom: 1.875rem;

	&__inner {
		padding: 1.875rem;
	}

	&__title {
		margin-bottom: 1.25rem;
	}

	&__copy {
		margin-bottom: 1.25rem;
	}

	&__cta {
		margin-bottom: 1.25rem;
	}
}

.c-product-option {
	margin: .9375rem 0;

	&__header {
		-ms-flex-align: baseline;
		align-items: baseline;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding-bottom: .4375rem;
		padding-top: .3125rem;
		font-size: .875rem;
	}

	&__list {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		@include minBreakpoint($mobile) {
			margin-bottom: 1.875rem;
		}

		&--size {
			margin-bottom: 1.25rem;
			margin-top: .3125rem;
			margin-left: -.1875rem;
		}
	}
}

.o-option-rectangle {
	margin: 0 .125rem .5625rem;
	padding: .8125rem 0;
	box-shadow: inset 0 0 0 1px #3A2E2C;
	color: #3A2E2C;
	display: block;
	font-size: .875rem;
	line-height: .875rem;
	overflow: hidden;
	text-align: center;
	font-family: $font_second;

	@include minBreakpoint($tablet) {
		font-size: .75rem;
		line-height: .75rem;
	}

	&:hover {
		box-shadow: inset 0 0 0 2px #7F7776;
	}

	&--size {
		width: 2.625rem;

		@include minBreakpoint($tablet) {
			width: 2.5rem;
		}
	}
}

.c-favourites-empty {
	padding: 1.25rem 0 5rem;
	width: 100%;

	@include minBreakpoint($mobile) {
		padding: 1.25rem 0 7.8125rem;
	}

	@include minBreakpoint($small_desktop) {
		padding: 1.25rem 0 7.8125rem;
	}

	&__title {
		font-style: italic;
		font-weight: 400;
		margin-bottom: 1.25rem;
		margin-top: 0;

		@include minBreakpoint($mobile) {
			margin-bottom: 2.5rem;
		}

		&--part1 {
			display: block;
			margin-bottom: 1.25rem;
		}

		.c-icon {
			height: 1.125rem;
			width: 1.125rem;
			margin-left: .5625rem;
			margin-right: .5625rem;
		}
	}

	&__btn {
		display: block;
		margin-top: .875rem;

		@include minBreakpoint($small_desktop) {
			margin-right: .875rem;
			display: inline-block;
		}
	}
}