.homepage-editorial-block {
	@include centerfix();

	&-header {
		margin-bottom: .625rem;

		@include minBreakpoint($mobile) {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: justify;
			justify-content: space-between;
		}

		@include minBreakpoint($small_desktop) {
			margin-bottom: 2.8125rem;
		}

		.editorial-title {
			padding-bottom: 0 !important;
		}
	}

	.editorial-grid {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		&-item {
			margin-bottom: 2.8125rem;
		}

		.grid-footer {
			margin-top: .625rem;
			font-size: .875rem;
			line-height: 1.25rem;
			-ms-flex-align: center;
			align-items: center;
			color: #3A2E2C;
			display: -ms-flexbox;
			display: flex;
			font-weight: 400;
			-ms-flex-pack: justify;
			justify-content: space-between;

			.c-icon-like {
				fill: #3A2E2C;
				height: .75rem;
				margin-right: .25rem;
				width: .75rem;
				vertical-align: text-top;
			}
		}
	}

	.load-more {
		@include minBreakpoint($mobile) {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: center;
			justify-content: center;
		}

		.btn {
			width: calc(33.3% - 1.25rem);

			@include breakpoint($mobile) {
				display: block;
				width: 100%;
			}
		}
	}

	.editorial-title {
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 2.25rem;
		padding-bottom: 1.5rem;

		@include minBreakpoint($phablet) {
			font-size: 2.25rem;
			white-space: nowrap;
		}

		@include minBreakpoint($small_desktop) {
			font-size: 3.75rem;
			font-weight: 700;
			line-height: 3.75rem;
		}
	}

	//main slider
	&.homepage-top-slider {
		margin: 3.75rem 0 1.25rem;
		z-index: 99;

		.homepage-top-slider-top-block {
			display: none;

			@include minBreakpoint($mobile) {
				position: absolute;
				top: -3.25rem;
				right: 0;
				display: block;
			}
		}

		.homepage-editorial-block-header {
			margin-top: 1.25rem;
			display: none;

			&.active {
				display: block;
				@include minBreakpoint($mobile) {
					display: flex;
				}
			}
		}
		.custom-flex-direction-nav {
			position: relative;
			padding: .75rem 0 1rem;

			@include breakpoint($mobile) {
				opacity: 0;
			}
		}

		.homepage-campaign-slider {
			@include centerfix;

			@include minBreakpoint($mobile) {
				margin-bottom: -50px;
			}
		}

		.flex-control-nav {
			top: -30px;
			left: 60px;

			@include breakpoint($mobile) {
				right: 60px;
				text-align: center;
			}

			li {
				display: inline-block;
			}
		}
	}

	//get inspired css
	&.get-inspired-block {
		padding: 1.25rem 0;
		z-index: 98;

		@include minBreakpoint($mobile) {
			background-color: #EFECF0;
			padding: 3.75rem 0;
		}

		@include minBreakpoint($small_desktop) {
			padding: 5rem 0;
		}

		.link-basic-text {
			@include breakpoint($mobile) {
				margin: .625rem 0;
			}

			@include minBreakpoint($mobile) {
				-ms-flex-item-align: center;
				-ms-grid-row-align: center;
				align-self: center;
				-ms-flex-negative: 0;
				flex-shrink: 0;
			}
		}

		.editorial-title {
			float: left;

			@include breakpoint($mobile) {
				width: 100%;
			}
		}
	}


	//tracking order
	&.track-order-wrap {
		background-color: #EFECF0;
		border-top: 1px solid #D8D5D5;
		padding: 2.5rem 0;

		.wrapper {
			@include breakpoint($small_desktop) {
				width: 380px;
				margin: 0 auto;
			}
			@include breakpoint($mobile) {
				width: 100%;
				margin: 0 auto;
			}

			.heading {
				display: inline-block;
				width: 100%;

				@include minBreakpoint($small_desktop) {
					width: 17%;
					padding-right: 1.25rem;
				}
			}

			.form-field {
				display: inline-block;
				width: 100%;
				margin-bottom: 1.25rem;

				@include minBreakpoint($small_desktop) {
					width: 29%;
					padding-right: 1.25rem;
				}
			}

			.postal-code {
				display: inline-block;
				width: 100%;
				margin-bottom: 1.25rem;

				@include minBreakpoint($small_desktop) {
					width: 29%;
					padding-left: 1.25rem;
					padding-right: 9%;
				}

				.form-field {
					padding-right: 0;
					width: 100%;
				}
			}

			.btn {
				display: inline-block;
				width: 100%;

				@include minBreakpoint($small_desktop) {
					width: 25%;
				}
			}
		}
	}
}