/*Ülke listeleme sayfası css*/
.c-intl-dispatch {
	.c-extra-light-dispatch__title {
		.c-logo {
			margin: 2.5rem 0 2.3125rem;
			position: relative;
			width: 4.6875rem;
			z-index: 30;

			@include minBreakpoint($phablet) {
				width: 7.125rem;
			}

			@include minBreakpoint($small_desktop) {
				width: 8.25rem;
			}

			svg {
				fill: #3A2E2C;
				height: .875rem;
				width: 100%;

				@include minBreakpoint($phablet) {
					height: 1.3125rem;
				}

				@include minBreakpoint($small_desktop) {
					height: 1.5rem;
				}
			}
		}
	}

	&__header {
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 2.25rem;
		margin: .67em 0;

		@include minBreakpoint($mobile) {
			font-size: 3.75rem;
			font-weight: 700;
			line-height: 3.75rem;
		}
	}

	&__list {
		background-color: #EFECF0;
		padding: 2.8125rem 0 5rem;
	}

	&__icon-flag {
		display: inline-block;
		height: 1.5rem;
		margin-right: 1.25rem;
		position: relative;
		top: -2px;
		vertical-align: middle;
		width: 2.25rem;
	}

	&__item {
		&__subheader {
			font-size: .875rem;
			font-weight: 700;
			line-height: .875rem;
			margin-bottom: .625rem;
			margin-top: 3.125rem;
		}

		&__learn-list {
			@include minBreakpoint($mobile) {
				-moz-column-count: 2;
				column-count: 2;
				-moz-column-gap: 20px;
				column-gap: 20px;
			}

			@include minBreakpoint($small_desktop) {
				-moz-column-count: 3;
				column-count: 3;
			}

			> li {
				font-size: 1.125rem;
				line-height: 1.5rem;
				break-inside: avoid;
				-ms-column-break-inside: avoid;
				page-break-inside: avoid;
				padding: .9375rem 0;
			}
		}

		&__shopping-list {
			@include minBreakpoint($mobile) {
				-moz-column-count: 2;
				column-count: 2;
				-moz-column-gap: 20px;
				column-gap: 20px;
			}

			@include minBreakpoint($small_desktop) {
				-moz-column-count: 3;
				column-count: 3;
			}
		}
	}

	&__country {
		font-size: 1.125rem;
		line-height: 1.5rem;
		break-inside: avoid;
		-ms-column-break-inside: avoid;
		page-break-inside: avoid;
		border-bottom: 1px solid #D8D5D5;
		padding-bottom: .5625rem;
		padding-top: 1.875rem;

		&:last-child {
			padding-bottom: 2rem;
		}

		&__link {
			color: #3A2E2C;
		}
	}

	&__region-title {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.5rem;
	}
}