/**
	Login option ve form modal css
 */

.login-option-modal-list {
	.btn {
		margin-bottom: 1rem;

		.c-icon {
			height: 1.25rem;
			margin-right: 1.125rem;
			vertical-align: bottom;
			width: 1.25rem;
		}
	}

	.another-text {
		display: block;
		text-align: center;

		.link-basic-text {
			margin-left: .5rem;
		}
	}
}

.login-form {
	&-field {
		margin-bottom: .9375rem;
		@include minBreakpoint($mobile) {
			margin-bottom: 1.5625rem;
		}
	}

	.password-field {
		input {
			@include minBreakpoint($mobile) {
				padding-right: 9.0625rem;
			}
		}
	}
}