.wf-sectra {
	font-family: $font_primary !important;
}
.wf-patron {
	font-family: $font_second !important;
}

body {
	padding-top: 50px;

	@include minBreakpoint($phablet) {
		padding-top: 6.875rem;
	}

	@include minBreakpoint($small_desktop) {
		padding-top: 7.5rem;
	}

	&.hidden-scroll {
		overflow: hidden;
	}
}

main {
	@include centerfix();
}

.centercontent {
	position: relative;
	margin: 0 .9375rem;
	max-width: 98.125rem;
	min-width: 18.125rem;

	@media (min-width: 34.375em) {
		margin: 0 3.6875rem 0 2.8125rem;
	}

	@media (min-width: 68.75em) {
		margin: 0 6.125rem;
	}
}

.centerfix {
	@include centerfix();
}

.c-icon {
	display: inline-block;
}

.head-dash {
	background: currentColor;
	display: inline-block;
	height: .0625rem;
	position: relative;
	vertical-align: middle;
}

.link-basic-text {
	font-size: .75rem;
	line-height: .75rem;
	display: inline-block;
	border: none;
	border-bottom: 1px solid #D8D5D5;
	color: #3A2E2C;
	background-color: transparent;
	padding: 0;
}

.img-responsive {
	display: inline-block;
	max-width: 100%;
}

.c-helper .c-heading {
	font-size: 1.125rem;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	margin-top: 0;
}

.u-small-text {
	font-size: .75rem;
	line-height: .8125rem;
}

.u-text-body {
	font-size: .875rem;
	line-height: 1.25rem;
	font-style: normal;
}

.o-well {
	background-color: #F5F3F5;
	border: 1px solid transparent;
	padding: 1.25rem .9375rem;

	@include minBreakpoint($mobile) {
		padding: 2.5rem;
	}
}

.u-text-strikethrough {
	display: inline-block;
	position: relative;

	&:after {
		border-bottom: 1px solid #767676;
		content: "";
		left: 0;
		position: absolute;
		top: 35%;
		transform: skewY(11deg);
		width: 100%;
	}
}

.c-scrollable {
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
}

.u-btn.o-close-button {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
	background-color: transparent;
	border: none;
	outline: none;

	&:hover {
		svg {
			fill: #3300AD;
		}
	}

	svg {
		fill: #7F7776;
		height: 1.25rem;
		margin: 1.25rem;
		width: 1.25rem;
	}
}

.text-center {
	text-align: center;
}

.subpage-content {
	@include centerfix;

	.page-header {
		line-height: 1;
		@include minBreakpoint($mobile) {
			padding: .9375rem 0 2.5rem;
		}

		@include minBreakpoint($small_desktop) {
			padding: 1.25rem 0 3.75rem;
		}

		&--has-small-padding {
			@include minBreakpoint($small_desktop) {
				padding-bottom: .625rem;
			}
		}
	}
}


.c-favourites-btn {
	background-color: transparent;
	border: 0;
	margin: 0;
	border-radius: 0;
	color: #3A2E2C;
	padding: .5rem .625rem;
	position: absolute;
	right: 2px;
	top: 2px;
	font-family: $font_second;

	@include minBreakpoint($mobile) {
		padding: .5rem .625rem;
	}

	@include minBreakpoint($small_desktop) {
		padding: .9375rem 1.125rem;
	}

	&:hover {
		svg {
			fill: #FF525F;
		}
	}

	svg {
		height: 1.125rem;
		width: 1.125rem;
	}
}

.u-link {
	border-bottom: 1px solid transparent;

	&:hover {
		border-bottom: 1px solid #D8D5D5;
	}

	&--underlined {
		&:hover {
			.u-btn__content {
				border-bottom-color: transparent;
				color: #3300AD;
			}
		}
		.u-btn__content {
			border-bottom: 1px solid #D8D5D5;
			position: relative;
		}
	}
}

.u-color--gray {
	color: #767676;
}

.c-picture {
	img {
		width: 100%;
	}
}

.u-btn {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	border-radius: 0;
	position: relative;
	text-align: center;
}