.manshet-campaign-slider {
	@include centerfix();
	background-color: #008342;
	z-index: 140;

	.slides {
		@include centerfix();


		li {
			@include centerfix();
			height: 100%;
			text-align: center;
			padding: 2.5rem 0 3.5375rem;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: justify;
			justify-content: space-between;
			position: relative;

			.wrapper {
				-ms-flex-direction: column;
				flex-direction: column;

				.mini-title {
					font-size: .875rem;
					line-height: 1.25rem;
					margin-bottom: .625rem;
					font-family: $font_second;

					@include minBreakpoint($mobile) {
						font-size: 1.125rem;
						line-height: 1.5rem;
					}
				}

				p {
					font-size: 1.875rem;
					font-weight: 700;
					line-height: 1.875rem;
					color: currentColor;
					margin: .625rem 0;

					@include minBreakpoint($mobile) {
						font-size: 3rem;
						line-height: 3rem;
					}

					.c-icon-detail {
						display: inline-block;
						margin-left: .625rem;
						position: relative;
						fill: currentColor;
						height: 1.25rem;
						width: 1.25rem;
					}

					a {
						color: currentColor;
						display: inline-block;
						margin-left: 15px;
					}
				}

				.links {
					font-family: $font_second;

					a {
						display: inline-block;
						font-size: .75rem;
						line-height: .75rem;
						margin: 0 .625rem;
						border-bottom: 1px solid currentColor;
						color: currentColor;

						@include minBreakpoint($mobile) {
							font-size: .875rem;
							line-height: 1.25rem;
						}
					}
				}

			}
		}
	}

	.close-wrapper {
		position: absolute;
		right: -20px;
		top: -2.5rem;
		z-index: 20;
		color: currentColor;
		display: block;
		height: 3.125rem;
		width: 3.125rem;

		@include minBreakpoint($mobile) {
			margin-top: .3125rem;
			top: -2.5rem;
		}

		svg {
			@include center(true, true);
			fill: currentColor;
			height: .75rem;
			vertical-align: top;
			width: .75rem;
		}
	}

	.flex-control-nav {
		bottom: 20px;
		width: 100%;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;

		li a {
			color: $white !important;;
		}
	}

	.flex-direction-nav {
		display: none;
	}

}