.c-sidebar{
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
  &.c-my-account__sidebar{
    .c-sidebar-link-list {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      .c-sidebar-link-list-item {
        padding: .1875rem;
        border-top: 1px solid #E5E5E5;

        .c-sidebar-link-list-item__link{
          font-size: 1.125rem;
          line-height: 1.125rem;
          color: #3A2E2C;
          background-color: transparent;
          border: 0;
          margin: 0;
          text-decoration: none;
          &:hover{
            border-bottom: 1px solid #D8D5D5;
          }
          &.c-sidebar-link-list-item__link--is-selected{
            color: #3300AD;
          }
        }
      }
      &.c-sidebar-link-list--secondary{
        .c-sidebar-link-list-item{
          .c-sidebar-link-list-item__link{
            font-size: .875rem;
            line-height: .875rem;
          }
        }

        &:after{
          background-color: transparent;
        }
      }
    }
  }
}
@media (min-width: $small_desktop){
  .c-sidebar{
    &.c-my-account__sidebar{
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 0;
      .c-sidebar-link-list--primary{
        .c-sidebar-link-list-item {
          margin-bottom: 1.5rem;
          border: 0;
        }
        &:after{
          background-color: #E5E5E5;
          content: "";
          display: block;
          height: .0625rem;
          margin-bottom: 2.1875rem;
          margin-top: 2rem;
          max-width: 11.25rem;
          width: 100%;
        }
      }
      .c-sidebar-link-list--secondary {
        margin-bottom: 2em;
        .c-sidebar-link-list-item {
          margin-bottom: .375rem;
          border:0;
        }
      }
    }
  }
}
@media (max-width: $small_desktop){
  .c-sidebar{
    .c-sidebar-link-list-item{
      float: left;
      width: 100%;
      .c-sidebar-link-list-item__link{
        float: left;
        width: 100%;
        padding: 1.6875rem 2.625rem;
      }
    }
    .c-sidebar-link-list--secondary{
      .c-sidebar-link-list-item {
        background-color: #EFECF0;
        border-top: 1px solid #E5E5E5;
        .c-sidebar-link-list-item__link{
          font-size: 1.125rem !important;
          line-height: 1.125rem !important;
        }
      }
    }
  }
}