@import "product-list-filter";
.product-list{
  .product-detail-section{
    margin-top: 0px !important;
    padding-top: 0px !important;

    .o-collections{
      margin-top:0;

      .breadcrumb{
        @include minBreakpoint($small_desktop) {
          padding-bottom: 1.6rem;
          padding-top: 1.2rem;

          li{
            a{
              font-size: 1.5rem;
              line-height: 2.25rem;
              &:hover{
                border-color: #D8D5D5;
              }
            }
            &:after{
              font-size: 1.5rem;
              line-height: 2.25rem;
            }
          }
        }
      }
      .product-detail-section-title{
        @include minBreakpoint($small_desktop) {
          font-size: 60px !important;
          padding-bottom: 2.85rem;
        }
      }
      .u-btn--content{
        background-color: #3300AD;
        border-color: #3300AD;
        color: #ffffff;
        font-size: .75rem;
        line-height: 1.125rem;
        padding-bottom: .8125rem;
        padding-top: .8125rem;
        min-width: 120px;
        text-align: left;

        svg{
          height: .875rem;
          margin-left: 2.8rem;
          width: .875rem;
        }
      }
      .results-count{
        padding-right: 2.5rem;
        font-size: .875rem;
        line-height: 1.25rem;
        color: #3A2E2C;
        float: right;
        margin-top: 0.7rem;
      }
      .select{
        float: right;
        font-size: .75rem;
        line-height: .875rem;
        padding-bottom: .3125rem;
        color: #767676;
        margin-top: 0.7rem;

        select{
            padding-bottom: 0px;
            font-family: Patron !important;
          }
      }
      @include breakpoint($mobile) {
        .results-count, .select{
          width: 100%;
          margin-top:1rem;

          select{
            width: 100%;
          }
        }
      }
      .o-collections__product-list{
        margin-top: 1rem;
        @include minBreakpoint($small_desktop) {
          margin-top: 4.4rem;
        }
      }
      .load-more{
        display: flex;
        justify-content: center;

        a{
          min-width: 25%;
        }
      }
    }
  }
  .get-inspired-block{
    background-color: transparent !important;

    .homepage-editorial-block-header{
      display: flex;
    }

    .grid-item-name{
      font-size: 1.875rem;
      font-weight: 700;
      line-height: 1.875rem;
      color: #3A2E2C;

      @include minBreakpoint($mobile) {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5rem;
      }
    }
  }
}

