.is-overlay-open{
  overflow: hidden;
}
.c-overlay-filter{
  -ms-flex-align: start;
  align-items: flex-start;
  display: none;
  height: 100% !important;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 999 !important;

  &.c-overlay--is-visible {
    display: -ms-flexbox;
    display: flex;
  }

  .c-dimmer {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 120%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateZ(0);
    transition: opacity .6s cubic-bezier(.19,1,.22,1);
    width: 100%;

    &.c-dimmer--is-visible {
      animation: dimmer-fade-in .6s;
      animation-timing-function: cubic-bezier(.19,1,.22,1);
  }
    &.c-dimmer--is-white {
      background-color: #ffffff !important;
      opacity: .8;
    }
  }

  .c-filters-overlay{
    left: 0;
    position: absolute;
    transform: translateZ(0);
    width: 100%;
    z-index: 9999;
    top: 130px;

    .c-filters-overlay__transparent-clicker {
      height: 100%;
      position: absolute;
      width: 100%;
    }
    .o-container{
      max-width: 98.125rem;
      min-width: 18.125rem;
      margin: 0 .9375rem;
      .c-filters-overlay-btn{
        font-family: Patron !important;
        text-align: left;
        color: #3A2E2C;
        padding-left: .9375rem;
        padding-right: .9375rem;
        cursor: pointer;
        background-color: #FFF;
        border-left: 1px solid #E5E5E5;
        border-right: 1px solid #E5E5E5;
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #ffffff;
        min-width: 7.5rem;
        font-size: .75rem;
        line-height: 1.125rem;
        padding-bottom: .8125rem;
        padding-top: .8125rem;

        svg{
          height: .875rem;
          margin-left: 3rem;
          vertical-align: middle;
          width: .875rem;
        }
      }
      .mobile-filter-caption{
        &.mobile-visible{
          display: none !important;
        }
      }
    }
    .c-filters-overlay__contents-wrapper {
      background-color: #FFF;
      margin-top: 0;
      position: relative;
      max-height: 300px;
      //overflow-y: auto;

      .c-filters-overlay__contents-inner{
        margin-left: 6px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        .o-box-3{
         float: left;
          .c-heading{
            font-size: 1.3125rem;
            font-weight: 400;
            line-height: 1.3125rem;
            margin: 0 0 .4375rem;
            color: #3A2E2C;
            margin-top: 1rem;
          }
          .option-list{
            margin-left: -8.5px;
            max-width: 279px;
            li{
              display: inline-block;
              font-family: Patron !important;
              .number-list-item {
                margin-left: .5rem;
                margin-right: .5rem;
                padding: .625rem 0;
                box-shadow: inset 0 0 0 1px #3A2E2C;
                color: #3A2E2C;
                display: block;
                font-size: .875rem;
                line-height: .875rem;
                overflow: hidden;
                text-align: center;
                font-family: $font_second;
                width: 32px;

                &.selected, &:hover {
                  box-shadow: inset 0 0 0 2px #3A2E2C;
                }
                @include minBreakpoint($small_desktop){
                  margin-bottom: 1.125rem;
                }
                @include minBreakpoint($tablet) {
                  font-size: .75rem;
                  line-height: .75rem;
                  width: 32px;
                }
              }
              a.style-option {
                border-radius: 50% 50%;
                display: inline-block;
                position: relative;
                text-align: center;
                vertical-align: middle;
                height: 2.5rem;
                padding: .1875rem;

                .option-img{
                  border-radius: 50% 50%;
                  height: 30px;
                  width: 30px;
                  float: left;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-right: .125rem;
                  img {
                    border: 1px solid #767676;
                    border-radius: 50% 50%;
                    height: 22px;
                    width: 22px;
                    vertical-align: middle;
                  }
                  &.selected, &:hover {
                    border: 1px solid #3A2E2C;
                  }
                }
                span.text{
                  font-size: .75rem;
                  line-height: .75rem;
                  color: #3A2E2C;
                  vertical-align: text-bottom;
                }

              }
              .checkbox-label{
                font-size: .75rem;
                line-height: .75rem;
                margin-bottom: 20px;
                margin-left: 8.4px;

                .checkbox{
                  margin-right: .625rem;
                  width: 32px;
                  height: 32px;

                  input[type="checkbox"]{
                    width: 32px;
                    height: 32px;
                    margin-right: .625rem;
                  }
                  span{
                    width: 32px;
                    height: 32px;
                    margin-right: .625rem;
                  }
                }
                &.disabled{
                  color: #D8D5D5;
                }
              }
              &.half{
                width: 50%;

                @include breakpoint($small_desktop){
                  width: 100%;
                }
              }
              &.full{
                width: 100%;
              }
            }

            @include minBreakpoint($small_desktop){
              padding-top: 0.6rem;
            }
          }
        }
      }
    }
    .c-filters-overlay-controls{
      text-align: center;
      font-family: Patron !important;

      .c-filters-overlay-controls__apply-btn{
        background-color: #3300AD;
        border-color: #3300AD;
        padding-left: .9375rem;
        padding-right: .9375rem;
        cursor: pointer;
        color: #ffffff;
        border: 1px solid;
        font-family: Patron !important;
        color: #FFF;
        font-size: .75rem;
        line-height: 1.125rem;
        padding-bottom: .8125rem;
        padding-top: .8125rem;
        float: left;
        width: 100%;
        margin-bottom: 16px;
      }
      .u-btn__content{
        border-bottom: 1px solid #D8D5D5;
        position: relative;
        cursor: pointer;
        color: #3A2E2C;
        line-height: 1;
        font-size: .75rem;
      }
    }
  }
  .mobile-visible{
    display: none;
  }
  @include minBreakpoint($small_desktop) {
    -ms-flex-pack: start;
    justify-content: flex-start;
    .o-container{
      margin: 0 6.125rem !important;
    }
    .c-filters-overlay__contents-inner {
      display: -ms-flexbox;
      display: flex;
      margin-left: -.9375rem;
      margin-right: -.9375rem;
      padding-top: 1.875rem;
    }
  }
  @include minBreakpoint($mobile) {
    -ms-flex-align: center;
    align-items: center;

    .c-filters-overlay{
      .c-filters-overlay__inner {
        border-bottom: 1px solid #E5E5E5;
        padding-right: .9375rem;

        &:before{
          background-color: #E5E5E5;
          content: "";
          display: block;
          height: .0625rem;
          position: absolute;
          top: 44px;
          width: 100%;
        }
      }
      .o-container{
        margin: 0 2.8125rem;
      }
    }
    .c-filters-overlay-controls{
      left: 50%;
      margin-top: 1.25rem;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
    }
  }
  @include breakpoint($mobile){
    .mobile-visible{
      display: block;
    }
    .mobile-hidden{
      display: none;
    }
    .c-filters-overlay{
      top:0;

      .c-filters-overlay__inner{
        max-height: 100vh;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-bottom: 3.125rem;
      }

      .option-list{
        float: left;
      }
      .o-container{
        margin-left: 0;
        margin-right: 0;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        .c-filters-overlay-btn{
          width: 100%;
          font-size: 1.5em;
          font-weight: bold;
          margin-bottom: 1rem;
          padding-bottom: 5px;
          border: 0;
          padding-left: 0;
          margin-top: 10px;
          font-family: Sectra !important;

          svg{
            margin-left: 11.8rem;
            height: 1.25rem;
            width: 1.25rem;
          }
          &.mobile-hidden{
            display: none;
          }
        }
        .mobile-filter-caption{
          &.mobile-visible{
            display: block !important;
          }
          .clear, .apply{
            width: auto;
            padding: 13px 15px 13px 15px;
            font-family: Patron;
            font-size: .75rem;
            line-height: 1.125rem;
            margin-left: .4375rem;
            margin-right: .4375rem;
          }
          .clear{
            background-color: white;
            border-color: #7F7776;
            outline: none;
            color: #3A2E2C !important;
            width: 142px;
            margin-left: 0.3rem;
          }
          .apply{
            background-color: #3300AD;
            border-color: #3300AD;
            color: #ffffff;
            width: 110px;
          }
        }
      }
      .c-filters-overlay__contents-wrapper{
        max-height: 100% !important;
        height: 100% !important;
        margin-bottom: 0 !important;
        overflow: auto !important;
        overflow-x: hidden !important;
        margin-top: 0;
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        .o-container{
          padding-left: 0px;
          padding-right: 0px;
        }
        .mobile-accordion{
          border-bottom: 1px solid #D8D5D5;
          padding: 5px;
        }
        .accordion-item__button{
          padding: 5px;
          -ms-flex-align: center;
          align-items: center;
          cursor: pointer;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }
        .c-heading{
          padding-top: 22px;
          padding-bottom: 22px;
          margin-top: 5px;
          margin-bottom: 5px;
          display: flex;
          flex-direction: column;
          float: left;


          small{
            font-size: .75rem;
            line-height: .75rem;
            font-family: Patron;
            display: flex;
            margin-top: 4px;
          }
        }
        .c-accordion-item__icon{
          -ms-flex-preferred-size: 10px;
          flex-basis: 0.625rem;
          -ms-flex-positive: 0;
          flex-grow: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          fill: #3A2E2C;
          height: .625rem;
          margin-left: 1.25rem;
          transition: transform .24s;
          display: flex;
          float: right;
        }
        .option-list{
          display: none;
          &.active{
            display: block;
          }

          li{
            .number-list-item{
              padding: 1.15rem 1.57rem !important;
            }
            .checkbox{
              float: right;
            }
            &.half{
              width: 50% !important;
            }
            &.full{
              border-top: 1px solid #EFECF0;
              padding: 1.25rem 0;
              padding-bottom:0;
            }

          }
        }
      }
    }
  }
}