/*Product detail css*/

.product-detail-top-wrapper {
	@include breakpoint($phablet) {
		.centercontent {
			margin: 0;
		}
	}
}
.product-detail-container{
	@include minBreakpoint($small_desktop) {
		padding-bottom: 6.3125rem;
	}

	.left-wrapper {
		z-index: 10;

		.c-carousel-product-overview__header {
			font-size: .875rem;
			line-height: 1.25rem;
			background-color: #EFECF0;
			border-bottom: 1px solid #E5E5E5;
			display: block;
			padding: .9375rem 0;
			position: relative;
			text-align: center;
			z-index: 10;

			@include minBreakpoint($tablet) {
				display: none;
			}
		}

		/*ürün görsel alanı*/
		.product-images {
			.slides{
				li {
					position: relative;
					width: 100%;

					img {
						position: relative;
						z-index: 4;
						width: 100%;
					}
				}
			}

			.add-favourite, .zoom-photo  {
				background-color: transparent;
				border: none;
				outline: none;
				svg {
					height: 1.25rem;
					vertical-align: middle;
					width: 1.25rem;
				}
			}

			.add-favourite {
				position: absolute;
				right: 0;
				top: 0;
				margin: .625rem .9375rem;
				padding: .625rem .9375rem;
				z-index: 9999;

				@include minBreakpoint($mobile) {
					margin: 1.25rem 2.5rem;
				}

				@include minBreakpoint($tablet) {
					margin: 1.25rem;
					padding: .9375rem 1.25rem;
				}
			}

			.zoom-photo {
				position: absolute;
				right: 0;
				bottom: 0;
				margin: .625rem .9375rem;
				padding: .625rem .9375rem;
				z-index: 20;

				@include minBreakpoint($mobile) {
					margin: 1.25rem 2.5rem;
				}

				@include minBreakpoint($tablet) {
					margin: 1.25rem;
					padding: .9375rem 1.25rem;
				}
			}

			.flex-direction-nav {
				display: none;
			}

			.custom-flex-direction-nav {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				margin: .625rem .9375rem;
				padding: .625rem .9375rem;

				@include minBreakpoint($mobile) {
					margin: 1.25rem 2.5rem;
				}

				@include minBreakpoint($tablet) {
					margin: 1.25rem;
					padding: .9375rem 1.25rem;
				}

				a {
					svg {
						display: inline-block;
						fill: #3A2E2C;
						height: .875rem;
						width: .875rem;
					}
				}
			}

			.flex-control-nav {
				position: absolute;
				left: 60px;
				bottom: -3px;
				margin: .625rem .9375rem;
				padding: .625rem .9375rem;

				@include minBreakpoint($mobile) {
					margin: 1.25rem 2.5rem;
				}

				@include minBreakpoint($tablet) {
					margin: 1.25rem;
					padding: .9375rem 1.25rem;
				}

				li {
					float: left;

					a {
						color: #BAB6B5;
					}
				}
			}
		}

		/*ürün açıklama alanı*/
		.product-description {
			background-size: cover;
			background-attachment: fixed;
			padding: 1.25rem;

			@include minBreakpoint($mobile) {
				padding: 2.5rem;
			}

			@include breakpoint($phablet) {
				padding-bottom: 100vw;
			}

			@include breakpoint($mobile) {
				padding-bottom: 150vw;
			}

			@include minMaxBreakpoint($phablet, $tablet) {
				padding: 2.5rem 2.5rem 18vw;
			}

			@include minMaxBreakpoint($tablet, $small_desktop) {
				overflow: hidden;
				width: 150%;
			}

			@include minBreakpoint($small_desktop) {
				background: none !important;
			}

			.description-featured {
				margin: .625rem 0 .75rem;

				@include minBreakpoint($phablet) {
					margin: 0 2.5rem;
				}

				@include minBreakpoint($tablet) {
					margin: 0 .9375rem 1.25rem;
				}

				@include minMaxBreakpoint($phablet, $tablet) {
					margin: 0;
					border-bottom: 1px solid #EFECF0;
					padding-bottom: 2.1875rem;
				}
			}

			&__inner {
				background-color: $white;
				padding: 1.875rem .9375rem 1.0625rem;
				position: relative;
				font-size: .875rem;
				line-height: 1.5rem;

				@include minBreakpoint($mobile) {
					padding-bottom: 1.875rem;
					padding-left: 2.8125rem;
					padding-right: 2.8125rem;
				}

				@include breakpoint($phablet) {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
				}

				@include minMaxBreakpoint($phablet, $tablet) {
					height: 100%;
					margin: 0;
					padding: 2.8125rem;
					width: 50%;
					float: right;
				}

				@include minBreakpoint($tablet) {
					padding: 1.875rem;
					margin: 0 0 0 -.9375rem;
				}

				@include minBreakpoint($small_desktop) {
					height: auto;
					min-width: 20.25rem;
					padding-left: 0;
					margin-top: 1.875rem;
					@include centerfix();
				}

			}

			.desc-title {
				font-size: .875rem;
				line-height: 1.25rem;
				font-weight: bolder;
				margin-bottom: .9375rem;
				margin-top: 0;

				@include minBreakpoint($mobile) {
					font-size: 1.125rem;
					line-height: 1.5rem;
				}
			}

			.product-description-section {
				display: inline-block;
				padding: .625rem 0 .75rem;
				font-size: .875rem;
				line-height: 1.5rem;

				@include minBreakpoint($phablet) {
					padding: 2.5rem;
				}

				@include minBreakpoint($tablet) {
					padding: 0 .9375rem;
					width: 33.333%;
				}

				@include minMaxBreakpoint($phablet, $tablet) {
					padding: 0;
					margin-top: 2.5rem;
					width: 100%;
				}

				.title {
					font-size: .875rem;
					line-height: 1.25rem;
					font-weight: bolder;
					margin-bottom: .9375rem;
					margin-top: 0;

					@include minBreakpoint($mobile) {
						font-size: 1.125rem;
						line-height: 1.5rem;
					}
				}
			}
		}
	}

	/*ürün detay sağ kısım*/
	.product-detail-bg-wrapper {
		-ms-flex-align: center;
		align-items: center;
		z-index: 9;

		@include minBreakpoint($small_desktop) {
			overflow: hidden;
			z-index: 5;
		}

		.product-big-image {
			transition: transform .2s cubic-bezier(.215,.61,.355,1),background .4s ease-out .6s;
			width: 100%;

			@include breakpoint($tablet) {
				display: none;
			}

			@include minMaxBreakpoint($tablet, $small_desktop) {
				left: 0;
				position: absolute;
				top: 0;
			}

			@include minBreakpoint($small_desktop) {
				bottom: 0;
				height: 76%;
				padding: 0;
				position: absolute;
				width: 100%;
			}

			img {
				width: 100%;
			}
		}
	}

	.product-detail-buy-info-content {
		background-color: #FFF;
		padding: 1.875rem 12.5% 1.0625rem;
		position: relative;

		@include minMaxBreakpoint($phablet, $tablet) {
			border-right: 1px solid #EFECF0;
			width: 50%;
			display: inline-block;
		}

		@include minBreakpoint($mobile) {
			padding-bottom: 1.875rem;
			padding-left: 2.8125rem;
			padding-right: 2.8125rem;
		}

		@include minBreakpoint($phablet) {
			height: 100%;
			margin: 0;
			padding: 2.8125rem;
		}

		@include minBreakpoint($tablet) {
			padding: 1.875rem;
		}

		@include minBreakpoint($small_desktop) {
			height: auto;
			min-width: 20.25rem;
		}
		/*ürün adı ve fiyat bilgisinin yazdığı kısım*/
		.c-buy-module {
			background-color: $white;
			margin-bottom: 1.25rem;

			.product-name {
				line-height: 1;
				margin-bottom: .3125rem;
				margin-top: .75rem;

				@include minBreakpoint($small_desktop) {
					font-size: 48px;
				}

				@include minBreakpoint($phablet) {
					margin-top: 0;
				}
			}

			.c-buy-module__price-review-wrap {
				color: #767676;
				font-size: 1.875rem;
				line-height: 1.875rem;

				.price-original {
					margin-right: .533em;
					overflow: hidden;
				}
				.discount-price {
					display: inline-block;
					vertical-align: top;
				}

				.reviews {
					position: relative;
					float: right;
					top: -2px;
					color: #3A2E2C;
					display: inline-block;
					white-space: nowrap;

					.c-icon-star {
						display: inline-block;
						vertical-align: middle;
						height: .875rem;
						width: .875rem;

						&:not(:last-child) {
							margin-right: .0625rem;
						}
					}

					.reviews-count {
						display: inline-block;
						margin-left: .5rem;
						color: #767676;
						font-size: .8125rem;

						@include minBreakpoint($small_desktop) {
							vertical-align: middle;
						}
					}
				}
			}
		}

		/*ürün sku seçenekleri css*/
		.product-option-block {
			margin: .9375rem 0;

			.option-header {
				padding-bottom: .4375rem;
				font-size: .875rem;

				.field-name {
					color: #767676;
				}

				.current-value {
					color: #3A2E2C;
				}
			}

			.option-list {
				max-width: 15rem;
				margin-left: -.3125rem;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;

				li {
					display: inline-block;
					margin-right: .125rem;

					a.style-option {
						border-radius: 50% 50%;
						display: inline-block;
						position: relative;
						text-align: center;
						vertical-align: middle;
						height: 2.5rem;
						padding: .1875rem;
						width: 2.5rem;

						&.selected, &:hover {
							border: 1px solid #3A2E2C;
						}

						img {
							border: 1px solid #767676;
							border-radius: 50% 50%;
							height: 100%;
							width: 100%;
							vertical-align: middle;
						}
					}

					.number-list-item {
						margin: 0 .125rem .5625rem;
						padding: .8125rem 0;
						box-shadow: inset 0 0 0 1px #3A2E2C;
						color: #3A2E2C;
						display: block;
						font-size: .875rem;
						line-height: .875rem;
						overflow: hidden;
						text-align: center;
						font-family: $font_second;
						width: 2.625rem;

						&.selected, &:hover {
							box-shadow: inset 0 0 0 2px #3A2E2C;
						}

						@include minBreakpoint($tablet) {
							font-size: .75rem;
							line-height: .75rem;
							width: 2.5rem;
						}
					}
				}
			}

		}

		/*true fit wrapper*/
		.c-true-fit {
			margin-bottom: 1.25rem;

			.c-true-tooltip {
				svg {
					color: $black;
					height: 1.3125rem;
					width: 1.4375rem;
				}
			}
		}

		/*sepete ekle ve ara buton css*/
		.btn {
			margin-bottom: .625rem;
		}

		/*social share*/
		.share-social-list {
			margin: .625rem 0 0;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: center;
			justify-content: center;

			li {
				a {
					display: inline-block;
					padding: .625rem;

					svg {
						fill: #3A2E2C;
						height: .875rem;
						width: .875rem;
					}
				}
			}
		}
	}

}

/*Ürün detay yorum listeleme*/
.product-reviews-wrapper {
	.reviews-top {
		@include minBreakpoint($mobile) {
			-ms-flex-align: start;
			align-items: flex-start;
		}
	}


	.c-fit-scales {
		max-width: 18.75rem;

		@include breakpoint($mobile) {
			margin-bottom: .875rem;
			margin-top: 1.6875rem;
		}

		@include minBreakpoint($mobile) {
			margin-bottom: -.5rem;
			margin-top: -.5rem;
		}

		.c-fit-scales__col {
			height: 1.875rem;
			text-align: left;
			white-space: nowrap;
			vertical-align: middle;

			&:not(:last-child) {
				padding-right: .25rem;
			}

			&:not(:first-child) {
				padding-left: .25rem;
			}

			&--line {
				width: 60%;
			}
		}
		.c-fit-scales__col--label {
			font-size: .875rem;
			line-height: 1.25rem;
			color: #767676;
			transform: translateY(.0625rem);
			width: 33.33%;
		}

		.c-fit-scales__col--min-max {
			font-size: .75rem;
			line-height: 1.125rem;
			font-family: $font_second;
		}
		.c-fit-scales__line-wrapper {
			height: .3125rem;
			position: relative;
		}
		.c-fit-scales__dot {
			background-color: #3A2E2C;
			border-radius: 50%;
			height: .3125rem;
			position: absolute;
			width: .3125rem;
			z-index: 10;
		}
		.c-fit-scales__line {
			background-color: #E5E5E5;
			height: .0625rem;
			margin: .125rem 0;
			position: absolute;
			width: 100%;
		}
	}

	.c-reviews {
		&__inner {
			@include minBreakpoint($small_desktop) {
				margin-top: 7.3125rem;
			}
		}

		&__inner-measure {
			@include minBreakpoint($mobile) {
				padding-bottom: 3.3125rem;
			}
			@include minBreakpoint($small_desktop) {
				margin: 0 auto;
				width: 47.75rem;
			}
		}

		&__sort-wrapper {
			-ms-flex-align: start;
			align-items: flex-start;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: justify;
			justify-content: space-between;
			margin-bottom: 2.375rem;

			@include minMaxBreakpoint($mobile, $small_desktop) {
				margin-bottom: 3.5625rem;
				margin-top: 3.3125rem;
			}
		}

		&__count {
			-ms-flex-preferred-size: auto;
			flex-basis: auto;
			-ms-flex-positive: 1;
			flex-grow: 1;
			-ms-flex-negative: 0;
			flex-shrink: 0;
			font-size: .875rem;
			line-height: 1.25rem;

			@include minBreakpoint($mobile) {
				font-size: 1.125rem;
				line-height: 1.5rem;
			}
		}

		&__btns {
			@include minMaxBreakpoint($mobile, $small_desktop) {
				margin-top: 1.8125rem;

				.btn {
					max-width: 11.5625rem;
				}

				.o-box:first-child {
					display: -ms-flexbox;
					display: flex;
					-ms-flex-pack: end;
					justify-content: flex-end;
				}
			}

			@include breakpoint($mobile) {
				margin: 1.375rem 0;
			}
		}
	}


	.c-review {
		-ms-flex-pack: justify;
		justify-content: space-between;

		&:not(:last-child) {
			@include minBreakpoint($phablet) {
				margin-bottom: 5rem;
			}
		}

		&__heading {
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 1.5rem;
			margin-bottom: 1.3125rem;
			margin-top: 0;
			color: #3A2E2C;

			@include minBreakpoint($mobile) {
				font-size: 1.875rem;
				line-height: 1.875rem;
				margin-bottom: 2.0625rem;
			}

			@include minBreakpoint($small_desktop) {
				margin-bottom: 1.6875rem;
			}
		}

		&__stars {
			margin-bottom: .3125rem;
			margin-top: .4375rem;
			color: #3A2E2C;
			display: inline-block;
			white-space: nowrap;

			svg {
				fill: #3A2E2C;
				height: 1.125rem;
				width: 1.375rem;

				&:not(:last-child) {
					margin-right: .0625rem;
				}
			}
		}

		&__top-row {
			@include minMaxBreakpoint($mobile, $small_desktop) {
				margin-bottom: 3.375rem;
			}
		}

		&__row-wrapper {

			@include minBreakpoint($small_desktop) {
				margin-top: 2.6875rem;
			}
		}

		&__body {
			font-size: .875rem;
			line-height: 1.25rem;
			margin: 1.25rem 0 2.5rem;

			@include minBreakpoint($mobile) {
				font-size: 1.125rem;
				line-height: 1.875rem;
				margin: 1.25rem 0 1.875rem;
			}

			@include minBreakpoint($small_desktop) {
				margin-top: 0;
			}
		}

		&__occasions-heading {
			font-size: .875rem;
			line-height: 1.25rem;
			color: #767676;
			margin: 0 0 .5rem;
		}

		&__occasions-body {
			font-size: .75rem;
			line-height: 1.5rem;
			margin: 0 0 1.5rem;
			font-family: $font_second;
		}

		.c-review-feedback {
			background: #F5F3F5;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			padding: 1.25rem .9375rem .9375rem;

			@include minBreakpoint($mobile) {
				padding: 1.125rem 1.875rem;
			}

			> * {
				-ms-flex-item-align: center;
				-ms-grid-row-align: center;
				align-self: center;
			}

			&:last-child {
				border-bottom: 1px solid #D8D5D5;
			}

			&__title {
				font-size: .875rem;
				line-height: 1.25rem;
				-ms-flex-preferred-size: 100%;
				flex-basis: 100%;
				font-weight: 400;

				@include minBreakpoint($phablet) {
					-ms-flex-preferred-size: auto;
					flex-basis: auto;
					position: relative;
					top: 2px;
				}
			}

			& > :not(:last-child) {
				margin-right: 1.125rem;
			}

			&__btn {
				border: 1px solid #7F7776;
				font-size: .75rem;
				line-height: 1;
				min-width: 5rem;
				padding: .375rem .625rem;
				text-align: center;
				background-color: transparent;
				border-radius: 0;
				font-family: $font_second;

				@include minBreakpoint($phablet) {
					min-width: 6.875rem;
				}
			}

			.u-link {
				margin-left: auto;
			}
		}
	}

	.c-delimited-list {
		&.large-spacing {
			@include minBreakpoint($small_desktop) {
				margin-left: 3.375rem;
				width: 11.1875rem;
			}
		}
		&__item {
			font-size: .75rem;
			line-height: 1.125rem;
			font-family: $font_second;

			@include minBreakpoint($small_desktop) {
				line-height: 1.875rem;
			}

			&:not(:first-child) {
				border-left: 1px solid #E5E5E5;
				margin-left: .6875rem;
				padding-left: .6875rem;
			}
		}
	}
}

/*Ürün detay section layout css*/
.product-detail-section {
	border-top: 1px solid #D8D5D5;
	background-color: $white;
	padding-bottom: 1.25rem;
	padding-top: 2.5rem;
	position: relative;
	z-index: 11;

	@include minBreakpoint($mobile) {
		padding: 5rem 0 3.75rem;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	@include minBreakpoint($mobile) {
		padding-bottom: 1.75rem;
	}

	@include minBreakpoint($small_desktop) {
		padding-bottom: 2.5rem;
	}

	.product-detail-section-title {
		font-size: 1.875rem;
		font-weight: 700;
		line-height: 1.875rem;
		margin-bottom: 1.3125rem;

		@include minBreakpoint($mobile) {
			font-size: 2.25rem;
			font-weight: 700;
			line-height: 2.25rem;
		}

		@include minBreakpoint($small_desktop) {
			font-size: 3rem;
			font-weight: 700;
			line-height: 3rem;
		}
	}

	&.collection-wrapper {
		border: none;
		margin-top: 3.75rem;

		@include minBreakpoint($mobile) {
			margin-top: 2.5rem;
		}

		@include minBreakpoint($small_desktop) {
			margin-top: 3.75rem;
		}
	}
}

.c-complete-the-look {
	&__decoration {
		display: none;

		@include minBreakpoint($phablet) {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate3d(-50%,-50%,0);
			background-color: #FFF;
			background-size: 25px 25px;
			border-radius: 50%;
			content: "";
			display: block;
			height: 4.0625rem;
			width: 4.0625rem;
			z-index: 999;
		}

		@include minBreakpoint($small_desktop) {
			height: 6.25rem;
			width: 6.25rem;
		}

		.c-icon {
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate3d(-50%,-50%,0);
			height: 1.5625rem;
			width: 1.5625rem;

			@include minBreakpoint($small_desktop) {
				height: 2.8125rem;
				width: 2.8125rem;
			}
		}
	}

	&__wrapper {
		background-color: #EFECF0;

		&--elevated {
			display: none;
			@include minBreakpoint($phablet) {
				display: block;
			}
		}
		.custom-flex-direction-nav {
			right: 1.25rem;
			bottom: 1.25rem;
			display: none;

			@include minBreakpoint($mobile) {
				display: block;
			}
		}

		.c-product-tile {
			&__product-name {
				opacity: 1;
				order: -2;
			}

			&-info__item {
				order: -1;
			}
		}
	}
}

.c-carousel-complete-the-look {
	background-color: #EFECF0;

	.c-product-tile {
		padding: 0;
	}
	.c-product-tile__inner {
		padding: 0 15%;
	}
	&__footer {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0 1.5625rem .75rem;
		padding: 0;
		width: calc(100% - 3.125rem);

		@include minBreakpoint($mobile) {
			margin: 0 1.25rem 1.25rem;
		}

		@include minBreakpoint($phablet) {
			width: calc(100% - 2.5rem);
		}

		@include minBreakpoint($small_desktop) {
			-ms-flex-align: end;
			align-items: flex-end;
		}
	}

	.flex-direction-nav {
		display: none;
	}

	.flex-control-nav {
		position: absolute;
		right: 1.25rem;
		bottom: 1.25rem;

		@include minBreakpoint($mobile) {
			right: 0;
			left: 0;
			text-align: center;
			bottom: 1.25rem;
		}

		@include minBreakpoint($phablet) {
			left: 0;
			right: 0;
			bottom: -2.125rem;
			text-align: center;
		}


		li {
			display: inline-block;
		}
	}

	&__btn-wrapper {
		margin-bottom: .9375rem;
		-ms-flex-order: -3;
		order: -3;
		text-align: center;
		width: 100%;

		@include minBreakpoint($phablet) {
			margin-bottom: .5625rem;
		}

		@include minBreakpoint($tablet) {
			margin-bottom: .9375rem;
		}
	}
}