/*Product list item css*/
.product-item {
	&__discount {
		color: #C60A00;
		padding-left: .1875rem;
	}
}

.c-product-tile {
	padding-top: .875rem;
	@include minBreakpoint($mobile) {
		padding-top: 1.125rem;
	}
	@include minBreakpoint($small_desktop) {
		padding-top: 1.25rem;
	}

	&:hover {
		.c-product-tile__product-name {
			opacity: 1;
		}
		&:not(.c-product-tile--no-image-zoom) .c-picture {
			transform: scale(1.05);
		}
	}

	&:not(.c-product-tile--no-animations) {
		animation-duration: .6s;
		animation-name: a-fade-in-up;
		animation-timing-function: cubic-bezier(.19,1,.22,1);
		list-style: none;
	}

	&__inner {
		position: relative;

		@include breakpoint($mobile) {
			padding-bottom: 3.125rem;
		}
	}
	&__link-product {
		display: block;
		max-height: 100%;
	}

	&__content-wrapper {
		position: relative;
		display: block;
		overflow: hidden;

		&::before {
			content: "";
			display: block;
			padding-top: 127%;
		}
	}

	&__footer {
		font-size: .875rem;
		font-weight: 400;
		line-height: .875rem;
		bottom: 0;
		color: #3A2E2C;
		display: block;
		outline: 0;
		position: absolute;

		@include minBreakpoint($mobile) {
			left: 10px;
		}
	}

	&:not(.c-product-tile--has-cta) .c-product-tile__footer {
		bottom: 8px;
	}

	&__content {
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		transition: transform 1s cubic-bezier(.19,1,.22,1),background .4s ease-out .6s;
	}

	&__product-name {
		font-size: .875rem;
		line-height: 1.125rem;
		margin: 0;
		font-weight: 300;
		transition: opacity 1s cubic-bezier(.19,1,.22,1);

		@include minBreakpoint($mobile) {
			opacity: 0;
		}
	}

	img {
		width: 100%;
	}

	.c-favourites-btn {
		z-index: 999;
	}
}

.c-product-list {
	&-item {
		&-edit {
			&__product-options {
				-ms-flex-preferred-size: 100%;
				flex-basis: 100%;
				-ms-flex-positive: 0;
				flex-grow: 0;
				-ms-flex-negative: 0;
				flex-shrink: 0;
				margin-top: -.9375rem;
			}

			&__button--cancel {
				font-size: .75rem;
				line-height: .75rem;
				margin: 1.25rem auto;
			}
		}
	}
}