/**
	Search css
 */

.c-navigation__search{
	&.c-search-input {
		background: #F5F3F5;
		left: 0;
		opacity: 0;
		position: absolute;
		top: calc(-100% - 100px);
		transition: top .4s cubic-bezier(.19,1,.22,1);
		width: 100vw;
		z-index: 40;
		padding: .9375rem;

		&--is-active {
			background-color: #F5F3F5;
			opacity: 1;
			top: 0;
			z-index: 9999;

			@include minBreakpoint($mobile) {
				padding: 1.875rem 2.8125rem 2.8125rem;
			}

			@include minBreakpoint($small_desktop) {
				padding-left: 6.125rem;
				padding-right: 6.125rem;
			}
		}

		.c-search-input__wrapper {
			position: relative;

			@include breakpoint($mobile) {
				padding-top: 1.5625rem;
			}

			.o-close-button {
				position: absolute;
				right: 0;
				top: 0;
				z-index: 999;
				color: $black;

				.c-icon {
					height: .9375rem;
					width: .9375rem;
				}
			}

			.form-field {
				.c-icon {
					content: "";
					display: block;
					height: 5.3125rem;
					left: 0;
					position: absolute;
					top: 0;
					width: .9375rem;

					@include minBreakpoint($mobile) {
						width: 1.3125rem;
					}
					@include minBreakpoint($small_desktop) {
						height: 6rem;
					}
				}

				input[type="text"] {
					padding-left: 1.5625rem;

					@include minBreakpoint($mobile) {
						padding-left: 2.5625rem;
					}
				}

				.field-name {
					color: #3A2E2C;
					left: 1.5625rem;
					@include minBreakpoint($mobile) {
						left: 2.5625rem;
					}
				}
			}
		}
	}
}