/**
	Create account css
 */
.signup-top {
	background-color: rgb(239, 236, 240);
	padding-top: 3.75rem;
	padding-bottom: 1.25rem;

	.page-header {
		padding: 0;
	}

	@include minBreakpoint($small_desktop) {
		padding: 7.125rem 0 2.75rem ;
	}

	@include minBreakpoint($phablet) {
		padding: 8.125rem 0 6.75rem;
	}

	@include minBreakpoint($mobile) {
		padding-top: 3.75rem;
	}

	.title {
		padding-bottom: 0.5rem;

		@include minBreakpoint($mobile) {
			padding-bottom: 1.5rem;
		}
	}

	p {
		font-size: .875rem;
		line-height: 1.25rem;

		@include minBreakpoint($mobile) {
			font-size: 1.25rem;
		}

		&.small-p {
			font-size: 1rem;
		}
	}

	.btn {
		@include breakpoint($phablet) {
			margin-bottom: 1.125rem;
		}
		@include minBreakpoint($phablet) {
			margin-right: 1.125rem;
		}
	}
}

.signup-content {
	.signup-agreement {
		margin-top: 2.1875rem;
		width: 100%;

		.checkbox-label {
			margin-bottom: 1.25rem;;
		}
	}

	.signup-legal {
		font-size: .75rem;
		line-height: 1.125rem;
		color: #767676;
		margin-top: 2.5rem;
	}
}