/*yıldız css*/

.star-block {
	&.large {
		svg {
			height: 1.1875rem;
			width: 1.1875rem;
			margin-right: .0625rem;

			@include minBreakpoint($mobile) {
				height: 1.25rem;
				width: 1.25rem;
			}

			@include minBreakpoint($small_desktop) {
				height: 2rem;
				width: 2rem;
			}
		}

		.star-list {
			display: inline-block;
			vertical-align: middle;
			margin-right: .5rem;

			@include minBreakpoint($mobile) {
				margin-right: .75rem;
			}

			@include minBreakpoint($small_desktop) {
				height: 2.5rem;
				margin-right: 1.375rem;
			}
		}

		.star-count {
			display: inline-block;
			vertical-align: middle;
			color: #3A2E2C;
			font-size: 1.5rem;
			line-height: 1.5rem;

			@include minBreakpoint($mobile) {
				font-size: 1.875rem;
				line-height: 1.875rem;
			}

			@include minBreakpoint($small_desktop) {
				font-size: 2.5rem;
				line-height: 2.5rem;
			}
		}
	}
}