mixin logo(logoColor, classes)
    <svg class=#{classes} fill=#{logoColor} aria-hidden="false" aria-labelledby="Aldo-icon" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 73.8"> <text class="c-icon--title" id="Aldo-icon">Aldo</text><path role="presentation" d="M384.9,10.1C376.2,3.6,364.1,0,352,0h-3.2c-12.1,0-24.2,3.6-32.9,10.1c-9.4,7-15.1,16.5-15.1,26.8s5.7,19.8,15.1,26.8 c8.7,6.5,20.8,10.1,32.9,10.1h3.2c12.1,0,24.2-3.6,32.9-10.1c9.4-7,15.1-16.5,15.1-26.8S394.3,17.1,384.9,10.1z M352,58.5h-3.2 c-16.8,0-30.2-10.2-30.2-21.6c0-11.5,13.4-21.6,30.2-21.6h3.2c16.8,0,30.2,10.2,30.2,21.6C382.2,48.4,368.8,58.5,352,58.5z M245.9,1.9h-43.4v70h43.4c27.1,0,45.6-15,45.6-35S273.2,1.9,245.9,1.9z M245.9,56.7h-26V17.1h26c18.3,0,27.1,8.5,27.1,19.8 C272.9,48.2,264.2,56.7,245.9,56.7z M130.5,2h-17.2v69.9h76.3V56.7h-59.1V2z M0,72h19.1l7.7-10.8h50.4L84.9,72h19.2L52,0.4L0,72z  M37.3,46.7L52,26.1l14.7,20.5H37.3V46.7z"></path></svg>

mixin icon-facebook()
    <svg aria-hidden="true" aria-labelledby="Facebook-icon" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><text class="c-icon--title" id="Facebook-icon">Facebook</text><path role="presentation" d="M150,400h75V216.6h69.9L300,150h-75v-50c0-19.5,3.7-33.4,29.1-33.4h43.2L300,3.7c0,0-21.7-3.7-50-3.7 c-70.3,0-100,44.5-100,91.6V150h-50v66.6h50V400z" data-reactid="1792"></path></svg>

mixin icon-twitter()
    <svg aria-hidden="true" aria-labelledby="Twitter-icon" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><text class="c-icon--title" id="Twitter-icon">Twitter</text><path role="presentation" d="M400,75.8c-14.8,6.6-30.5,11.1-47.3,13.1c17.2-10.2,30.1-26.4,36.1-45.5c-15.6,9.4-33.4,16.2-51.8,19.9 c-15.4-15.6-36.7-25.8-60.4-25.8c-45.3,0-81.8,36.5-81.8,81.8c0,6.5,0.4,13.1,1.8,19c-68-3.7-128.1-34.6-168.9-84.2 c-6.8,12.1-11.1,24.6-11.1,39.8c0,28.1,14.4,53.1,36.7,68c-13.5-0.4-26-4.1-37.1-10.2c0,0.6,0,0.6,0,1c0,39.8,28.3,73.1,65.8,80.5 c-7,2-14.5,2.9-21.9,2.9c-5.1,0-10.2-0.6-15.2-1.5c10.2,32.4,40.8,56.6,76.4,57c-27.7,22.2-63.5,38.8-101.8,38.8 c-6.6,0-13.1-0.4-19.5-1.4c36.1,23.2,79.7,33.4,126,33.4c150.8,0,233.2-125,233.2-233.4c0-3.7,0-7.1,0-10.8 C375,106.8,388.9,92.6,400,75.8z" data-reactid="1798"></path></svg>

mixin icon-instagram()
    <svg aria-hidden="true" aria-labelledby="Instagram-icon" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><text class="c-icon--title" id="Instagram-icon">Instagram</text><g role="presentation" data-reactid="1804"><path d="M200,36c53.4,0,59.7,0.2,80.8,1.2c19.5,0.9,30.1,4.1,37.1,6.9c9.3,3.6,16,8,23,15c7,7,11.3,13.7,15,23c2.7,7,6,17.6,6.9,37.1c1,21.1,1.2,27.4,1.2,80.8s-0.2,59.7-1.2,80.8c-0.9,19.5-4.1,30.1-6.9,37.1c-3.6,9.3-8,16-15,23c-7,7-13.7,11.3-23,15c-7,2.7-17.6,6-37.1,6.9c-21.1,1-27.4,1.2-80.8,1.2s-59.7-0.2-80.8-1.2c-19.5-0.9-30.1-4.1-37.1-6.9c-9.3-3.6-16-8-23-15c-7-7-11.3-13.7-15-23c-2.7-7-6-17.6-6.9-37.1c-1-21.1-1.2-27.4-1.2-80.8s0.2-59.7,1.2-80.8c0.9-19.5,4.1-30.1,6.9-37.1c3.6-9.3,8-16,15-23c7-7,13.7-11.3,23-15c7-2.7,17.6-6,37.1-6.9C140.3,36.2,146.6,36,200,36 M200,0c-54.3,0-61.1,0.2-82.5,1.2c-21.3,1-35.8,4.4-48.5,9.3c-13.2,5.1-24.3,11.9-35.4,23.1C22.4,44.7,15.6,55.8,10.5,69c-4.9,12.7-8.3,27.3-9.3,48.5C0.2,138.9,0,145.7,0,200c0,54.3,0.2,61.1,1.2,82.5c1,21.3,4.4,35.8,9.3,48.5c5.1,13.2,11.9,24.3,23.1,35.4c11.1,11.1,22.3,18,35.4,23.1c12.7,4.9,27.3,8.3,48.5,9.3c21.3,1,28.1,1.2,82.5,1.2s61.1-0.2,82.5-1.2c21.3-1,35.8-4.4,48.5-9.3c13.2-5.1,24.3-11.9,35.4-23.1c11.1-11.1,18-22.3,23.1-35.4c4.9-12.7,8.3-27.3,9.3-48.5c1-21.3,1.2-28.1,1.2-82.5s-0.2-61.1-1.2-82.5c-1-21.3-4.4-35.8-9.3-48.5c-5.1-13.2-11.9-24.3-23.1-35.4c-11.1-11.1-22.3-18-35.4-23.1c-12.7-4.9-27.3-8.3-48.5-9.3C261.1,0.2,254.3,0,200,0L200,0L200,0z" data-reactid="1805"></path><path d="M200,97.3c-56.7,0-102.7,46-102.7,102.7s46,102.7,102.7,102.7s102.7-46,102.7-102.7S256.7,97.3,200,97.3L200,97.3zM200,266.7c-36.8,0-66.7-29.8-66.7-66.7c0-36.8,29.8-66.7,66.7-66.7c36.8,0,66.7,29.8,66.7,66.7C266.7,236.8,236.8,266.7,200,266.7L200,266.7z" data-reactid="1806"></path><path d="M330.8,93.2c0,13.3-10.7,24-24,24c-13.3,0-24-10.7-24-24s10.7-24,24-24C320,69.2,330.8,80,330.8,93.2L330.8,93.2z" data-reactid="1807"></path></g></svg>

mixin icon-youtube()
    <svg aria-hidden="true" aria-labelledby="Youtube-icon" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><text class="c-icon--title" id="Youtube-icon">Youtube</text><path role="presentation" d="M200,53.8C0,53.8,0,53.8,0,200c0,146.2,0,146.2,200,146.2c200,0,200,0,200-146.2C400,53.8,400,53.8,200,53.8z M150,277.5 V122.6L275,200L150,277.5z" data-reactid="1813"></path></svg>

mixin icon-pinterest()
    <svg aria-hidden="true" aria-labelledby="Pinterest-icon" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><text class="c-icon--title" id="Pinterest-icon">Pinterest</text><path role="presentation" d="M400,199.5C400,89,311,0,200.5,0C90,0,1,89,1,199.5c0,81.8,48.9,151.9,119.6,182.9c-1-13.9-0.4-31,3.3-45.8 c3.5-16.6,25.7-108.9,25.7-108.9s-6.4-12.5-6.4-31.6c0-29.4,17.1-51.6,38.4-51.6c17.9,0,26.7,13.4,26.7,30 c0,17.9-11.5,45.2-17.5,70.7c-5.1,21.2,10.7,38.2,31.4,38.2c38,0,63.3-48.3,63.3-105.6c0-44-29-76.8-82.6-76.8 c-60.6,0-98.4,45.2-98.4,95.6c0,17.6,5.1,29.4,12.9,39.2c3.7,4.3,4.7,6,3.3,11.1c-1,3.7-3.3,12.5-4.1,15.8 c-1.6,5.1-5.6,6.8-10.3,5.1c-27.7-11.1-40.5-41.7-40.5-76.2C65.7,134.8,113.2,67,208.3,67c75.8,0,126.1,55.4,126.1,114.6 c0,77.9-43.3,136.6-107.5,136.6c-21.6,0-42.1-11.5-48.9-24.9c0,0-11.5,46.2-13.8,54.9c-4.3,15.2-12.5,30.6-20.5,42.5 c18.1,5.7,37,8.4,56.9,8.4C311,399,400,310,400,199.5z" data-reactid="1819"></path></svg>

mixin icon-signIn()
    <svg aria-hidden="false" aria-labelledby="signin-icon" class="c-icon" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 400" data-reactid="690"><text class="c-icon--title" id="medium-header-signin-icon">User</text><g role="presentation"><path d="M200,14.1c13.6,0.1,25.4,2.8,35,8c8,4.3,14.8,10.6,20.2,18.5c11.6,17.2,13.7,38.2,14.1,46.4l0,0.3l0,0.3 c0,0.2,1.4,15.7-1.1,35.5c-2.2,17.6-7.9,42.1-22.7,58.5c-11.3,12.5-26.2,18.6-45.5,18.8c-19.3-0.2-34.2-6.4-45.5-18.8 c-28.9-31.9-23.9-93.4-23.9-94l0-0.3l0-0.3c0.4-8.2,2.5-29.2,14.1-46.4c5.4-7.9,12.1-14.2,20.2-18.5C174.6,16.9,186.4,14.2,200,14.1 M200,0.1c-68.4,0.4-82,58-83.3,86.3c0,0-11.4,127.1,83.3,128c94.7-0.9,83.3-128,83.3-128C282,58.1,268.4,0.5,200,0.1L200,0.1z" data-reactid="693"></path><path d="M364.3,294.5c-11.5-20.2-33.3-34.5-61.4-40.2c-19.7-4-35.1-16.9-39.7-27c-1.6-3.5-5.7-5.1-9.3-3.5c-3.5,1.6-5.1,5.7-3.5,9.3 c7.3,16.1,27.7,30.5,49.7,35c24,4.9,42.5,16.7,52,33.4c7.8,13.6,9,29.4,3.6,45.8c-1.6,2-8.8,9.6-27.9,17.6 c-37.2,15.5-90,20.1-127.8,21.2c-122.2-3.6-152.1-34.5-155.7-38.8c-5.4-16.4-4.2-32.2,3.6-45.8c9.5-16.6,28-28.5,52-33.4 c22-4.5,42.4-18.8,49.7-35c1.6-3.5,0-7.7-3.5-9.3c-3.5-1.6-7.7,0-9.3,3.5c-6.1,13.6-25,24-39.7,27c-28.1,5.7-49.9,20-61.4,40.2 c-10,17.5-11.5,37.6-4.3,58.3l0.2,0.7l0.4,0.6c0.7,1.2,7.7,11.8,32.2,22.5c31.6,13.8,77.2,21.6,135.5,23.3c0.1,0,0.1,0,0.2,0 c0,0,0,0,0,0c0,0,0,0,0,0s0,0,0,0c0,0,0,0,0,0c0.1,0,0.1,0,0.2,0c58.3-1.7,103.9-9.5,135.5-23.3c24.5-10.7,31.5-21.3,32.2-22.5 l0.4-0.6l0.2-0.7C375.7,332.1,374.2,311.9,364.3,294.5z"></path></g></svg>

mixin icon-search()
    <svg aria-hidden="true" aria-labelledby="search-icon" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><text class="c-icon--title" id="search-icon">Search</text><g role="presentation"><path d="M306,156.3C306,73.7,239,6.7,156.4,6.7C73.8,6.7,6.7,73.7,6.7,156.3c0,82.6,67,149.6,149.6,149.6S306,239,306,156.3z M156.3,283.5c-70.2,0-127.1-56.9-127.1-127.1c0-70.2,56.9-127.2,127.1-127.2c70.2,0,127.1,56.9,127.1,127.1 C283.4,226.5,226.5,283.5,156.3,283.5z"></path><rect height="152.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -137.0816 330.9811)" width="23.5" x="319.3" y="254.6"></rect></g></svg>

mixin icon-arrow-down()
    <svg aria-hidden="true" class="c-icon icon-arrow" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M323.7 141.8c0-3-1.1-5.7-3.1-7.7-2.1-2.1-5-3.2-8.2-3.2-2.4 0-4.8.9-7.1 2.7l-.7.7-90.3 92.7-7.2 7.4-7.2 7.4-7.2-7.4-7.2-7.4-90.3-92.7-.7-.7c-2.3-1.8-4.7-2.7-7.1-2.7-3.2 0-6.1 1.1-8.2 3.2-2 2-3.1 4.7-3.1 7.7s1.1 5.7 3.2 8.1l111.3 115.7.2.3.2.3.2.3.1.1c1.6 1.4 4.9 2.7 8.4 2.7s6.8-1.3 8.4-2.7l.1-.1.2-.3.2-.3.2-.3 111.3-115.7c2.5-2.4 3.6-5.1 3.6-8.1z"></path></svg>

mixin icon-favourites()
    <svg aria-hidden="false" class="c-icon c-icon-favourites" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M353.8,31.5c-20.8-11.2-39.9-15.5-57.2-15.5c-60.1,0-96.8,52.7-96.8,52.7s-36.7-52.7-96.8-52.7c0,0,0,0,0,0l0,14 c21.4,0,42.2,7.7,61.6,22.8c15.1,11.8,23.6,23.8,23.7,23.9l11.5,16.5l11.5-16.5c0.3-0.5,33.1-46.7,85.3-46.7 c16.5,0,33.5,4.7,50.5,13.8c23.6,12.7,36.1,29.6,38.5,51.8c4.4,41.9-27.1,102.7-91,176c-37.4,42.9-76.1,78.5-93.2,93.7 c-17.2-15.1-56.3-50.7-94.2-93.7c-65-73.5-97-134.5-92.7-176.4c2.3-22,14.7-38.8,38.2-51.4c17.1-9.2,34.1-13.8,50.5-13.8l0-14 c-17.2,0-36.4,4.3-57.2,15.5c-161.6,86.9,155.5,352.4,155.5,352.4S515.4,118.4,353.8,31.5z"></path></svg>

mixin icon-cart()
    <svg aria-hidden="false" aria-labelledby="medium-shopping-bag-solid-icon" class="c-icon c-icon-cart" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 300 400"><text class="c-icon--title" id="medium-shopping-bag-solid-icon">Shopping bag</text><g role="presentation"><path d="M203.1,0C147.3,0,102,46.9,102,104.6a6.3,6.3,0,1,0,12.6,0c0-50.5,39.7-91.5,88.5-91.5s88.5,41.1,88.5,91.5a6.3,6.3,0,1,0,12.6,0C304.2,46.9,258.8,0,203.1,0Z" transform="translate(-49)"></path><path d="M334.6,165.2a29.81,29.81,0,0,0-29.7-29.9H101.3c-16.4,0-29.7,13.4-29.7,29.1L49,370.1A29.81,29.81,0,0,0,78.7,400H327.6c16.4,0,29.7-13.4,29.7-30.7Z" transform="translate(-49)"></path></g></svg>

mixin icon-close()
    <svg aria-hidden="false" aria-labelledby="message-bar-icon" class="c-icon c-icon-close" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 400"><text class="c-icon--title" id="message-bar-icon">Dismiss promotion banner</text><path role="presentation" d="M393.1,359.4L233.5,200L393.2,40.5c4.4-4.4,6.8-10.3,6.8-16.6c0-6.3-2.5-12.2-7-16.6c-4.4-4.4-10.6-7-16.8-7c-6.3,0-12.2,2.4-16.4,6.8L200,166.7L40.3,7.3c-4.4-4.4-10.4-6.9-16.7-6.9S11.3,2.8,6.9,7.3c-9.3,9.3-9.2,23.9,0.2,33.2l159.7,159.3L7.1,359.4c-4.5,4.5-7,10.5-7,16.9c0,6.2,2.4,12.1,6.9,16.5c4.4,4.4,10.4,6.9,16.7,6.9c6.2,0,12.1-2.4,16.7-6.9l159.9-159.5l159.5,159.3c4.5,4.5,10.5,7,16.8,7c6.1,0,12.1-2.5,16.4-6.8c4.4-4.4,6.9-10.3,6.9-16.5C400,370,397.6,364,393.1,359.4z"></path></svg>

mixin icon-detail()
    <svg aria-hidden="false" aria-labelledby="details-icon" class="c-icon c-icon-detail" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 400"><text class="c-icon--title" id="Promotion details-icon">Promotion details</text><path role="presentation" d="M200 2C89.4 2 0 90.6 0 200.2c0 109.3 89.4 198.2 200 198.2 110.5 0 200-88.8 200-198.2C400 90.6 310.5 2 200 2zm0 375.3c-98.7 0-178.8-79.3-178.8-177.1S101.3 23 200 23c98.7 0 178.8 79.4 178.8 177.2 0 97.8-80.1 177.1-178.8 177.1zm2.3-269.2c-27.9 0-48.4 18-52.4 46.8l24.4 2.5c1.6-16.6 11.9-28.1 27.5-28.1 14.7 0 25.2 11.8 25.2 26.5s-11.5 25.1-21.7 34.8c-15 14.5-16.8 20.5-16.8 35.2v14.9h22.8v-11c0-13.5 1.6-16.8 11.9-27.1l16.6-17.8c6.3-8.5 10-17.4 10-30.2.2-26.2-17.6-46.5-47.5-46.5zm13.1 167.3c0-9.1-6.6-16.4-15.8-16.4-9.2 0-15.6 7.3-15.6 16.4 0 9.1 6.5 16.7 15.6 16.7 9.2 0 15.8-7.6 15.8-16.7z"></path></svg>

mixin icon-like()
    <svg aria-hidden="true" class="c-icon c-icon-like" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M201.4,383.9c0,0-317.1-265.5-155.5-352.4c93.2-50.1,153.9,37.2,153.9,37.2s60.7-87.3,153.9-37.2 C515.4,118.4,201.4,383.9,201.4,383.9"></path></svg>

mixin icon-arrow-left()
    <svg aria-hidden="false" class="c-icon c-icon-arrow-left" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 400" data-reactid="1483"><text class="c-icon--title" id="editorial-top-story-controls-bck-btn-icon" data-reactid="1484">Previous feature</text><path role="presentation" d="M100,200c0,2,0.8,3.7,2,4.9l185.7,193c1.4,1.4,3.1,2.1,5.3,2.1c3.9,0,7-3.1,7-7.2c0-1.8-0.8-3.5-2-4.9L117,200L298,12.1 c1.2-1.4,2-3.1,2-4.9c0-4.1-3.1-7.2-7-7.2c-2.1,0-3.9,0.8-5.3,2.1L102,195.1C100.8,196.3,100,198,100,200z"></path></svg>

mixin icon-arrow-right()
    <svg aria-hidden="false" class="c-icon c-icon-arrow-right" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 400" data-reactid="1487"><text class="c-icon--title" id="editorial-top-story-controls-fwd-btn-icon" data-reactid="1488">Next feature</text><path role="presentation" d="M298,195.1L112.3,2.1C110.9,0.8,109.2,0,107,0c-3.9,0-7,3.1-7,7.2c0,1.8,0.8,3.5,2,4.9L283,200L102,387.9 c-1.2,1.4-2,3.1-2,4.9c0,4.1,3.1,7.2,7,7.2c2.1,0,3.9-0.8,5.3-2.1l185.7-193c1.2-1.2,2-2.9,2-4.9C300,198,299.2,196.3,298,195.1z"></path></svg>

mixin icon-remove()
    <svg aria-hidden="true" class="c-icon c-icon-remove" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><g role="presentation"><path d="M200,14c49.7,0,96.4,19.3,131.5,54.5S386,150.3,386,200s-19.3,96.4-54.5,131.5S249.7,386,200,386s-96.4-19.3-131.5-54.5 S14,249.7,14,200s19.3-96.4,54.5-131.5S150.3,14,200,14 M200,0C89.5,0,0,89.5,0,200s89.5,200,200,200s200-89.5,200-200 S310.5,0,200,0L200,0z"></path><polygon points="100,186.7 100,213.3 300,213.3 300,186.7"></polygon></g></svg>

mixin icon-edit()
    <svg aria-hidden="true" class="c-icon c-icon-edit" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 612 612"><path d="M513.2 21.1c5 0 9.8 2 13.6 5.5l59.8 59.8c7.2 7.7 7.3 19.2.2 26.3l-50.9 50.9-86.3-86.3 50.9-50.9c3.3-3.4 7.9-5.3 12.7-5.3M382.9 143.7l86.3 86.3-299.5 299.7-143.4 57 57.1-143.4 299.5-299.6M513.2 1.1c-9.8 0-19.5 3.7-27 11.2l-65.1 65 114.6 114.6 65.1-65.1c14.9-14.8 14.9-38.9 0-54.4l-60.1-60.1C532.9 4.8 523 1.1 513.2 1.1zM382.9 115.5L68.2 430.2c-1.4 1.4-2.1 2.8-2.8 4.2L1.8 594.3c-1.4 5-.7 10.6 2.8 14.1 2.8 2.2 5.7 3.5 9.2 3.5 1.4 0 2.8 0 4.9-.7l159.9-63.6c1.4-.7 2.8-1.4 4.2-2.8L497.6 230 382.9 115.5z"></path></svg>

mixin icon-zoom()
    <svg aria-hidden="true" class="c-icon c-icon-zoom" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><g role="presentation"><path d="M393.9,385l-97.4-97.4c60.7-65.9,59.1-168.5-4.8-232.4C258.9,22.4,215.9,6,172.9,6v14c41.1,0,79.7,16,108.8,45.1 c29.1,29.1,45.1,67.7,45.1,108.8c0,41.1-16,79.8-45.1,108.8s-67.7,45.1-108.8,45.1c-41.1,0-79.8-16-108.8-45.1 C35,253.7,19,215,19,173.9c0-41.1,16-79.8,45.1-108.8C93.1,36,131.8,20,172.9,20l0-14c0,0,0,0,0,0C129.9,6,87,22.4,54.2,55.2 c-65.6,65.6-65.6,171.9,0,237.5c32.8,32.8,75.8,49.2,118.7,49.2c40.8,0,81.6-14.8,113.7-44.3l97.4,97.4L393.9,385z"></path><polygon points="248.5,166.9 179.9,166.9 179.9,98.4 165.9,98.4 165.9,166.9 97.4,166.9 97.4,180.9 165.9,180.9 165.9,249.5 179.9,249.5 179.9,180.9 248.5,180.9"></polygon></g></svg>

mixin icon-star()
    <svg aria-hidden="true" class="c-icon c-icon-star c-icon-star-full" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M383.7,164.4c2.2-2.4,2.6-6,1.7-9.3c-1.3-3.3-4.3-5.1-7.3-5.1H259.4L207.3,5.6C206,2.3,203,0,200,0c-3,0-6,2.3-7.3,5.6 L140.6,150H21.9c-3,0-6,1.8-7.3,5.1c-0.9,3.2-0.4,6.9,1.7,9.3l90.4,96.7L83.8,390.2c-0.4,3.2,0.9,6.5,3.4,8.4c2.6,1.8,6,1.8,8.6,0 L200,326.4l104.1,72.2c1.3,1,3,1.4,4.3,1.4c1.3,0,3-0.4,4.3-1.4c2.6-1.9,3.9-5.1,3.4-8.4l-22.8-129.2L383.7,164.4z""></path></svg>

mixin icon-plus()
    <svg aria-hidden="true" class="c-icon c-icon-plus" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 405.2 405.2"><polygon role="presentation" points="206.3 198.9 206.3 0 198.7 0 198.7 198.9 0 198.9 0 207.5 198.7 207.5 198.7 405.2 206.3 405.2 206.3 207.5 405.2 207.5 405.2 198.9 206.3 198.9"></polygon></svg>

mixin icon-check()
    <svg aria-hidden="true" class="c-icon c-icon-check" fill="currentColor" focusable="false" version="1.1" viewBox="0 60 400 270"><path role="presentation" d="M376.6,4.3c-4.7,0 -9.2,1.8 -13.1,5.1l-0.3,0.2l-213.8,206.1l-111.4,-108.5l-0.5,-0.5c-3.9,-3.3 -8.4,-5.1 -13.1,-5.1c-11.1,0 -19.8,8.6 -19.8,19.5c0,5.2 1.9,10 5.5,13.9l0.1,0.1l125.4,121.9c3.6,3.7 8.5,5.7 13.8,5.7c5.2,0 10.1,-2 13.6,-5.5l227.6,-219.2c3.8,-3.8 5.8,-8.7 5.8,-14.2c-0.1,-10.9 -8.7,-19.5 -19.8,-19.5z"></path></svg>

mixin icon-hamburger()
    <svg aria-hidden="false" aria-labelledby="small-header-nav-icon" class="c-icon c-icon-hamburger" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 400 400" data-reactid="34"><text class="c-icon--title" id="small-header-nav-icon" data-reactid="35">Menu</text><path role="presentation" d="M0,55.6v22.2h400V55.6H0z M0,211.1h400v-22.2H0V211.1z M0,344.4h400v-22.2H0V344.4z"></path></svg>

mixin icon-track-order()
    <svg aria-hidden="true" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 400 400"><path role="presentation" d="M400 357.9l-.2-22.4V114.3c0-1.2.4 1 0 0L333.5 56H66L-.1 121.6c-.4 1 0 2.1 0 3.3v232.7l400.1.3zM231.8 70v118.6h-63.2V70h63.2zm153.9 273.5h-372V134.4h118.6v-14.1s-.8 0 0 0H21.9L72 70h82.5v132.8H245V70h83.5l56.1 50.2H267.1v14.1h118.6v209.2zM154.5 255H43.8v14.1h110.6V255h.1zm0 44.3H43.8v14.1h110.6v-14.1h.1z"></path></svg>

























