<!DOCTYPE html>
html
	head
		block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= title
		meta(name="description", content=description ? description : "")
		meta(name="keywords", content=keywords ? keywords : "")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="theme-color", content="#ffffff")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/x-icon", href="assets/dist/img/favicon/favicon.ico")
		// link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")
		// link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")
		// link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")
		link(rel="stylesheet", href="/output/public/dist/css/style.css")

	body.wf-sectra.checkout-page
		include ../common/icons

		main
			block content

		footer.footer.checkout-page--footer
			.footer-container
				.centercontent
					.o-box-12.o-box-8-md-mid.o-box-8-lg.footer-left
						nav.footer-link-list
							ul
								li.footer-link-list-col
									dl
										dd
											.footer-link-list-item
												a(href="#") Help center
											.footer-link-list-item
												a(href="#") Return policy
											.footer-link-list-item
												a(href="#") Chat now
											.footer-link-list-item
												a(href="#") Track my order
											.footer-link-list-item
												a(href="#") Gift card
					.o-box-12.o-box-4-md-mid.o-box-4-lg.footer-right
						nav.footer-link-list
							ul
								li.footer-link-list-col
									dl
										dd
											.footer-link-list-item
												a(href="#")
													img(src="https://www.thesslstore.com/images/imgnortonsiteseal.png").img-responsive
											.footer-link-list-item
												a(href="#")
													<svg aria-hidden="true" aria-labelledby="Verified by Visa-icon" class="c-icon" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 190 81.8"><text class="c-icon--title" id="Verified by Visa-icon">Verified by Visa</text><g role="presentation"><path d="M76.9,43.7L67.4,69.4l-1-5.2C64,57.8,58.9,51.1,52.9,48.4l8.7,33H71.9L87.2,43.8H76.9V43.7Z" fill="#025ea3"></path><polygon points="85 81.4 91.1 43.7 100.8 43.7 94.8 81.4 85 81.4" fill="#025ea3"></polygon><path d="M130.1,44.6a23.22,23.22,0,0,0-8.7-1.6c-9.6,0-16.4,5.1-16.4,12.4-0.1,5.4,4.8,8.4,8.5,10.2s5.1,3,5.1,4.7c0,2.5-3,3.7-5.8,3.7a19.75,19.75,0,0,1-9.2-2l-1.3-.6-1.4,8.4a29.66,29.66,0,0,0,10.8,2c10.2,0,16.9-5.1,16.9-12.9,0-4.3-2.6-7.6-8.2-10.2-3.4-1.7-5.5-2.9-5.5-4.7,0-1.6,1.8-3.2,5.6-3.2a17.49,17.49,0,0,1,7.3,1.4l0.9,0.4,1.4-8h0Z" fill="#025ea3"></path><path d="M155,43.7h-7.5c-2.3,0-4.1.7-5.1,3.1L128,81.3h10.2s1.7-4.6,2-5.7h12.5c0.3,1.3,1.2,5.6,1.2,5.6h9L155,43.7h0ZM143,68c0.8-2.2,3.9-10.5,3.9-10.5s0.8-2.2,1.3-3.6l0.6,3.2L151.1,68H143Z" fill="#025ea3"></path><path d="M58.5,43.7H42.8l-0.1.6C54.9,47.5,63,55.2,66.3,64.2L62.9,46.9c-0.6-2.4-2.3-3.1-4.4-3.2h0Z" fill="#f1a535"></path><polygon points="13.4 34.6 7.2 34.6 0 2.3 6.9 1.2 11.8 26.4 24.2 1.5 30.8 1.5 13.4 34.6" fill="#025ea3"></polygon><path d="M45.6,24.1H30.8c-0.4,4.5,1.7,6.4,5.2,6.4,3,0,5.6-1.1,8.4-2.9v4.5a17.77,17.77,0,0,1-9.6,2.8c-6.4,0-10.7-3.7-9.4-12,1.2-7.5,6.3-12,12.4-12,6.9,0,9.2,5.2,8.2,11.7-0.2.6-.3,1.1-0.4,1.5h0Zm-8.7-9.2c-2.3,0-4.4,1.8-5.4,5.6h9.2c0.1-3.6-1-5.6-3.8-5.6h0Z" fill="#025ea3"></path><path d="M55.3,21.2l-2,13.2H47.6l3.5-23.1H56v4.6c1.9-2.7,4.6-4.9,8.2-5.1v5.7a13.64,13.64,0,0,0-8.9,4.7h0Z" fill="#025ea3"></path><path d="M64.1,34.5l3.5-23.1h5.7L69.8,34.5H64.1Zm7-27a2.68,2.68,0,0,1-2.9-3.2,3.91,3.91,0,0,1,4-3.3A2.7,2.7,0,0,1,75,4.3a3.88,3.88,0,0,1-3.9,3.2h0Z" fill="#025ea3"></path><path d="M89.2,5.1A3.17,3.17,0,0,0,85.7,8l-0.5,3.4h4.4v4.7H84.5L81.7,34.5H76l2.8-18.4H75.5l0.7-4.7h3.3l0.6-4c0.8-5.1,4.3-7,9.1-7a12.14,12.14,0,0,1,2.3.2V5.3a12.14,12.14,0,0,0-2.3-.2h0Z" fill="#025ea3"></path><path d="M89.3,34.5l3.5-23.1h5.7L95,34.5H89.3Zm7-27a2.68,2.68,0,0,1-2.9-3.2,3.91,3.91,0,0,1,4-3.3,2.76,2.76,0,0,1,2.9,3.3,4.07,4.07,0,0,1-4,3.2h0Z" fill="#025ea3"></path><path d="M120.8,24.1H106c-0.4,4.5,1.7,6.4,5.2,6.4,3,0,5.6-1.1,8.4-2.9v4.5a17.77,17.77,0,0,1-9.6,2.8c-6.4,0-10.7-3.7-9.4-12,1.2-7.5,6.3-12,12.4-12,6.9,0,9.2,5.2,8.2,11.7a5.62,5.62,0,0,0-.4,1.5h0Zm-8.7-9.2c-2.3,0-4.4,1.8-5.4,5.6h9.2c0.1-3.6-1.1-5.6-3.8-5.6h0Z" fill="#025ea3"></path><path d="M137.7,34.5V31.3a10.5,10.5,0,0,1-7.6,3.7c-4.8,0-8.1-3.6-6.9-11.4,1.3-8.6,6.6-12.4,12-12.4a14.3,14.3,0,0,1,5.2.9L142.1,1,148,0l-5.3,34.5h-5Zm2-17.7a8.06,8.06,0,0,0-4.3-1c-3,0-5.6,2.4-6.4,7.5-0.7,4.5.9,6.6,3.4,6.6,2.1,0,3.9-1.2,5.7-3.2l1.6-9.9h0Z" fill="#025ea3"></path><path d="M160.2,34.7a19,19,0,0,1-7-1.2L157,9l4.4-.7L159.8,19a7.88,7.88,0,0,1,5.3-2.3c3.7,0,6.2,2.7,5.3,8.6-1,6.4-5,9.4-10.2,9.4h0Zm3.2-14.2c-1.4,0-2.9,1-4.2,2.3L158,30.7a6.84,6.84,0,0,0,2.7.5c2.7,0,4.7-1.7,5.3-5.6,0.5-3.5-.6-5.1-2.6-5.1h0Z" fill="#025ea3"></path><path d="M180.6,35.4c-2.2,4.3-4.4,5.6-7.8,5.6a5.67,5.67,0,0,1-1.6-.2V37.2a10.58,10.58,0,0,0,2,.3,3.45,3.45,0,0,0,3.1-1.8l0.6-1.2-3.7-17.2,4.6-.6,2.1,12.4,5.8-12.2H190l-9.4,18.5h0Z" fill="#025ea3"></path></g></svg>
			.footer-legal
				.centercontent.o-container
					nav.footer-nav
						ul
							li
								a(href="#") Ethical sourcing
							li
								a(href="#") Legal notice
							li
								a(href="#") Privacy policy

					a.footer-logo-wrap(href="index.html")
						+logo('#fff', 'footer-logo')
					.footer-copyright ©2005-2017 The Aldo Group Inc. All rights reserved


		script(type="text/javascript", src="/output/public/dist/js/bundle.js")
		block scripts