<!DOCTYPE html>
html
	head
		block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= title
		meta(name="description", content=description ? description : "")
		meta(name="keywords", content=keywords ? keywords : "")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="theme-color", content="#ffffff")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/x-icon", href="assets/dist/img/favicon/favicon.ico")
		// link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")
		// link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")
		// link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")
		link(rel="stylesheet", href="/output/public/dist/css/style.css")

	body.wf-sectra.checkout-page
		include ../common/icons

		main
			block content

		footer.footer
			.footer-legal
				.centercontent.o-container
					nav.footer-nav
						ul
							li
								a(href="#") Ethical sourcing
							li
								a(href="#") Legal notice
							li
								a(href="#") Privacy policy

					a.footer-logo-wrap(href="index.html")
						+logo('#fff', 'footer-logo')
					.footer-copyright ©2005-2017 The Aldo Group Inc. All rights reserved


		script(type="text/javascript", src="/output/public/dist/js/bundle.js")
		block scripts