<!DOCTYPE html>
html
	head
		block head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title= title
		meta(name="description", content=description ? description : "")
		meta(name="keywords", content=keywords ? keywords : "")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="theme-color", content="#ffffff")
		meta(name="format-detection", content="telephone=no")
		link(rel="shortcut icon", type="image/x-icon", href="assets/dist/img/favicon/favicon.ico")
		// link(rel="apple-touch-icon", href="assets/img/favicon/apple-touch-icon-57x57-precomposed.png")
		// link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicon/apple-touch-icon-72x72-precomposed.png")
		// link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicon/apple-touch-icon-114x114-precomposed.png")
		link(rel="stylesheet", href="/output/public/dist/css/style.css")

	body.wf-sectra
		include ../common/icons
		if (!hideHeaderAndFooter)
			.c-search-input.c-navigation__search
				.c-search-input__wrapper
					a.o-close-button
						+icon-close()
					.form-field
						+icon-search()
						input(type="text" id="search-query")
						label.field-name Search by keyword, style, etc.


			header.header
				.header-container
					.centercontent
						.header-container-top.u-hidden-xs
							.header-container-top-campaign Free shipping to store or on orders over $50
								a.wf-patron(href="#") Learn more
							ul.header-container-top-menu
								li
									a(href="#")
										+icon-signIn()
										| MY ACCOUNT
								li
									a.show-search(href="#")
										+icon-search()
										| SEARCH
								li.language-box
									a.wf-patron(href="#")
										<svg aria-hidden="false" aria-labelledby="region-selector-icon" class="c-icon c-region-selector__icon-flag" fill="currentColor" focusable="false" role="img" version="1.1" viewBox="0 0 640 480"><text class="c-icon--title" id="region-selector-icon">Canada</text><g role="presentation"><path fill="#fff" d="M150.184 0h339.634v480H150.184z"></path><path fill="#bf0a30" d="M-19.632 0h169.817v480H-19.632zm509.45 0h169.816v480H489.819zM200.97 231.947l-13.188 4.507 61.365 53.856c4.64 13.841-1.612 17.921-5.597 25.181l66.62-8.456-1.735 67.042 13.798-.396-3.01-66.486 66.685 7.905c-4.127-8.716-7.8-13.343-3.982-27.28l61.326-51.023-10.732-3.885c-8.775-6.771 3.792-32.61 5.687-48.917 0 0-35.807 12.314-38.154 5.87l-9.12-17.517-32.574 35.784c-3.56.854-5.075-.562-5.91-3.57l15.05-74.78-23.832 13.403c-1.995.853-3.99.117-5.304-2.208l-22.922-45.993-23.635 47.765c-1.78 1.712-3.565 1.91-5.045.747l-22.691-12.73 13.621 74.197c-1.083 2.944-3.678 3.773-6.73 2.179l-31.14-35.379c-4.074 6.527-6.835 17.19-12.22 19.58-5.384 2.238-23.418-4.522-35.505-7.16 4.129 14.902 17.04 39.658 8.869 47.772z"></path></g></svg>
										| (EN)
										+icon-arrow-down()

									.c-popover__inner
										.c-region-selector__link.c-popover__item.c-popover__item--is-active
											.c-region-selector__icon-wrapper.c-region-selector__icon-wrapper--is-active
												<svg aria-hidden="true" class="c-icon c-region-selector__icon-flag" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 640 480"><g role="presentation"><path fill="#fff" d="M150.184 0h339.634v480H150.184z" data-reactid="734"></path><path fill="#bf0a30" d="M-19.632 0h169.817v480H-19.632zm509.45 0h169.816v480H489.819zM200.97 231.947l-13.188 4.507 61.365 53.856c4.64 13.841-1.612 17.921-5.597 25.181l66.62-8.456-1.735 67.042 13.798-.396-3.01-66.486 66.685 7.905c-4.127-8.716-7.8-13.343-3.982-27.28l61.326-51.023-10.732-3.885c-8.775-6.771 3.792-32.61 5.687-48.917 0 0-35.807 12.314-38.154 5.87l-9.12-17.517-32.574 35.784c-3.56.854-5.075-.562-5.91-3.57l15.05-74.78-23.832 13.403c-1.995.853-3.99.117-5.304-2.208l-22.922-45.993-23.635 47.765c-1.78 1.712-3.565 1.91-5.045.747l-22.691-12.73 13.621 74.197c-1.083 2.944-3.678 3.773-6.73 2.179l-31.14-35.379c-4.074 6.527-6.835 17.19-12.22 19.58-5.384 2.238-23.418-4.522-35.505-7.16 4.129 14.902 17.04 39.658 8.869 47.772z""></path></g></svg>
												| Canada

												ul.c-region-selector__language-list
													li.c-region-selector__language-item
														a.wf-patron.link-basic-text Francis

										a.c-region-selector__link.c-popover__item
											<svg aria-hidden="true" class="c-icon c-region-selector__icon-flag" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 640 480"><g role="presentation"><path fill="#fff" d="M150.184 0h339.634v480H150.184z" data-reactid="734"></path><path fill="#bf0a30" d="M-19.632 0h169.817v480H-19.632zm509.45 0h169.816v480H489.819zM200.97 231.947l-13.188 4.507 61.365 53.856c4.64 13.841-1.612 17.921-5.597 25.181l66.62-8.456-1.735 67.042 13.798-.396-3.01-66.486 66.685 7.905c-4.127-8.716-7.8-13.343-3.982-27.28l61.326-51.023-10.732-3.885c-8.775-6.771 3.792-32.61 5.687-48.917 0 0-35.807 12.314-38.154 5.87l-9.12-17.517-32.574 35.784c-3.56.854-5.075-.562-5.91-3.57l15.05-74.78-23.832 13.403c-1.995.853-3.99.117-5.304-2.208l-22.922-45.993-23.635 47.765c-1.78 1.712-3.565 1.91-5.045.747l-22.691-12.73 13.621 74.197c-1.083 2.944-3.678 3.773-6.73 2.179l-31.14-35.379c-4.074 6.527-6.835 17.19-12.22 19.58-5.384 2.238-23.418-4.522-35.505-7.16 4.129 14.902 17.04 39.658 8.869 47.772z""></path></g></svg>
											| America

										a.c-region-selector__link.c-region-selector__popover-link.c-popover__item See all 97 countries
											+icon-arrow-right()


						.u-visible-xs.header-mobile
							a.mobile-menu-button(href="#")
								+icon-hamburger()

							a.mobile-search-icon.show-search(href="#")
								+icon-search()


						//header logo wrap
						.header-logo-wrap
							a(href="#")
								+logo('#3A2E2C', 'header-logo')

						.header-container-bottom
							//header main menu
							nav.header-main-nav.u-hidden-xs
								ul
									li.c-navigation-main-item
										a.c-navigation--primary__title-button(href="#") WOMEN
											+icon-arrow-down()
										<!-- mega menü başlangıç -->
										.c-navigation-mega-menu
											.c-navigation-mega-menu__inner.centercontent
												.o-grid
													.o-box.o-box-12.o-box-4-md-mid.o-box-3-lg.u-hide-sm.c-navigation-mega-menu__featured-area
														.row
															.c-navigation-featured-content
																h2.c-navigation--primary__list-heading
																	a.c-navigation__link(href="#") Shop Women

																.header-nav-slide.megamenu-slider
																	ul.slides
																		-for (var a = 0; a<3; a++)
																			li
																				.c-picture
																					img(src="//media.aldoshoes.com/assets/aldo/2017/44/ca/default/fancyfootwork/web_w_nav_fancyfootwork_400x400.jpg")

																ul.custom-flex-direction-nav.megamenu-slider-nav
																	li
																		a.flex-prev(href="#")
																			+icon-arrow-left
																	li
																		a.flex-next(href="#")
																			+icon-arrow-right

																-for (var a = 0; a<3; a++)
																	.c-navigation-featured-content__footer-wrapper
																		h4.c-navigation-featured-content__heading Fancy footwork #{a}
																		a.link-basic-text.wf-patron Shop the collection


													.u-show-lg.o-box.o-box-1-lg.c-navigation-mega-menu__divider
													.o-box.o-box-12.o-box-8-md-mid.o-box-8-lg
														.o-grid
															-for (var a = 0; a<3; a++)
																ul.c-navigation__list.o-box.o-box-12.o-box-4-md-mid.o-box-3-lg
																	li
																		a.c-navigation--primary__list-heading(href="#") Footwear

																	-for(var i = 0; i < 9; i++)
																		li.c-navigation__list-item
																			a.c-navigation__link(href="#")
																				span.u-btn__content Footwear


															ul.c-navigation__list.o-box.o-box-12.o-box-3-lg
																-for(var i = 0; i < 5; i++)
																	li.c-navigation__list-item--special
																		a.c-navigation--primary__list-heading(href="#") Footwear





									li.c-navigation-main-item
										a.c-navigation--primary__title-button(href="#") MEN
											+icon-arrow-down()
										<!-- mega menü başlangıç -->
										.c-navigation-mega-menu
											.c-navigation-mega-menu__inner.centercontent
												.o-grid
													.o-box.o-box-12.o-box-4-md-mid.o-box-3-lg.u-hide-sm.c-navigation-mega-menu__featured-area
														.row
															.c-navigation-featured-content
																h2.c-navigation--primary__list-heading
																	a.c-navigation__link(href="#") Shop Women

																.header-nav-slide.megamenu-slider
																	ul.slides
																		-for (var a = 0; a<3; a++)
																			li
																				.c-picture
																					img(src="//media.aldoshoes.com/assets/aldo/2017/44/ca/default/fancyfootwork/web_w_nav_fancyfootwork_400x400.jpg")

																ul.custom-flex-direction-nav.megamenu-slider-nav
																	li
																		a.flex-prev(href="#")
																			+icon-arrow-left
																	li
																		a.flex-next(href="#")
																			+icon-arrow-right

																-for (var a = 0; a<3; a++)
																	.c-navigation-featured-content__footer-wrapper
																		h4.c-navigation-featured-content__heading Fancy footwork #{a}
																		a.link-basic-text.wf-patron Shop the collection


													.u-show-lg.o-box.o-box-1-lg.c-navigation-mega-menu__divider
													.o-box.o-box-12.o-box-8-md-mid.o-box-8-lg
														.o-grid
															-for (var a = 0; a<3; a++)
																ul.c-navigation__list.o-box.o-box-12.o-box-4-md-mid.o-box-3-lg
																	li
																		a.c-navigation--primary__list-heading(href="#") Footwear

																	-for(var i = 0; i < 9; i++)
																		li.c-navigation__list-item
																			a.c-navigation__link(href="#")
																				span.u-btn__content Footwear


															ul.c-navigation__list.o-box.o-box-12.o-box-3-lg
																-for(var i = 0; i < 5; i++)
																	li.c-navigation__list-item--special
																		a.c-navigation--primary__list-heading(href="#") Footwear




									li.c-navigation-main-item
										a.c-navigation--primary__title-button(href="#") SALE
											+icon-arrow-down()

										<!-- mega menü başlangıç -->
										.c-navigation-mega-menu.c-navigation-mega-menu--sale.c-navigation-mega-menu--is-sale
											.c-navigation-mega-menu__inner.c-navigation-mega-menu--sale__inner.centercontent
												.o-grid
													.c-navigation-mega-menu--sale-split__inner(style="background-color:#14625D;color:#FFF;")
														h2.c-heading.c-navigation-mega-menu--is-sale-type-feature__eyebrow Extra
															span.head-dash(style="margin-left: 6px; width: 36px;")

														h3.c-heading.c-navigation-mega-menu--is-sale-type-feature__title 30%

														.c-markdown.c-navigation-mega-menu--is-sale-type-feature__text Off sale. Select styles. Prices as shown. In stores

													.c-navigation-mega-menu--sale-split__inner
														-for(var j = 0; j < 2; j++)
															.c-navigation-mega-menu--sale-split__inner
																ul.c-navigation-sale-list
																	li.c-navigation-sale-list__item
																		ul.c-navigation__list
																			li
																				a.c-navigation--primary__list-heading(href="#") Footwear
																			-for(var i = 0; i < 3; i++)
																				li.c-navigation__list-item
																					a.c-navigation__link(href="#")
																						span.u-btn__content Footwear

																	li.c-navigation-sale-list__item
																		ul.c-navigation__list
																			-for(var i = 0; i < 2; i++)
																				li.c-navigation__list-item
																					a.wf-patron.link-basic-text(href="#") Footwear



							//header basket and favourites
							.cart-menu-list
								a(href="#")
									+icon-favourites()
								a(href="#")
									+icon-cart()
									span 0 items


		main
			block content

		footer.footer
			if (!hideHeaderAndFooter)
				.footer-container
					.centercontent
						.o-box-12.o-box-4-lg.footer-cta
							.text-box
								h5 Join the A-List and save 15%
								p Follow the latest trends, sales and styles.

							a.btn.btn--wide-padding.btn--small.btn--tertiary.wf-patron.o-box-12-xs Sign Up

						.o-box-12.o-box-8-lg
							nav.footer-link-list
								ul
									li.footer-link-list-col
										dl
											dt.footer-link-list-title Customer Care
											dd
												.footer-link-list-item
													a(href="#") Help center1
												.footer-link-list-item
													a(href="#") Return policy
												.footer-link-list-item
													a(href="#") Help center
												.footer-link-list-item
													a(href="#") Help center
												.footer-link-list-item
													a(href="#") Help center
												.footer-link-list-item
													a(href="#") Help center
									li.footer-link-list-col
										dl
											dt.footer-link-list-title About
											dd.full
												.footer-link-list-item
													a(href="#") ALDO Group
												.footer-link-list-item
													a(href="#") Careers

									li.footer-link-list-col
										dl
											dt.footer-link-list-title STAY CONNECTED
											dd.full.social
												.footer-link-list-item.social
													a(href="#")
														i
															+icon-facebook()
														span Facebook
												.footer-link-list-item.social
													a(href="#")
														i
															+icon-twitter()
														span Twiiter
												.footer-link-list-item.social
													a(href="#")
														i
															+icon-instagram()
														span Instagram
												.footer-link-list-item.social
													a(href="#")
														i
															+icon-youtube()
														span Youtube
												.footer-link-list-item.social
													a(href="#")
														i
															+icon-pinterest()
														span Pinterest




			.footer-legal
				.centercontent.o-container
					nav.footer-nav
						ul
							li
								a(href="#") Ethical sourcing
							li
								a(href="#") Legal notice
							li
								a(href="#") Privacy policy

					a.footer-logo-wrap(href="index.html")
						+logo('#fff', 'footer-logo')
					.footer-copyright ©2005-2017 The Aldo Group Inc. All rights reserved

		<!-- LOGIN OPTION POPUP -->
		include ../components/login-option-modal

		<!-- LOGIN FORM POPUP -->
		include ../components/login-modal

		<!-- ŞİFREMİ UNUTTUM POPUP -->
		include ../components/forgot-password-modal

			<!-- SEPET -->
		include ../components/basket

		.header-overlay.c-overlay

		<!-- mobile navigation menu -->
		.u-visible-xs
			nav.c-header__navigation
				.c-navigation__item.c-navigation__control
					button.u-btn.c-navigation__control-back
						+icon-arrow-left()
						span Back

					button.u-btn.c-navigation__control-close
						+icon-close()

				.c-navigation__scroller.is-level-0
					.c-navigation__item
						ul.c-navigation--primary__list
							- for (var i = 0; i < 10; i++)
								li.c-navigation--primary__list-item
									a.u-btn.c-navigation--primary__title-button(href="#") Women
										+icon-arrow-right()

									.c-navigation-mega-menu
										.c-navigation-mega-menu__wrapper
											.c-navigation--primary__list-item
												a.u-btn.c-navigation--primary__title-button(href="#") Women
													+icon-arrow-right()


					.c-navigation__item.c-navigation__item--secondary
						a.c-navigation__btn.c-navigation__btn-account
							+icon-track-order()
							span Track Order

					.c-navigation__item.c-navigation__item--secondary
						a.c-navigation__btn.c-navigation__btn-account
							+icon-signIn()
							span My Account

					.c-navigation__item.c-navigation__item--secondary
						.c-region-selector__icon-wrapper.c-region-selector__icon-wrapper--is-active.c-navigation__btn
							<svg aria-hidden="true" class="c-icon c-region-selector__icon-flag" fill="currentColor" focusable="false" version="1.1" viewBox="0 0 640 480"><g role="presentation"><path fill="#fff" d="M150.184 0h339.634v480H150.184z" data-reactid="734"></path><path fill="#bf0a30" d="M-19.632 0h169.817v480H-19.632zm509.45 0h169.816v480H489.819zM200.97 231.947l-13.188 4.507 61.365 53.856c4.64 13.841-1.612 17.921-5.597 25.181l66.62-8.456-1.735 67.042 13.798-.396-3.01-66.486 66.685 7.905c-4.127-8.716-7.8-13.343-3.982-27.28l61.326-51.023-10.732-3.885c-8.775-6.771 3.792-32.61 5.687-48.917 0 0-35.807 12.314-38.154 5.87l-9.12-17.517-32.574 35.784c-3.56.854-5.075-.562-5.91-3.57l15.05-74.78-23.832 13.403c-1.995.853-3.99.117-5.304-2.208l-22.922-45.993-23.635 47.765c-1.78 1.712-3.565 1.91-5.045.747l-22.691-12.73 13.621 74.197c-1.083 2.944-3.678 3.773-6.73 2.179l-31.14-35.379c-4.074 6.527-6.835 17.19-12.22 19.58-5.384 2.238-23.418-4.522-35.505-7.16 4.129 14.902 17.04 39.658 8.869 47.772z""></path></g></svg>
							| Canada

							ul.c-region-selector__language-list
								li.c-region-selector__language-item
									a.wf-patron.link-basic-text Francis

					.c-navigation__item.c-navigation__item--secondary.language-box
						a.c-navigation__btn.c-navigation__btn-account See all 97 countries
							+icon-arrow-right()

		script(type="text/javascript", src="/output/public/dist/js/bundle.js")
		block scripts