.breadcrumb{
  .breadcrumb__list{
    -ms-flex-align: baseline;
    align-items: baseline;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    .breadcrumb__item{
      padding-right: .8125rem;

      .breadcrumb__link{
        font-size: .875rem;
        line-height: 1.25rem;
        border-bottom: 1px solid transparent;
        color: #3A2E2C;
        display: inline-block;

        &:hover:not(:focus){
          border-color: #D8D5D5;
        }
      }

      .breadcrumb__slash{
        display: inline-block;
        padding-left: .3125rem;
        font-size: .875rem;
        line-height: 1.25rem;
      }
    }
  }

  @include minBreakpoint($small_desktop){
    .breadcrumb__list{
      .breadcrumb__item{
        padding-right: .8125rem;

        .breadcrumb__link{
          font-size: 1.5rem !important;
          line-height: 2.25rem !important;
        }

        .breadcrumb__slash{
          padding-left: .8125rem !important;
          font-size: 1.5rem !important;
          line-height: 2.25rem !important;
        }
      }
    }
  }
  @include minBreakpoint($phablet){
    .breadcrumb__list{
      .breadcrumb__item{
        padding-right: .625rem;
        .breadcrumb__slash{
          padding-left: .625rem;
        }
      }
    }
  }
  @include minBreakpoint($mobile){
    .breadcrumb__list{
      .breadcrumb__item{
        .breadcrumb__link, .breadcrumb__slash{
          font-size: 1.125rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}