/*Button css*/
.btn {
	position: relative;
	text-align: center;
	display: inline-block;
	transition: all $animation_speed $animation_easing;
	border-radius: 0;

	&.clear-btn {
		padding: 0;
		margin: 0;
		background-color: transparent;
		border: none;
	}

	&.u-link {
		line-height: 1;
	}

	&--small {
		font-size: .75rem;
		line-height: 1.125rem;
		padding-bottom: .8125rem;
		padding-top: .8125rem;

		&:not(.btn--wide-padding) {
			padding-left: .9375rem;
			padding-right: .9375rem;
		}
	}

	&--wide-padding {
		padding-left: 3.75rem;
		padding-right: 3.75rem;
	}

	&--block {
		display: block;
		width: 100%;
	}

	&--tertiary {
		border: 1px solid #7F7776;
		color: #3A2E2C;

		&:not(.btn--small) {
			font-size: .875rem;
			line-height: 1.3125rem;
			padding-bottom: 1.125rem;
			padding-top: 1.125rem;

			&:not(.btn--wide-padding) {
				padding-left: 1.5625rem;
				padding-right: 1.5625rem;
			}
		}

		&:not(.btn--disabled):hover {
			background-color: #3A2E2C;
			border-color: transparent;
			color: $white;
		}
	}

	&--white-button {
		background-color: $white;
		border-color: $white;
	}

	&--primary {
		background-color: #3300AD;
		border: 1px solid #3300AD;
		color: $white;

		&:not(.btn--disabled):hover {
			background-color: #230077;
			border-color: #230077;
		}
		&:not(.btn--small) {
			font-size: .875rem;
			line-height: 1.3125rem;
			padding-bottom: 1.125rem;
			padding-top: 1.125rem;
		}
	}

	&--second {
		background-color: #3A2E2C;
		border: 1px solid #3A2E2C;
		color: $white;

		&:not(.btn--disabled):hover {
			background-color: #3300AD;
			border-color: #3300AD;
		}
	}

	&--regular {
		&:not(.btn--small) {
			font-size: .875rem;
			line-height: 1.3125rem;
			padding-bottom: 1.125rem;
			padding-top: 1.125rem;
		}
	}

	&--facebook {
		background-color: #49639F;
		color: $white;

		&:not(.btn--disabled):hover {
			background-color: #526FB0;
		}
	}

	&--disabled {
		background-color: #E5E5E5;
		border-color: #E5E5E5;
		color: #767676;
		-webkit-tap-highlight-color: transparent;
	}

	&--edit {
		font-size: .75rem;
		line-height: 1.125rem;
		padding: .375rem .5625rem;
		background-color: transparent;
		position: absolute;
		right: 0;
		top: 0;

		@include minBreakpoint($mobile)  {
			padding: .75rem 1.25rem;
		}
	}
}