/*Custom checkbox and radio css*/
.checkbox-label {
	line-height: 1.5rem;
}
.checkbox {
	display: inline-block;
	height: 1.125rem;
	margin-right: .625rem;
	width: 1.125rem;
	vertical-align: middle;

	@include minBreakpoint($mobile) {
		width: 1.5rem;
		height: 1.5rem;
	}

	input{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		margin: 0;
    	cursor: pointer;

		&:checked + span {
			background-image: url("../img/icons/check.svg");
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: 13px;
			border: 2px solid #3A2E2C;
		}
	}
	span {
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid #cdcdcd;
	}
}

// Custom input radio
.radio-label {
	position: relative;
	display: inline-block;
	display: -ms-flexbox;
	display: flex;
	line-height: 1.5rem;

	.c-form-field-header-label__header {
		font-size: 1.125rem;
		line-height: 1.5rem;
		font-weight: 400;
		margin-bottom: 0;
		margin-top: -.125rem;

		@include minBreakpoint($mobile) {
			font-size: 1.5rem;
			line-height: 2.25rem;
			margin-top: -.25rem;
		}
	}
	.c-form-field-header-label__subhead {
		font-size: .875rem;
		line-height: 1.25rem;
	}
}
.radio {
	position: relative;
	display: inline-block;
	margin-right: .625rem;
	vertical-align: middle;

	&.highlight {
		input:not(:checked) + span {
			color: #7F7776;
		}
	}

	input{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		margin: 0;
    	cursor: pointer;

		&:checked + span {
			border-color: #3A2E2C;
			border-width: 2px;

			&::before {
				background-color: #3A2E2C;
				border-radius: 50%;
				content: " ";
				display: inline-block;
				height: .625rem;
				left: 4px;
				position: absolute;
				top: 4px;
				transform: none;
				width: .625rem;

				@include minBreakpoint($mobile) {
					height: .75rem;
					left: 6px;
					width: .75rem;
					top: 6px;
				}
			}
		}
	}
	span {
		border: 1px solid #BAB6B5;
		display: inline-block;
		height: 1.125rem;
		vertical-align: bottom;
		width: 1.125rem;
		border-radius: 50%;

		@include minBreakpoint($mobile) {
			height: 1.5rem;
			width: 1.5rem;
		}
	}
}

/*Custom select*/
$height: 40px;

.select {
	position: relative;
	display: inline-block;
	border-bottom: 1px solid #BAB6B5;

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: url('../img/icons/down.svg');
		background-position: 100% 5px;
		background-repeat: no-repeat;
		background-size: 8px;
		border: none;
		padding: 0 0 .8125rem;
		background-color: transparent;
		padding-right: 1.25rem;
		color: #767676;
		outline: none;
	}

	&--small {
		select {
			background-position: 100% 3px;
			font-size: .75rem;
			line-height: .875rem;
			padding-bottom: .3125rem;
		}
	}
}