
/* 
*	Font Family
*/

@font-face {
  font-family: Sectra;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sectra/regular/0790ede8ea775513223cc889ca177e09.woff2) format("woff2"), url(../fonts/sectra/regular/2ada0c1c0caf77b9f852ff4f0c5f1ada.woff) format("woff")
}
@font-face {
  font-family: Sectra;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sectra/regular-italic/3a0a6a985e9cf7963814c37b9680f958.woff2) format("woff2"), url(../fonts/sectra/regular-italic/178a5a8e44b3dbb82a2df097946ca842.woff) format("woff")
}
@font-face {
  font-family: Sectra;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/sectra/bold/9910bf5481d09032f4c380650775a3db.woff2) format("woff2"), url(../fonts/sectra/bold/b747749b6889d9be78dc360290f3d7ce.woff) format("woff")
}
@font-face {
  font-family: Patron;
  font-style: normal;
  font-weight: 400;
  src: local("Patron Regular"), url(../fonts/patron/regular/99f43c6812bc3c5496e7b098857b3b45.woff2) format("woff2"), url(../fonts/patron/regular/bc204387c6e95a7589fabd3eddc2aab7.woff) format("woff")
}
@font-face {
  font-family: Patron;
  font-style: normal;
  font-weight: 700;
  src: local("Patron Bold"), url(../fonts/patron/bold/db660f36aacd1d569b4ebe10f629726c.woff2) format("woff2"), url(../fonts/patron/bold/560597b6585c9b6902cbe8af942cc42e.woff) format("woff")
}