/*
* Form element css
*/

.form-field {
    position: relative;

    &.invalid {
        label.error {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: .75rem;
            line-height: .75rem;
            color: #C60A00;
            width: 100%;

            @include minBreakpoint($mobile) {
                font-size: .875rem;
                line-height: .875rem;
            }
        }

        input[type="text"], input[type="password"] {
            border-bottom: 2px solid #C60A00;
            padding-bottom: .75rem;
        }

        .select {
            border-bottom-color: #C60A00;
        }

        input[type="text"], input[type="password"], .select {
            background-image: url('../img/icons/error.svg');
            background-position: 100% 2px;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 2.125rem;

            @include minBreakpoint($small_desktop) {
                background-size: 24px;
            }
        }
    }

    input[type="text"], input[type="password"] {
        border-bottom: 1px solid #BAB6B5;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        padding: 0 0 .8125rem;
        color: #3A2E2C;
        width: 100%;
        position: relative;
        z-index: 10;
        background-color: transparent;
        outline: none;
    }

    input[type="text"], input[type="password"], select {
        color: #3A2E2C;
        font-size: 1.125rem;
        line-height: 1.4375rem;
        margin-bottom: 1.125rem;
        margin-top: 1.875rem;

        @include minBreakpoint($small_desktop) {
            font-size: 1.5rem;
            line-height: 1.875rem;
        }
        @include minBreakpoint($mobile) {
            margin-bottom: 1.25rem;
        }

        &:focus, &.focus  {
            border-bottom: 2px solid #3300AD;

            & + .field-name, & + .field-name {
                color: #3A2E2C;
                font-size: .875rem;
                top: 0;
            }
        }
    }

    .select {
        width: 100%;

        select {
            width: 100%;
            padding-bottom: 0;
        }
    }

    label.field-name {
        color: #7F7776;
        left: 0;
        margin-top: .1875rem;
        overflow: hidden;
        position: absolute;
        text-overflow: ellipsis;
        top: 30px;
        transition: font-size .3s cubic-bezier(.19,1,.22,1),top .3s cubic-bezier(.19,1,.22,1);
        white-space: nowrap;
        font-size: 1.125rem;
        line-height: 1.4375rem;

        @include minBreakpoint($small_desktop) {
            font-size: 1.5rem;
            line-height: 1.875rem;
        }
    }

    .show-password {
        @include center(false, true);
        right: 0;
        z-index: 999;
    }

    &__label {
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: #3A2E2C;
    }
}