/*Title css*/
.title {
	display: inline-block;

	&.page-title {
		@include breakpoint($phablet) {
			font-size: 2.25rem;
			font-weight: 700;
			line-height: 2.25rem;
			margin: 0;
			padding-bottom: 1.5rem;
		}
		@include minBreakpoint($phablet) {
			font-size: 3rem;
			font-weight: 700;
			line-height: 3rem;
		}
		@include minBreakpoint($small_desktop) {
			font-size: 4.5rem;
			font-weight: 700;
			line-height: 4.5rem;
		}
	}
}

.u-module-heading {
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 1.5rem;
	margin: 0;
	color: #3A2E2C;

	@include minBreakpoint($mobile) {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 2.25rem;
	}
}