/*
* Validation css
*/

.c-form-error-handling {
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;

    .o-well {
        background-color: #F5F3F5;
        border: 1px solid transparent;
        padding: 1.25rem .9375rem;

        &--is-error {
            background-color: #EBD6D8;
            color: #C60A00;
            padding: 1.25rem;
        }

        .c-icon {
            fill: #C60A00;
            height: 1.25rem;
            margin-right: .625rem;
            width: 1.25rem;
            display: inline-block;
            vertical-align: middle;
        }
    }
}