/*
* Font global variable
*/

$font_primary: Sectra;
$font_second: Patron;

/*
* Color global variable
*/
$black 						: #000;
$white						: #fff;

/*Reset.scss'teki a color */
$default_link_color: #759cb1;

/*Reset.scss'teki Input font*/
$input_font: $font_primary;

/*
* 	Font size global variable
*/
$font_size_xxl		: 48px;
$font_size_xl		: 36px;
$font_size_l 		: 24px;
$font_size_m 		: 18px; 
$font_size_s 		: 16px;
$font_size_xs 		: 12px;


/*
* Media query size variable
*/
$small_desktop	: 68.75em;
$tablet			: 53.75rem;
$phablet		: 47.5em;
$mobile			: 34.375em;

/*
* Animate delay
*/
$animation_speed: .5s;
$animation_easing: ease;